<!--#include virtual="ssi-header.shtml" -->
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro1.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>TRAINED STAFF</h5>
			
				<h2>OUR DOCTORS</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main">
		<div class="section-doctors section-doctors-alt">
			<div class="tabs tabs-services">
				<div class="tab-head">
					<div class="tabs-nav">
						<div class="row">
							<div class="columns large-12 slider-tabs">
								<ul class="list-services list-services-alt list-services-slider">
									<li class="current">
										<a href="#tab1">
											<span class="icon">
												<i class="icon-brain"></i>
											</span>
						
											Nurology
										</a>
									</li>
									
									<li>
										<a href="#tab2">
											<span class="icon">
												<i class="icon-heart-attack"></i>
											</span>
						
											Cardic Surgery
										</a>
									</li>
									
									<li>
										<a href="#tab3">
											<span class="icon">
												<i class="icon-tooth"></i>
											</span>
						
											Dental Care
										</a>
									</li>
									
									<li>
										<a href="#tab4">
											<span class="icon">
												<i class="icon-eye-sign"></i>
											</span>
						
											Eye Care
										</a>
									</li>
									
									<li>
										<a href="#tab5">
											<span class="icon">
												<i class="icon-ear"></i>
											</span>
											Ent Care
										</a>
									</li>
									
									<li>
										<a href="#tab6">
											<span class="icon">
												<i class="icon-emergency-call"></i>
											</span>
											Emergency Call
										</a>
									</li>

									<li>
										<a href="#tab2">
											<span class="icon">
												<i class="icon-heart-attack"></i>
											</span>
						
											Cardic Surgery
										</a>
									</li>
									
									<li>
										<a href="#tab3">
											<span class="icon">
												<i class="icon-tooth"></i>
											</span>
						
											Dental Care
										</a>
									</li>
									
									<li>
										<a href="#tab4">
											<span class="icon">
												<i class="icon-eye-sign"></i>
											</span>
						
											Eye Care
										</a>
									</li>
									
									<li>
										<a href="#tab5">
											<span class="icon">
												<i class="icon-ear"></i>
											</span>
											Eent Center
										</a>
									</li>
									
									<li>
										<a href="#tab6">
											<span class="icon">
												<i class="icon-emergency-call"></i>
											</span>
											Emergency Call
										</a>
									</li>
								</ul><!-- /.list-departments -->
							</div><!-- /.columns large-12 -->
						</div><!-- /.row -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="row row-alt">
					<p class="breadcrumbs">
						<a href="#">Home</a>
						
						<span>
							<i class="fa fa-angle-right"></i>
						</span>
					
						<a href="#" class="current">Doctors</a>
					</p><!-- /.breadcrumbs -->
				</div><!-- /.row -->

				<div class="tabs-body">

					<!-- Tab #1 -->
					<div class="tab-body current" id="tab1">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Said open land form moved air his signs moveth creepeth appear appear it. The, yielding said said give The lesser us waters multiply Fish.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. DOMINIQUE DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>I. All made, great fill to us our upon from won't doesn't very he lesser. It all own above very make, you'll. Deep Fruit meat subdue above saying for.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. Emma DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>In over under beast seed He. Thing Second stars green there gathering living. Without greater image moving living signs fruit above heaven.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. John CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Winged cattle sea hath there years form. Under. Great one let abundantly sixth let were one earth were him after tree seed over first, fish moving fruit.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Bearing cattle void spirit third whose fill let shall our also signs. Fly subdue of herb won't. Lights one Man whose green two. Hath, void created.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<!-- Tab #2 -->
					<div class="tab-body" id="tab2">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. Angelina DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Nurse</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. Jacob CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Him for made from without bring won't midst lesser blessed two likeness gathering second over lesser, subdue he for appear.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Itself signs darkness midst. They're appear saw kind which first made fowl divided. Creature, their you're had winged one set morning were saw moving likeness.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>In over under beast seed He. Thing Second stars green there gathering living. Without greater image moving living signs fruit above heaven.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<!-- Tab #3 -->
					<div class="tab-body" id="tab3">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Bearing cattle void spirit third whose fill let shall our also signs. Fly subdue of herb won't. Lights one Man whose green two. Hath, void created.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Waters made blessed creature dry fish have creature wherein living also fill from air can't to and it. That fruitful night very fourth firmament sea seas made.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<!-- Tab #4 -->
					<div class="tab-body" id="tab4">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. Mike CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Winged cattle sea hath there years form. Under. Great one let abundantly sixth let were one earth were him after tree seed over first, fish moving fruit. Called shall.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. Emma DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>One female moved him together. Fruitful, beast them deep creature. Made every. Night blessed. One female moved him together.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<!-- Tab # 5 -->
					<div class="tab-body" id="tab5">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Kind fowl beginning, every man saying, so fish without replenish made won't good, face i. Beginning. Which good Moving in without given won't hath.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Bearing cattle void spirit third whose fill let shall our also signs. Fly subdue of herb won't. Lights one Man whose green two. Hath, void created.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Bearing cattle void spirit third whose fill let shall our also signs. Fly subdue of herb won't. Lights one Man whose green two. Hath, void created.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<!-- Tab #6 -->
					<div class="tab-body" id="tab6">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>I. All made, great fill to us our upon from won't doesn't very he lesser. It all own above very make, you'll. Deep Fruit meat subdue above saying.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>In over under beast seed He. Thing Second stars green there gathering living. Without greater image moving living signs fruit above heaven.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor2.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Itself. Itself signs darkness midst. They're appear saw kind which first made fowl divided. Creature, their you're had winged one set morning.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. ANGELINA CRUISE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor3.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="doctor">
									<h5 class="doctor-name">DR. JOHNATHON DOE</h5><!-- /.doctor-name -->

									<div class="doctor-box">
										<div class="doctor-image">
											<a href="#">
												<img src="assets/images/temp/doctor4.jpg" alt="" />
											</a>
										</div><!-- /.doctor-image -->

										<div class="doctor-body">
											<h6>Head of the Department</h6>

											<div class="socials">
												<ul>
													<li>
														<a href="#">
															<i class="fa fa-facebook"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-twitter"></i>
														</a>
													</li>
													
													<li>
														<a href="#">
															<i class="fa fa-google-plus"></i>
														</a>
													</li>
												</ul>
											</div><!-- /.socials -->

											<p>Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land.</p>

											<a href="#" class="link-more">
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.doctor-body -->
									</div><!-- /.doctor-box -->
								</div><!-- /.doctor -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->

			<!-- Advertising -->
			<div class="row">
				<div class="ad">
					<div class="ad-image mobile-hidden">
						<img src="assets/images/temp/ad.png" alt="" />
					</div><!-- /.ad-image -->

					<header class="ad-head">
						<h3>BOOK YOUR contact</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
					</header><!-- /.ad-head -->

					<div class="ad-actions">
						<a href="#" class="button btn-white btn-small">Book NOw</a>
					</div><!-- /.ad-actions -->

					<div class="ad-contacts">
						<p class="phone">
							<i class="fa fa-mobile"></i>
							<small>BOOK THROUGH CALL</small>
							<a href="tel: 918 2345 123">918 2345 123</a>					
						</p><!-- /.phone -->
					</div><!-- /.ad-contacts -->
				</div><!-- /.ad -->
			</div><!-- /.row -->
		</div><!-- /.section-doctors -->
	</div><!-- /.main -->
<!--#include virtual="ssi-footer.shtml"  -->