<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body>
<div class="wrapper">
	<%- include('../../common/header') -%>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/hospitalinfo/notice.png" alt="" />
		</div>
	</div>

	<div class="main grey main-container">
        <div class="body-text large" style="width:1200px;height:1000px;background-color:#fff;position:relative;padding-top:80px;">
            <div class="text-header">공지사항</div>
            <div class="text-body">
            	<div class="row">
					<table id="appointmentList" style="width:100%;">
						<tr class="tableTitle">
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>날짜</th>
						</tr>
						<% list.forEach(function(row, idx){ 
							var cls;
							if(idx % 2 == 0) cls = "danger";  
						  	else cls = "active";%>
						<tr class=<%= cls %>>
					        <td class="seq"><%= row.seq%></td>
					        <td><a href="/category/notice/<%= row.seq%>"><%= row.title %></a></td>
					        <td><%= row.writer %></td>
					        <td><%= row.input_dte %></td>
				        </tr>                           
						<%})%>
					</table>
				</div>
				<div class="row">
					<div class="paging" style="text-align:center;margin-top:0px;">
					  <ul id="pagination" class="pagination-sm"></ul>
					</div>
				</div>
            </div>
        </div>
	</div>

<%- include('../../common/footer') -%>
</div><!-- /.wrapper -->

<script src="/assets/javascripts/jquery.twbsPagination.min.js"></script>

<script>

	$(document).ready(function(){
		$('#pagination').twbsPagination({
		    totalPages: Math.ceil(<%=cnt[0].cnt / 10 %>),
		    visiblePages: 5,
					href: '?page={{number}}'
		});
	});
</script>      
</body>
</html>
