<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head_without_vendor') -%>

<link rel="stylesheet" href="/summernote-master/dist/summernote.css" />
<script src="/summernote-master/dist/summernote.min.js"></script>

<body>
<div class="wrapper">
	<%- include('../../common/header') -%>

<% 
    var seq = '';
	var writer = '관리자';
	var title = '';
	var content = '';
    var x = '0';
    var y = '0';
    var width = '200';
    var height = '100';
    var use = 'N';
    var input_psn = '';

	if(data != null){
		writer = data[0].writer;
		title = data[0].title;
		content = data[0].content;
        x = data[0].x;
        y = data[0].y;
        width = data[0].width;
        height = data[0].height;
        use = data[0].use_tag;
        seq = data[0].seq;
        input_psn = data[0].input_psn;
	}
%>

<div class="row">
	<form data-toggle="validator" role="form">
		<div class="body-text large" style="top:30px;position:relative;">
	        <div class="text-header">팝업 공지</div>
	        <div class="text-body">
	        </div>
	    </div>
	    <br><br>

	    <div class="form-group">
			<div class="col-md-2">작성자 </div> 
			<div class="col-md-10">
				<input id="name" type="text" class="vali" value="<%=input_psn%>" maxlength="10" required>
			</div>
		</div>
		
	    <div class="form-group">
			<div class="col-md-2">제목 </div> 
			<div class="col-md-10">
				<input id="title" type="text" class="vali" value="<%=title%>" maxlength="50" required>
			</div>
		</div>
        
        <div class="form-group">
			<div class="col-md-2">X/Y/너비/높이</div> 
			<div class="col-md-10">
				<input id="x" type="text" class="vali" value="<%=x%>" maxlength="4" style="float:left;width:150px;" placeholder="X좌표">
                <input id="y" type="text" class="vali" value="<%=y%>" maxlength="4" style="float:left;width:150px;" placeholder="Y좌표">
                <input id="width" type="text" class="vali" value="<%=width%>" maxlength="4" style="float:left;width:150px;" placeholder="팝업너비">
                <input id="height" type="text" class="vali" value="<%=height%>" maxlength="4" style="float:left;width:150px;" placeholder="팝업높이">
			</div>
		</div>
        
        <div class="form-group">
			<div class="col-md-2">사용여부</div> 
			<div class="col-md-10">
				<select id="use" style="width:150px;">
                    <option value="Y" <% if(use == 'Y'){%>selected<%}%> >Y</option>
                    <option value="N" <% if(use == 'N'){%>selected<%}%> >N</option>
                </select>
			</div>
		</div>

        <div class="form-group">
			<div class="qna-header">내용 입력</div>
			<textarea id="content" class="vali" style="width:100%;height:500px;"  maxlength="4000"><%=content%></textarea>
		</div>

        <div style="float:right;clear:both;margin:1rem 0px 3rem 0px;">
            <div class="form-group form-actions" style="float:left;margin-right:2rem;">
                <div id="updatePopup" class="button btn-light-blue qna-body" style="color:#fff;">
                    작성완료
                </div>
                <% if(seq != ''){%>
                    <div id="deletePopup" class="button btn-light-blue qna-body" style="color:#fff;background-color:#f88721;">
                        삭제하기
                    </div>
                <%}%>
            </div>
        </div>
	</form>
</div>


<%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>

var seq = '<%=seq%>';

$(document).ready(function(){
    $('#content').summernote({
	  minHeight: 300,             // set minimum height of editor
	  maxHeight: null,             // set maximum height of editor
	  focus: true,                  // set focus to editable area after initializing summernote
	  callbacks: {
	  	onImageUpload : function(files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
        }
	  }
	});

	function sendFile(file, editor, welEditable) {
	    data = new FormData();
	    data.append("file", file);
	    $.ajax({
	        data : data,
	        type : "POST",
	        url : "/users/popup/image_upload",
	        cache : false,
	        contentType : false,
	        processData : false,
	        success : function(data) {
	             $('#content').summernote('editor.insertImage', data.url);
	        }
	    });
	}
    
    $('#deletePopup').on('click', function(){
        if(!confirm('팝업을 삭제하시겠습니까?')) return;
        
        $.delete('/users/popup/' + seq, null, function(data){
            if(data == 'T'){
                alert('팝업이 삭제되었습니다.');
                location.href = '/users/admin?tab=5';
            } else {
                alert(data);
            }
        });
    });
    
	$('#updatePopup').on('click', function(){
		if(!checkValidation()) return;

		if(!confirm('팝업 설정을 저장(수정) 하시겠습니까?')) return;

		var param = {
			input_psn:$('#name').val(),
			title:$('#title').val(),
			content:$('#content').val(),
            x:$('#x').val(),
            y:$('#y').val(),
            width:$('#width').val(),
            height:$('#height').val(),
            use_tag:$('#use').val(),
			seq:seq
		};

		if(typeof seq == 'undefined' || seq == null || seq == ''){
			$.put('/users/popup/0', param, function(data){
				if(data == 'T'){
					alert('팝업이 등록되었습니다.');
					location.href = '/users/admin?tab=5';
				} else {
					alert(data);
				}
			});
		} else {
			$.put('/users/popup/' + seq, param, function(data){
				if(data == 'T'){
					alert('팝업이 수정되었습니다.');
					location.href = '/users/admin?tab=5';
				} else {
					alert(data);
				}
			});
		}
	});
});

</script>      
</body>
</html>