<!DOCTYPE html>
<html lang="en">
	
<%- include('../../common/head_without_vendor') -%>

<link rel="stylesheet" href="/summernote-master/dist/summernote.css" />
<script src="/summernote-master/dist/summernote.min.js"></script>

<body>
<div class="wrapper">
	<%- include('../../common/header') -%>

<% 
	var writer = '관리자';
	var title = '';
	var content = '';
	var admin = false;

	if(typeof ss.admin != 'undefined' && ss.admin == 'Y' && ss.name != ''){
		admin = true;
	}

	if(data != null){
		writer = data[0].writer;
		title = data[0].title;
		content = data[0].content;
	}
%>

<div class="row">
	<form data-toggle="validator" role="form">
		<div class="body-text large" style="top:30px;position:relative;">
	        <div class="text-header">공지사항</div>
	        <div class="text-body">
	        </div>
	    </div>
	    <br><br>

	    <div class="form-group">
			<div class="qna-header">이름 </div> 
			<div class="qna-body">
				<input id="name" type="text" class="vali" value="<%=writer%>" style="width:200px;display:inline;" maxlength="10" required>
			</div>
		</div>
		
	    <div class="form-group">
			<div class="qna-header">제목 </div> 
			<div class="qna-body">
				<input id="title" type="text" class="vali" value="<%=title%>" style="width:800px;"  maxlength="50" required>
			</div>
		</div>

	    <div class="form-group">
			<div class="qna-header">내용 입력</div> 
			<textarea id="content" style="width:100%;height:500px;" class="vali" maxlength="4000"><%=content%></textarea>
		</div>

		<% if(admin){%>
			<div style="float:right;clear:both;margin:1rem 0px 3rem 0px;">
				<div class="form-group form-actions" style="float:left;margin-right:2rem;">
					<div id="updateNotice" class="button btn-light-blue qna-body" style="color:#fff;">
						작성완료
					</div>
				</div>
			</div>
		<%}else{%>
			<div style="float:right;clear:both;margin:1rem 0px 3rem 0px;">
				<div class="form-group form-actions">
					<a href="/category/notice">
						<div class="button btn-light-blue qna-body" style="color:#fff;">
							목록으로
						</div>
					</a>
				</div>
			</div>
		<%}%>
	</form>
</div>


<%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>

var seq = '<%=seq%>';
var admin = false;
<% if(admin){%>
	admin = true;
<%}%>

$(document).ready(function(){
	if(!admin){
		$('input').attr('readonly', 'true');
		$('textarea').attr('readonly', 'true');
	}

	$('#content').summernote({
	  minHeight: 300,             // set minimum height of editor
	  maxHeight: null,             // set maximum height of editor
	  focus: true,                  // set focus to editable area after initializing summernote
	  callbacks: {
	  	onImageUpload : function(files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
        }
	  }
	});
	
	if(!admin){
		$('#content').summernote('disable')
	}
    
    function sendFile(file, editor, welEditable) {
	    data = new FormData();
	    data.append("file", file);
	    $.ajax({
	        data : data,
	        type : "POST",
	        url : "/category/notice/image_upload",
	        cache : false,
	        contentType : false,
	        processData : false,
	        success : function(data) {
	             $('#content').summernote('editor.insertImage', data.url);
	        }
	    });
	}

	$('#updateNotice').on('click', function(){
		if(!checkValidation()) return;

		if(!confirm('공지사항 내용을 저장(수정) 하시겠습니까?')) return;

		var param = {
			writer:$('#name').val(),
			title:$('#title').val(),
			content:$('#content').val(),
			seq:seq
		};

		if(typeof seq == 'undefined' || seq == null || seq == ''){
			$.post('/category/notice', param, function(data){
				if(data == 'T'){
					alert('공지사항이 등록되었습니다.');
					location.href = '/users/admin?tab=3';
				} else {
					alert(data);
				}
			});
		} else {
			$.put('/category/notice/' + seq, param, function(data){
				if(data == 'T'){
					alert('공지사항이 수정되었습니다.');
					location.href = '/users/admin?tab=3';
				} else {
					alert(data);
				}
			});
		}
	});
});

</script>      
</body>
</html>