<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/nose/nose.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->
	
		<style>
		.list-services li{
			width: 12.5%;
            position:relative;
            margin:auto;
		}

		.paging a{
			height:25px;
		}
	</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>입체코 성형</a></li>
                                <li><a href="#tab2" itemprop='name'>콧대 성형</a></li>
                                <li><a href="#tab3" itemprop='name'>코끝 성형</a></li>
                                <li><a href="#tab4" itemprop='name'>매부리코 성형</a></li>
                                <li><a href="#tab5" itemprop='name'>휜코 성형</a></li>
                                <li><a href="#tab6" itemprop='name'>콧볼 성형</a></li>
                                <li><a href="#tab7" itemprop='name'>윤곽코/양악후</a></li>
                                <li><a href="#tab8" itemprop='name'>코 재성형</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">입체 코성형</div>
                            <div class="text-body">
                                우리 얼굴의 정중앙에 위치한 코는 <span class="address">첫인상을 결정하는 중요한 역할</span>을 하기 때문에<br>
                                이마에서 코를 지나 턱선끝까지의 <span class="address">얼굴전체 윤곽을 고려</span>하여야만<br>
                                <span class="address">볼륨감있고 세련된 코가 완성</span>됩니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_img1.png" style="position:absolute;right:0;top:150px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>콧등이 고르지 못하고 튀어나온 경우</p>
                                <p> 낮은 콧대와 코끝 개선이 필요한 경우</p>
                                <p> 코의 길이가 짧거나 너무 긴 경우</p>
                                <p> 코끝이 뭉특하거나 들리고 퍼진 경우</p>
                                <p> 콧대가 휘어져 호흡이 불편한 경우</p>
                                <p> 선천적, 후천적인 이유로 코모양이 불만족스러운 경우</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle" style"border-bottom:0px solid #fff;">효과</div>
                                <div class="text-body" style="height:240px;">
                                    교정이나 잇몸 성형없이<br>
                                    <span class="address">돌출입의 개선효과, 지방손상을 최소화</span>하며<br>
                                    높은 생착률을 가지고 있습니다.<br>
                                    뼈를 깍지 않고도<br>
                                    <span class="address">안면윤곽의 효과</span>를 볼 수 있습니다.
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body" style="height:240px;">
                                    얼굴의 패턴을 분석한 데이터로<br>
                                    <span class="address">얼굴 T-zone을 조화롭게</span>만들어<br>
                                    수술한 티가 나지 않으면서도<br>
                                    얼굴의 변화를 주어<br>
                                    얼굴 균형을 맞춥니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>수술 직후 앉은 자세를 유지하고 수술부위에 자극을 주지 않도록 주의합니다.</p>
                                <p>수술 후 2~3일간은 안면표정을 크게 찡그리지 않도록 합니다.</p>
                                <p>수면시 베게를 높게 하여 수술부우를 심장보다 높게 합니다.</p>
                                <p>회복기간 동안 술담배를 삼가하며 수술부위를 청결히 유지합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">콧대 성형</div>
                            <div class="text-body">
                                얼굴의 옆 라인이 자연스럽기 위해서는 <span class="address">이마와 턱</span>그리고 바로 그 중심의 <span class="address">코</span>가 조화를 이뤄야 합니다.<br>
                                얼굴의 비율과 조화는 코를 기준으로 <span class="address">좌우대칭</span>이 이루어져야만<br>
                                얼굴이 <span class="address">전체적인 조화</span>를 이룰 수가 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A2.png" style="position:absolute;right:100px;top:300px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>코가 낮아 얼굴이 넓어 보이는 경우</p>
                                <p>코끝이 뭉특하고 짧아 코가 뚜렷하지 않는 경우</p>
                                <p>얼굴에 입체감을 주고 싶은 경우</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:280px;">
                                    얼굴의 <span class="address">좌우대칭</span>을 이루고<br>
                                    <span class="address">입체감</span>을 주어<br>
                                    <span class="address">뚜렷한 인상</span>을 심어 줄 수 있습니다.<br>
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:280px;">
                                    코 안쪽을 절개하여 흉터에 대한 걱정이 없습니다.<br>
                                    동양인에게 가장 적합하게 디자인 된 보조물을 사용하여<br>
                                    <span class="address">자연스러움</span>을 한층 더 돋보이게 합니다.<br>
                                    코끝부터 미간까지 어색하지 않고<br>
                                    <span class="address">부드럽고 세련</span>된 콧대를 만들어 드립니다.<br>
                                    전신마취를 하지 않아 수술 직 후 환자가<br>
                                    직접 코 모양을 확인 할 수 있습니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>수술 후 3일간 앉아서 주무시는 것을 권장합니다.</p>
                                <p>수술 후 일주일간 세안은 피해야 합니다.</p>
                                <p>코나 귀에 물이 닿아 테이프가 젖은 경우 드라이기로 조심히 말려주세요.</p>
                                <p>선글라스 착용은 두달 뒤부터 가능합니다.</p>
                                <p>수영등의 과도한 운동은 6개월 후 부터 가능합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">코 끝 성형</div>
                            <div class="text-body">
                                코 끝 모양에 따라 얼굴인상이 달라질 수 있는 만큼<br>
                                처진 코 끝은 <span class="address">세워주고</span> 뭉뚝한 코 끝은 <span class="address">날렵하게</span> 정돈하여<br>
                                부족하고 밋밋한 인상을 개선 할 수 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A3.png" style="position:absolute;right:100px;top:300px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>동양인의 특징인 낮고 힘없이 처진 밋밋한 코 끝</p>
                                <p>코 끝이 주저 앉았거나 휘어진 경우</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:240px;">
                                    코 끝 성형으로 낮은 코 끝이 세워져<br>
                                    코 끝의 <span class="address">입체감</span>을 향상시키며,<br>
                                    특히 콧대와 같이 성형 시<br>
                                    얼굴 전체의 <span class="address">입체감</span>을 최대화 할 수 있습니다.<br>
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:240px;">
                                    코 끝은 <span class="address">자가연골</span>을 이용하기 때문에<br>
                                    부작용, 염증의 위험이 적고<br>
                                    회복이 빠르며 <span class="address">자연스러운 결과</span>를 창출합니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>실밥을 제거하기까지 약 5~7일이 소요되므로 일상생활은 5일 이후부터 하시는 것이 좋습니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">매부리코 성형</div>
                            <div class="text-body">
                                콧등이 튀어 나온 코를 매부리코라고 하지만<br>
                                실제론 코끝이 처져있어 매부리코처럼 보이는 경우도 있습니다.<br>
                                내일N의 <span class="address">축비술</span>이라 불리는 매부리코 성형은<br>
                                튀어나온 콧등은 <span class="address">낮춰</span>주고, 처진 코끝은 <span class="address">올려</span>주고, 긴 코는 <span class="address">줄여</span>주며,<br>
                                코뼈가 넓은 경우는 <span class="address">모아</span>주는 수술을 시도합니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A4.png" style="position:absolute;right:50px;top:250px;max-width:35%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>매부리코</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:240px;">
                                    튀어나온 코뼈를 낮추어<br>
                                    얼굴 중심을 결정짓는 코가 자리를 바로 잡아<br>
                                    얼굴 <span class="address">좌우대칭</span>을 맞추어 줄 뿐 아니라,<br>
                                    일명 마귀할멈이라는 이미지를<br>
                                    완전히 <span class="address">개선</span> 할 수 있습니다.<br>
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:240px;">
                                    콧등의 튀어나온 부분을<br>
                                    깍아야 하는 시술이므로<br>
                                    차후에 코막힘 증세가 있으나<br>
                                    <span class="address">이비인후과 전문의</span>와 함께하는<br>
                                    내일N은 그 증상의 초래를 최소화 시킵니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>수술 후 코가 안정되는 기간은 약 한달입니다.</p>
                                <p>이후 이면 이 한 달 동안은 2~3차례정도 병원을 내원하여 관리를 받으셔야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">휜코 성형</div>
                            <div class="text-body">
                                코뼈가 휘어진 휜코는 코막힘, 비염등을 유발 할 수 있습니다.<br>
                                휘어진 코를 바로 잡음으로써 외형상의 <span class="address">아름다움</span>과 <span class="address">건강</span>상의 문제점을 <br>
                                개선 할 수가 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A5.png" style="position:absolute;right:50px;top:300px;max-width:35%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>얼굴의 균형을 망치는 코가 휘어진 코</p>
                                <p>선천적, 후천적 외상에 의한 휜코</p>
                                <p>휜 정도는 심하지 않으나, 그로 인한 코질환이 있는 경우 </p>
                                <p>코 안쪽의 비중격 연골이 휜 경우</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:260px;">
                                    휘어진 콧대가 바로 서면서<br>
                                    얼굴 전체의 <span class="address">균형</span>을 바로 잡고,<br>
                                    호흡 곤란 비염등의 건강상의 문제 또한 <br>
                                    <span class="address">개선</span> 할 수 있습니다.<br>
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:260px;">
                                    휘어진 원인과 정도를 진단 후 조절할 부위를 결정해<br>
                                    휘어져 나온 부분을 깎아내고 움직여<br>
                                    바로 세워 <span class="address">곧은 콧대</span>를 완성합니다.<br>
                                    이 경우에 발생할 수 있는 호흡곤란 등의 문제점은<br>
                                    내일N의 <span class="address">이비인후과 전문의</span>와 함께<br>
                                    최소화하고 있습니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>실밥 제거 후(수술 후 1주일) 일상생활이 가능하나 코에 무리가 가는 행동은 삼가하여야 합니다.</p>
                                <p>엎드려 자는 행동을 피해야 하며 빠른 회복을 위해 금주, 금연 하셔야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab6">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">콧볼 성형</div>
                            <div class="text-body">
                                코는 후각, 호흡, 음색등의 중요한 기능을 가지고 있습니다.<br>
                                얼굴의 옆라인이 자연스럽기 위해서는 <span class="address">이마와 턱</span> 그리고 바로 그 중심의 <span class="address">코</span>가 <span class="address">조화</span>를 이루어야 합니다.<br>
                                콧대가 낮지 않아도 퍼져 보이게 되면 코가 평면적으로 느껴질 수 있습니다.<br>
                                아무리 바르고 높은 코를 가졌더라도 콧볼이 넓어 콧구멍이 보이는 코라면<br>
                                이 얼굴 전체의 조화를 흐트려 어색함을 유발하게 됩니다.<br>
                                이런 문제를 개선하기 위해 <span class="address">콧볼 축소술</span>이 이용되고 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A6.png" style="position:absolute;right:20px;top:300px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>콧볼이 처져 화살코같이 보이는 경우 </p>
                                <p>콧볼의 모양이 과도하게 옆으로 퍼져 있는 경우 </p>
                                <p>콧볼의 폭이 넓어 코가 전체적으로 낮아보이며 뭉툭해 보이는 경우 </p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:280px;">
                                    수면 마취와 부분 마취를 동시에 시도해<br>
                                    코 <span class="address">안쪽</span>을 절개하여 실을 이용해 <br>
                                    코 안 피부 절제를 함으로써 축소술이 진행됩니다.<br>
                                    이 경우 피부 절제 방법과 실을 이용한 방법을<br>
                                    동시에 사용해 <span class="address">콧볼이 작아지는 효과</span>가 뚜렷해지고<br>
                                    콧볼이 <span class="address">다시 커지지 않습니다.</span>
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:280px;">
                                    내일N의 최수종 원장님은<br>
                                    <span class="address">부산대 대학병원</span>에서 교수를 역임하면서<br>
                                    오랜 시간의 숙련된 기술로<br>
                                    절개에서 오는 흉터를 <span class="address">최소화 </span>시켜 <br>
                                    가능한 눈에 보이지 않게 해드립니다. 
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>30분 정도의 간단한 수술이나, 지나치게 콧볼을 줄이면 코 끝이 오히려 뭉쳐 보이거나</p>
                                <p>두터워 질 수 있으니, 숙련된 의사의 신중한 시술이 필요합니다. </p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
                    
                    <div class="tab-body" id="tab7">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">윤곽 코성형/양악 후 코성형</div>
                            <div class="text-body">
                                코 성형시 최대의 효과를 얻기 위해서는 돌출된 코 끝이 너무 뒤지 않아야 하는데 이에 필수적인 요소가 비순 각입니다.<br>
                                이 비순 각과 코끝의 변화를 통해 코 성형만으로 윤곽을 상상이상으로 <span class="address">입체화</span> 시킬 수 있는 수술을 <span class="address">코 윤곽술</span>이라고 합니다. <br>
                                이 뿐 아니라 양악 수술 후 변형된 얼굴 형태 (돌출된 입모양의 변화)에 따라<br>
                                이 비순 각과 전체 얼굴과의 <span class="address">조화</span>를 위해 윤곽 수술이 이용되고 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A7.png" style="position:absolute;right:20px;top:330px;max-width:35%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>짧은 코나 들창코, 비순윤곽을 살리고 싶을 때 </p>
                                <p>양악 수술 후 변화된 얼굴형태에 맞는 코의 재정립으로 입체감을 살리고 싶을 때 </p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:830px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:280px;">
                                    짧은 코나 들창코의 교정이 가능하며 <br>
                                    <span class="address">세련된 얼굴</span>로 변화가 가능합니다. <br>
                                    수술 후 얼굴 전체가 더욱 <span class="address">갸름</span>해 보이며 <br>
                                    광대뼈가 들어가 보이는 효과가 있습니다. <br>
                                    더욱이 눈이 들어가 보이는 효과가 있어<br>
                                    얼굴이 더욱 <span class="address">입체적</span>이게 보입니다.
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:280px;">
                                    부산대 대학병원에서 오랜 기간 동안<br>
                                    <span class="address">양악 전문의</span>로 수술을 해오신 최수종 원장님은<br>
                                    복잡한 수술의 경험이 풍부하고,<br>
                                    내일N은 <span class="address">이비인후과 전문의</span>를 따로 두어 <br>
                                    성형학적인 부분뿐만 아니라<br>
                                    건강학적인 면에서도 최선을 다하고 있습니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>입원할 필요는 없지만 수면마취와 부분마취가 병행하므로 수술전 음주는 삼가하여야 합니다. </p>
                                <p>수술 후 1주일 정도 후부터 직장생활이 가능하나, 가능한 1주일 동안은 휴식을 취합니다.</p>
                                <p>수술후에도 4~5회 가량 통원치료가 필요하니 잊지 말고 병원을 찾아와 주셔야 합니다.</p>
                                <p>염증이 생기지 않게 수술부위를 청결히 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
                    
                    <div class="tab-body" id="tab8">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">코 재성형</div>
                            <div class="text-body">
                                코 재수술은 이미 코 성형을 시행 한 후, 미적으로나 기능적으로<br>
                                만족스럽지 못하여 재수술을 하는 경우를 말합니다.<br>
                                이 경우 첫번째 수술로 인한 조직의 변화와 염증 등의 문제로<br>
                                재수술시 더욱 <span class="address">난이도가 높은 수술</span>을 요구합니다.<br>
                                그러한 이유로 수술전 <span class="address">정밀한 분석</span>과<br>
                                코수술에 대한 <span class="address">풍부한 경험</span>이 요구됩니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A8.png" style="position:absolute;right:20px;top:200px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header">수술대상</div>
                            <div class="text-body">
                                <p>1차적으로 코 성형을 이미 하신 분 중 부작용이 있는 경우 </p>
                                <p>성형된 코에 만족을 못하시는 분</p>
                            </div>
                        </div>
                        
                        <div class="body-middle-box" style="top:800px;">
                            <div class="body-text middle" style="margin-right:30px;">
                                <div class="text-header-middle">효과</div>
                                <div class="text-body"  style="height:350px;">
                                    일차적으로 이미 코 성형을 시행한 경우<br><br>
                                    - 통상적인 경우 : 처음 수술 후 6개월 정도 지나<br>
                                    전반적인 조직이 부드러워진 후<br>
                                    - 염증이 생긴 경우 : 보형물 제거등의 염증 조절이<br>
                                    먼저 선행되고 증상이 가라 앉은 후<br><br>
                                    재수술을 시행하는 것이 안전합니다.
                                </div>
                            </div>
                            
                            <div class="body-text middle">
                                <div class="text-header-middle">장점</div>
                                <div class="text-body"  style="height:350px;">
                                    1차 수술에서 부작용을 일으켜 재수술을 할 시<br>
                                    자가진피는 100% 생존하는 것이 아니기 때문에<br>
                                    정확한 결과를 예측하기가 힘듭니다.<br>
                                    이런 복잡한 문제들은 <span class="address">오랜 경험</span>과 <span class="address">기술</span>만이<br>
                                    문제점을 최소화 시킬 수 있습니다.<br>
                                    대학병원의 특성상 재수술 환자들이 많고<br>
                                    이들을 오랜 기간 집도한 <span class="address">원장님의 수술</span>을 <br>
                                    이제 복잡한 대학병원이 아닌<br>
                                    내일N에서 편안히 받으실 수 있습니다.
                                </div>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1250px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1400px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1530px;font-size:15px;">
                            <div class="text-body">
                            	 ※&nbsp; &nbsp; 드문경우로 전신마취를 하는 경우도 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body">
                                <p>수술 및 치료 후 일반적으로 발생 할 수 있는 합병증인 출혈, 감염, 염증 등은 개인에 따라 정도 차이가 있으니 주의 하셔야 합니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body">
                                <p>코 성형 부작용을 호소한 사람 중 재수술을 한 경우는 88%이상으로 나타난다고 합니다.</p>
                                <p>그 중 대부분이 인공보형물 재료가 말썽을 일으킨 경우라고 보도된 바 있습니다.</p>
                                <p>인공 보형물은 충격에 약하기 때문에 심한 운동 및 충격은 받지 않도록 주의해야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>