<!DOCTYPE html>
<html lang="en">
<%- include('common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('common/header') -%>
	<div class="intro">
		<div class="intro-slider">
			<div class="slider-clip">
				<ul class="slides">
					<li class="slide fullsize-image-container">
						<div class="slide-image">
							<img src="/assets/images/mainpage/main_slider1.jpg" width="2560" height="1200" class="fullsize-image" alt="" />
						</div>
					</li>
					<li class="slide fullsize-image-container">
						<div class="slide-image">
							<img src="/assets/images/mainpage/main_slider2.png" width="2560" height="1200" class="fullsize-image" alt="" />
						</div>
					</li>
				</ul>
			</div>
		</div>
    </div>
	<div class="main">
	<section class="section" id="" style="padding:0;">
		<div class="section-ribbon" style="height:0px;">
            <img src="assets/images/mainpage/main_topicon.png" style="margin-top:-20px;"/>
		</div>

		<div class="section-body" style="padding-top:100px;margin:auto;width:1200px;background-color:#fff;text-align:center;">
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="눈 성형">
			    <div class="service-box"><a href="/category/menu2/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_eye.png" /></a></div>
			</div>
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="코 성형">
			    <div class="service-box"><a href="/category/menu1/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_nose.png" /></a></div>
			</div>
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="안면윤곽">
			    <div class="service-box"><a href="/category/menu3/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_face.png" /></a></div>
			</div>
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="가슴성형">
			    <div class="service-box"><a href="/category/menu4/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_body.png" /></a></div>
			</div>
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="안티에이징">
			    <div class="service-box"><a href="/category/menu6/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_lift.png" /></a></div>
			</div>
			<div class="col-lg-2 col-md-6 text-center tooltip_icon" title="피부/스킨케어">
			    <div class="service-box"><a href="/category/menu7/sub_menu1?page=1"><img src="/assets/images/mainpage/main_list_skin.png" /></a></div>
			</div>
			
			
            <br><br>
            <img src="assets/images/mainpage/main_middle.png" style="width:100%;"/>
            <br><br>
            
            <div style="width:100%;display:inline-block;padding-left:3%;margin-top:3rem;">
                <div style="font-size:2.5rem;padding-bottom:1rem;">
                    <span style="width:100px;border-bottom:1px solid #000;">COSMETIC SURGERY</span>
                </div>
                <br>
                <!--<div class="submenu"><a href="/category/notice"><img src="assets/images/mainpage/main_six_info_block.png" /></a></div>-->
                <div class="submenu"><a href="/category/notice">
                    <div id="noticeList" style="width:325px;height:266px;border:1px solid #ddd;">
                        <table style="border:0px;">
                        <% noticeList.forEach(function(row, idx){ 
                        %>
                            <tr>
                                <td style="width:200px;"><%= row.title %></td>       
                                <td style="width:125px;"><%= row.input_dte2 %></td>     
                            </tr>                           
                        <%})%>
                                    
                        </table>
                    </div>
                    <img src="assets/images/mainpage/main_six_notice_info.png" /></a>
                </div>
                <div class="submenu"><a href="#"><img src="assets/images/mainpage/main_six_bnf_block.png" /></a></div>
                <!--<div class="submenu"><a href="/category/contact/counsel_list"><img src="assets/images/mainpage/main_six_book_block.png" /></a></div>-->
                <div class="submenu"><a href="/category/contact/counsel_list">
                    <div id="counselList" style="width:325px;height:266px;border:1px solid #ddd;">
                        <table style="border:0px;">
                        <% counselList.forEach(function(row, idx){ 
                            var status;
                            if(row.status == 'N') {status = '답변대기'}
                            else {status = '답변완료'};
                            var newtag;
                            if(row.inter < 5){newtag = 'Y'}
                            else {newtag = 'N'}
                        %>
                            <tr>
                                <td style="width:155px;"><%= row.title %></td>       
                                <% if(row.status == 'N') {%>
                                    <td style="width:55px;"><%= status %> </td>   
                                <%} else{ %>
                                    <td style="width:55px;"><span style="font-weight:bold;color:#44517E;"><%= status %></span> </td>
                                <%}%>
                                <td style="width:114px;"><%= row.input_dte2 %>
                                <% if(newtag == 'Y'){%> <div style="width:40px;padding:1px;border-radius:3px;background-color:#f00;text-align:center;color:#fff;font-weight:bold;">New</div> <%} %>
                                </td>     
                            </tr>                           
                        <%})%>
                                    
                        </table>
                    </div>
                    <img src="assets/images/mainpage/main_six_book_title.png" /></a>
                </div>
                <div class="submenu"><a href="/info?page=3"><img src="assets/images/mainpage/main_six_doctor_block.png" /></a></div>
                <div class="submenu"><a href="#"><img src="assets/images/mainpage/main_six_blog_block.png" /></a></div>
                <div class="submenu"><a href="/info?page=6"><img src="assets/images/mainpage/main_six_map_block.png" /></a></div>
            </div>
            <br><br><br><br><br>
		</div>
	</section>
</div>
    <%- include('common/footer') -%>
</div><!-- /.wrapper -->

<script>
	<% popupList.forEach(function(row, idx){%>
        window.open('/popup/getcontent/<%=row.seq%>', '<%=row.title%>', 'scrollbars=no, top=<%=row.x%>, left=<%=row.y%>, width=<%=row.width%>, height=<%=row.height%>');
    <%})%>
</script>
</body>
</html>
