<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
<%- include('layouts/header') -%>
	
	<div class="intro intro-small no-bg-img">
		<div class="row">
			<div class="intro-caption">
				<h5>Page not Found</h5>
			
				<h2>404 Error Page</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#" class="current">404 Error Page</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-12 medium-12">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">
							<div class="event-body" itemprop="articleBody">
								<h1 class="error-title text-center">404</h1>
								<h2 class="error-subtitle text-center">The page you were looking for could not be found.</h2>
								<p class="text-center"><a href="#">Visit Home Page</a></p>
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->
		</div><!-- /.row -->
	</div><!-- /.main -->
<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>