<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
<%- include('layouts/header') -%>

	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>Say hello!</h5>
			
				<h2>Contact us</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current">Contact us</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-8 medium-12">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">
							<div class="event-image">
								<div class="event-slider">
									<div class="slider-clip">
										<ul class="slides">
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide2.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
							
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide1.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
										</ul><!-- /.slides -->
									</div><!-- /.slider-clip -->
								</div><!-- /.event-slider -->
							</div><!-- /.event-image -->

							<div class="event-body" itemprop="articleBody">
								<div class="row">
									<div class="columns small-12">
										<p class="lead">We are an award winning construction company focused on user-driven outcomes. We strive to create meaningful connections for.</p><!-- /.lead -->
										
										<p>Curabitur dictum vulputate augue, a consequat libero porttitor at. Donec ut felis vehicula, dapibus quam at, scelerisque purus. Integer arcu mauris, vulputate vitae suscipit nec, pharetra ac eros. Fusce vitae orci interdum, laoreet nisi a, congue sapien. Phasellus id dolor ullamcorper, posuere nulla non, rhoncus purus. Curabitur dapibus leo sed lorem gravida, nec ullamcorper purus semper. Proin porta ac risus nec rutrum. Aenean maximus nunc eu gravida sagittis. Curabitur suscipit,</p>
									</div><!-- /.columns small-12 -->
									
									<div class="columns medium-6">
										<h3>Montreal</h3>

										<p>
											51 Sherbrooke West <br>
											Montréal (QC), H4B 2Y2
										</p>
										
										<p>
											Office &mdash; (514) 888-8888 <br>
											Fax &mdash; (514) 888-9999
										</p>
										
										<p>
											Email: <a href="#">office@constuction.com</a><br>
											web: <a href="#">http://construction.com</a>
										</p>
									</div><!-- /.columns medium-6 -->
									
									<div class="columns medium-6">
										<h3>New York</h3>

										<p>
											51 Sherbrooke West <br>
											New York, 45678
										</p>
										
										<p>
											Office &mdash; +1 (514) 000-0000<br>
											Fax &mdash; +1 (514) 000-0000
										</p>
										
										<p>
											Email: <a href="#">office@constuction.com</a><br>
											web: <a href="#">http://construction.com/ny/</a>
										</p>
									</div><!-- /.columns medium-6 -->
								</div><!-- /.row -->
								
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-12">
				<div class="sidebar">
					<div class="widgets">
						
						<!-- Text Widget -->
						<div class="widget">
							<h4>Say Hello!</h4>
							<h3>Contact us</h3>
							<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. Nam dictum, ipsum tinci dunt mollis pretium, purus ante porttit eros, cursus cursus diam urna a augue.</p>
						</div><!-- /.widget -->

						<!-- Category Widget -->
						<div class="widget widget-categories">
							<h4>CHOOSE</h4>

							<h3>Other Services</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-categories -->

						<!-- Social Widget -->
						<div class="widget widget-socials">
							<h4>Follow</h4>

							<h3>SOCIAL LINKS</h3>

							<div class="socials socials-secondary">
								<ul>
									<li>
										<a href="#" class="facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="google">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="rss">
											<i class="fa fa-rss"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="orange">
											<i class="fa fa-dribbble"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="pinterest">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="flickr">
											<i class="fa fa-flickr"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="youtube">
											<i class="fa fa-youtube"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="vimeo">
											<i class="fa fa-vimeo-square"></i>
										</a>
									</li>
								</ul>
							</div><!-- /.socials -->
						</div><!-- /.widget widget-socials -->

						<!-- Video Widget -->
						<div class="widget widget-video">
							<div class="video">
								<video poster='assets/images/temp/intro1.jpg'>
									<source src="assets/images/video/video.mp4" type="video/mp4">
									<source src="assets/images/video/video.ogv" type="video/ogg">
									<source src="assets/images/video/video.webm" type="video/webm">
								</video>

								<a href="#" class="btn-play"></a>
							</div><!-- /.service-video -->
						</div><!-- /.widget widget0video -->

					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->

		<!-- Advertising / Book your contact -->
		<div class="row">
			<div class="ad">
				<div class="ad-image mobile-hidden">
					<img src="assets/images/temp/ad.png" alt="" />
				</div><!-- /.ad-image -->

				<header class="ad-head">
					<h3>BOOK YOUR contact</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
				</header><!-- /.ad-head -->

				<div class="ad-actions">
					<a href="#" class="button btn-white btn-small">Book NOw</a>
				</div><!-- /.ad-actions -->

				<div class="ad-contacts">
					<p class="phone">
						<i class="fa fa-mobile"></i>
						<small>BOOK THROUGH CALL</small>
						<a href="tel: 918 2345 123">918 2345 123</a>					
					</p><!-- /.phone -->
				</div><!-- /.ad-contacts -->
			</div><!-- /.ad -->
		</div><!-- /.row -->
	</div><!-- /.main -->
<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>