<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
<%- include('layouts/header') -%>
<%- include('../public/assets/javascripts/jquery.twbsPagination.js') %>

<div class="row">
	<div><h2 style="display:inline;">1:1 카카오톡 온라인 상담</h2> <img id="kakaochat" src="assets/icons/kakaolink.png" /></div>
</div>
<br>
<div class="row">
	<div id="notice"><h2>온라인 게시판 상담</h2></div>
	<select id="kind" onchange="" style="width:150px;height:45px;">
		<option value="AL">분류</option>
		<option value="EY">눈성형</option>
		<option value="NS">코성형</option>
		<option value="FC">페이스성형</option>
	</select>
	
	<select id="kind2" onchange="" style="width:150px;height:45px;">
		<option value="all">전체</option>
		<option value="writer">작성자</option>
		<option value="title">제목</option>
		<option value="content">내용</option>
	</select>
	
	<input type="text" value="" id="searchWord" placeholder="검색어" style="width:200px;height:45px;display:inline;"/>
	<div class="button btn-light-blue btn-small" id="search" style="display:inline;">검색</div>
</div>
<div class="row">
	<table id="questionList">
		<tr class="tableTitle">
			<th>번호</th>
			<th>분류</th>
			<th>제목</th>
			<th>작성자</th>
			<th>답변</th>
			<th>날짜</th>
		</tr>
		<% list.forEach(function(row, idx){ 
					var cls;                          
					if(idx % 2 == 0) cls = "danger";  
				  else cls = "active";%>
			<tr class=<%= cls %>>               
        <td><%= row.num%> </td>       
        <td><%= row.kind %> </td>       
        <td><%= row.title %> </td>       
        <td><%= row.writer %> </td>  
        <td><%= row.status %> </td>     
        <td><%= row.date %> </td>     
      </tr>                           
		<%})%>
	</table>
</div>
<div class="row">
	<div class="paging" style="text-align:center">
	  <ul id="pagination-demo" class="pagination-sm"></ul>
	</div>
</div>
<div class="row">
	<div class="form-actions">
		<div id="writeout" class="button btn-light-blue" style="color:#fff;">
			<a href="/writeout" style="color:#fff;">글 작성하기
			</a>
		</div>
	</div><!-- /.form-actions -->
</div>
<div style="width:100%;height:100px;"></div>
	

<script>
$('#pagination-demo').twbsPagination({
    totalPages: Math.ceil(<%=cnt[0].cnt / 10 %>),
    visiblePages: 5,
			href: '?page={{number}}'
});
</script>
	
<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->

<script type="text/x-template" id="list_tem">
<tr class="tableContent">
	<td>{{num}}</td>
	<td>{{kind}}</td>
	<td>{{title}}</td>
	<td>{{writer}}</td>
	<td>{{status}}</td>
	<td>{{date}}</td>
</tr>
</script>

<script>
	$(document).ready(function(){
		$('#search').trigger('click');
	});
	
	$('#kakaochat').on('click', function(){
		window.open("https://open.kakao.com/o/sQeYJ5h", "_blank", "top=0, left=0, width=300, height:300, resize=1, scrollbars=yes");
	});
	
/*	$('#search').on('click', function(){
		var kind1 = $('#kind').val();
		var kind2 = $('#kind2').val();
		var searchWord = $('#kind2').val() == 'all' ? null : $('#searchWord').val();
		
		var param = {
			writer:kind2 == 'writer' ? '%' + searchWord + '%' : null,
			title:kind2 == 'title' ? '%' + searchWord + '%': null,
			content:kind2 == 'content' ? '%' + searchWord + '%' : null,
			kind:kind1 == 'AL' ? null : kind1,
			page:parseInt($('.paging .current').text().trim()) - 1,
			pagecnt:PAGE_COUNT
		};
		
		$.post('/query/select_online_question', param, function(data){
			console.log(data);
			$('#questionList .tableContent').each(function(){
				$(this).remove();
			});
			
			for(var i=0; i<data.length; i++){
				var template = $('#list_tem').text()
									.replace(/{{num}}/g, data[i].seq)
									.replace(/{{kind}}/g, data[i].kind)
									.replace(/{{title}}/g, data[i].title)
									.replace(/{{status}}/g, '답변대기')
									.replace(/{{writer}}/g, data[i].writer)
									.replace(/{{date}}/g, data[i].input_dte);
									
				$('#questionList').append(template);
			}
		});
	});*/
</script>      
</body>
</html>
<!--select -->
<!--	seq, writer, kind, title, phone, password, email, content, DATE_FORMAT(input_dte, '%Y-%m-%d %H:%i') input_dte -->
<!--from -->
<!--	online_question-->
<!--where-->
<!--	writer like ifnull(:writer, writer)-->
<!--	and title like ifnull(:title, title)-->
<!--	and content like ifnull(:content, content)-->
<!--	and kind = ifnull(:kind, kind)-->
<!--order by seq desc -->
<!--limit :page, :pagecnt;-->