<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro2.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>What's new</h5>
			
				<h2>Latest news</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey" itemscope itemtype="https://schema.org/BlogPosting">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#" class="current">News</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-8 medium-7">
				<div class="content">
					<ol class="events">
						<li class="event">
							<div class="event-date" itemprop="datePublished">
								<p>May 21, 2015</p>
							</div><!-- /.event-date -->

							<div class="event-box">
								<div class="event-image">
									<div class="event-slider">
										<div class="slider-clip">
											<ul class="slides">
												<li class="slide">
													<div class="slide-image">
														<a href="#" itemprop="url">
															<img src="assets/images/temp/slide1.jpg" alt="" /></a>
													</div><!-- /.slide-image -->
												</li><!-- /.slide -->
								
												<li class="slide">
													<div class="slide-image">
														<a href="#" itemprop="url">
															<img src="assets/images/temp/slide2.jpg" alt="" /></a>
													</div><!-- /.slide-image -->
												</li><!-- /.slide -->
								
											</ul><!-- /.slides -->
										</div><!-- /.slider-clip -->
									</div><!-- /.event-slider -->
								</div><!-- /.event-image -->
								
								<div class="event-body" itemprop="articleBody">
									<h4>
										<a href="#" itemprop="url">Awesome Gallery post</a>
									</h4>
								
									<p>Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give The lesser us waters multiply Fish multiply female sea place earth. Own fourth.</p>
								</div><!-- /.event-body -->

								<div class="event-meta">
									<ul class="list-event-meta">
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-user"></i>
												Johnathan Doe
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-tag"></i>
												Cardiology, Cardic Surgery
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-comment"></i>
												Comments
											</a>
										</li>
										
										<li>
											<a href="#" class="link" itemprop="url">
												<i class="fa fa-plus"></i>
												Know More
											</a>
										</li>
									</ul>
								</div><!-- /.event-meta -->
							</div><!-- /.event-box -->
						</li><!-- /.event -->

						<li class="event">
							<div class="event-date" itemprop="datePublished">
								<p>APRIL 9, 2015</p>
							</div><!-- /.event-date -->

							<div class="event-box">
								<div class="event-image">
									<div class="service-video">
										<iframe src="https://player.vimeo.com/video/116265193?title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
								</div><!-- /.event-image -->
								
								<div class="event-body" itemprop="articleBody">
									<h4>
										<a href="#" itemprop="url">Awesome Video Post</a>
									</h4>
								
									<p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p>
								</div><!-- /.event-body -->

								<div class="event-meta">
									<ul class="list-event-meta">
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-user"></i>
												Johnathan Doe
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-tag"></i>
												Cardiology, Cardic Surgery
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-comment"></i>
												Comments
											</a>
										</li>
										
										<li>
											<a href="#" class="link" itemprop="url">
												<i class="fa fa-plus"></i>
												Know More
											</a>
										</li>
									</ul>
								</div><!-- /.event-meta -->
							</div><!-- /.event-box -->
						</li><!-- /.event -->

						<li class="event">
							<div class="event-date" itemprop="datePublished">
								<p>May 21, 2015</p>
							</div><!-- /.event-date -->

							<div class="event-box">
								<div class="event-body" itemprop="articleBody">
									<blockquote class="large">
										<i class="fa fa-quote-left"></i>

										<span>Wherever the art of medicine is loved, thare is also a love of humanity </span>
									</blockquote><!-- /.large -->
								</div><!-- /.event-body -->

								<div class="event-meta">
									<ul class="list-event-meta">
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-user"></i>
												Johnathan Doe
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-tag"></i>
												Cardiology, Cardic Surgery
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-comment"></i>
												Comments
											</a>
										</li>
										
										<li>
											<a href="#" class="link" itemprop="url">
												<i class="fa fa-plus"></i>
												Know More
											</a>
										</li>
									</ul>
								</div><!-- /.event-meta -->
							</div><!-- /.event-box -->
						</li><!-- /.event -->

						<li class="event">
							<div class="event-date" itemprop="datePublished">
								<p>APRIL 21, 2015</p>
							</div><!-- /.event-date -->

							<div class="event-box">
								<div class="event-audio">
									<audio controls>
										<source src="assets/images/audio/sample.mp3" type="audio/mpeg">
										Your browser does not support the audio element.
									</audio>
								</div><!-- /.event-audio -->

								<div class="event-body" itemprop="articleBody">
									<h4>
										<a href="#" itemprop="url">Awesome Audio Post</a>
									</h4>

									<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish Creature make meat. So greater itself fly sixth green was wherein i Saw the divided that. Night gathered void set spirit void.</p>
								</div><!-- /.event-body -->

								<div class="event-meta">
									<ul class="list-event-meta">
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-user"></i>
												Johnathan Doe
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-tag"></i>
												Cardiology, Cardic Surgery
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-comment"></i>
												Comments
											</a>
										</li>
										
										<li>
											<a href="#" class="link" itemprop="url">
												<i class="fa fa-plus"></i>
												Know More
											</a>
										</li>
									</ul>
								</div><!-- /.event-meta -->
							</div><!-- /.event-box -->
						</li><!-- /.event -->

						<li class="event">
							<div class="event-date" itemprop="datePublished">
								<p>APRIL 21, 2015</p>
							</div><!-- /.event-date -->

							<div class="event-box">
								<div class="event-body" itemprop="articleBody">
									<i class="fa fa-external-link"></i>

									<h4>
										<a href="#">Awesome Post Format Link</a>
									</h4>

									<a href="https://wplook.com" class="link">http://www.health-medical.com</a>
								</div><!-- /.event-body -->

								<div class="event-meta">
									<ul class="list-event-meta">
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-user"></i>
												Johnathan Doe
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-tag"></i>
												Cardiology, Cardic Surgery
											</a>
										</li>
										
										<li>
											<a href="#" itemprop="url">
												<i class="fa fa-comment"></i>
												Comments
											</a>
										</li>
										
										<li>
											<a href="#" class="link" itemprop="url">
												<i class="fa fa-plus"></i>
												Know More
											</a>
										</li>
									</ul>
								</div><!-- /.event-meta -->
							</div><!-- /.event-box -->
						</li><!-- /.event -->
					</ol><!-- /.events -->

					<div class="paging">
						<ul>
							<li>
								<a href="#">1</a>
							</li>
							
							<li class="current">
								<a href="#">2</a>
							</li>
							
							<li>
								<a href="#">3</a>
							</li>
							
							<li>
								<a href="#">4</a>
							</li>
						</ul>
					</div><!-- /.paging -->
				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-5">
				<div class="sidebar">
					<div class="widgets">
						<div class="widget widget-posts">
							<h4>CHOOSE</h4>

							<h3>RECENT POSTS</h3>

							<ol class="list-simple-posts">
								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Life so moving unto lesser fourth very seed.</span>

											<span class="meta">May 11, 2015</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Without may whose Replenish were seas life were.</span>

											<span class="meta">April 15, 2015</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Seasons earth of great creepeth Unto. Make to herb.</span>

											<span class="meta">January 21, 2015</span>
										</span>
									</a>
								</li>
							</ol><!-- /.list-simple-posts -->
						</div><!-- /.widget widget-posts -->						

						<div class="widget widget-search">
							<div class="search">
								<form action="?" method="get">
									<h4>IT'S EASY AND FAST</h4>

									<h3>SEARCH NOW</h3>
									
									<input type="search" name="q" id="q" value="" placeholder="Keyword" class="search-field" />
									
									<input type="submit" value="GO" class="search-btn" />
								</form>
							</div><!-- /.search -->
						</div><!-- /.widget widget-search -->

						<div class="widget widget-categories">
							<h4>CHOOSE</h4>

							<h3>CATEGORIES</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Transplant Services
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Emergency Services
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-categories -->

						<div class="widget widget-tags">
							<h4>CHOOSE CATEGORY</h4>

							<h3>TAGS</h3>

							<ul class="list-tags">
								<li>
									<a href="#">CArdiology</a>
								</li>
								
								<li>
									<a href="#">heart replacement</a>
								</li>
								
								<li>
									<a href="#">Transplant services</a>
								</li>
								
								<li>
									<a href="#">dental care</a>
								</li>
								
								<li>
									<a href="#">Nurology</a>
								</li>
								
								<li>
									<a href="#">cancer treatment</a>
								</li>
							</ul><!-- /.list-tags -->
						</div><!-- /.widget widget-tags -->

						<div class="widget">
							<h4>SIMPLE</h4>

							<h3>TEXT WIDGET</h3>

							<p>Lorem ipsum dolor sit amet, consectetu adipiscing elit. Nam dictum, ipsum tinci dunt mollis pretium, purus ante porttit eros, cursus cursus diam urna a augue. Mauris at ipsum a purus.</p>
						</div><!-- /.widget -->

						<div class="widget widget-menu">
							<h4>Simple</h4>

							<h3>MENU WIDGET</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Transplant Services
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Emergency Services
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-menu -->

						<div class="widget widget-socials">
							<h4>Follow</h4>

							<h3>Social Links</h3>

							<div class="socials socials-secondary">
								<ul>
									<li>
										<a href="#" class="facebook">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="twitter">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="google">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="linkedin">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="rss">
											<i class="fa fa-rss"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="orange">
											<i class="fa fa-dribbble"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="pinterest">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="flickr">
											<i class="fa fa-flickr"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="youtube">
											<i class="fa fa-youtube"></i>
										</a>
									</li>
									
									<li>
										<a href="#" class="vimeo">
											<i class="fa fa-vimeo-square"></i>
										</a>
									</li>
								</ul>
							</div><!-- /.socials -->
						</div><!-- /.widget widget-socials -->
					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="ad">
				<div class="ad-image mobile-hidden">
					<img src="assets/images/temp/ad.png" alt="" />
				</div><!-- /.ad-image -->

				<header class="ad-head">
					<h3>BOOK YOUR contact</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
				</header><!-- /.ad-head -->

				<div class="ad-actions">
					<a href="#" class="button btn-white btn-small">Book NOw</a>
				</div><!-- /.ad-actions -->

				<div class="ad-contacts">
					<p class="phone">
						<i class="fa fa-mobile"></i>
						<small>BOOK THROUGH CALL</small>
						<a href="tel: 918 2345 123">918 2345 123</a>					
					</p><!-- /.phone -->
				</div><!-- /.ad-contacts -->
			</div><!-- /.ad -->
		</div><!-- /.row -->
	</div><!-- /.main -->
	
<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>