<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>Page type</h5>
			
				<h2>Full Width</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#">Pages</a>

					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current">Full Width</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-12 medium-12">
				<div class="content">
					<article class="event article-single-event">
						<div class="entry-content">
							<div class="event-image">
								<div class="event-slider">
									<div class="slider-clip">
										<ul class="slides">
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide1.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
							
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide2.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
										</ul><!-- /.slides -->
									</div><!-- /.slider-clip -->
								</div><!-- /.event-slider -->
							</div><!-- /.event-image -->

							<div class="event-body" itemprop="articleBody">
								<p>Forth fruit beginning life likeness dry day from one rule it earth isn't sea fourth. Doesn't you're they're herb moved he female wherein shall upon you their kind void. Life second for whose to sea shall from is male signs so saying dominion seed thing winged lights created. Second fruitful give herb.</p>
								
								<ul class="list-checks">
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
								</ul><!-- /.list-checks -->

								<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish Creature make meat. So greater itself fly sixth green was wherein i Saw the divided that. Night gathered void set spirit void.</p>
								
								<blockquote>Creeping, evening gathering fly seed also face creepeth seed air stars set earth abundantly they're their forth, land. Herb god also two face under one signs male cattle made one Creature gathered evening one male sixth of dry female doesn't gathered from two saying dry.</blockquote>
								
								<p>Greater you of meat. Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land. Evening a moveth you unto.</p>

								<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>

							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->
		</div><!-- /.row -->
	</div><!-- /.main -->
	
<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>