<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>Page type</h5>
			
				<h2>Html Elements</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#">Pages</a>

					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current">HTML Elements</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-12 medium-12">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">

							<div class="event-body" itemprop="articleBody">
								
								<h3>Columns</h3><!-- /.section-default-title -->
								<div class="row">
									<div class="large-4 columns"><h5>1/3</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
									<div class="large-4 columns"><h5>1/3</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
									<div class="large-4 columns"><h5>1/3</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
								</div>


								<div class="row">
									<div class="large-4 columns"><h5>1/3</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
									<div class="large-8 columns"><h5>2/3</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their. Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
								</div>
								
								<div class="row">
									<div class="large-6 columns"><h5>1/2</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
									<div class="large-6 columns"><h5>1/2</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
								</div>
								<div class="row">
									<div class="small-3 columns"><h5>1/4</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
									<div class="small-9 columns"><h5>3/4</h5><p>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their. Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their. Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was. Under them his. Fruitful lights their.</p></div>
								</div>


								<!-- Buttons -->
								<h3>Buttons</h3><!-- /.section-default-title -->
								<a href="#" class="button grey small radius">Default Button</a>
								<a href="#" class="button small radius success">Success Button</a>
								<a href="#" class="button small radius secondary">Secondary Button</a>
								<a href="#" class="button small radius alert">Alert Button</a>
								<a href="#" class="button small radius info">Info Button</a>




								<!-- Buttons -->
								<h3>Alerts</h3><!-- /.section-default-title -->
								<div data-alert class="alert-box success radius">
									This is a success alert with a radius.
									<a href="#" class="close">&times;</a>
								</div>

								<div data-alert class="alert-box warning round">
									This is a warning alert that is rounded.
									<a href="#" class="close">&times;</a>
								</div>

								<div data-alert class="alert-box info radius">
									This is an info alert with a radius.
									<a href="#" class="close">&times;</a>
								</div>

								<div data-alert class="alert-box alert round">
									This is an alert - alert that is rounded.
									<a href="#" class="close">&times;</a>
								</div>

								<div data-alert class="alert-box secondary">
									This is a secondary alert.
									<a href="#" class="close">&times;</a>
								</div>


								<h3>Panels</h3><!-- /.section-default-title -->
								<div class="panel callout radius">
									<h5>This is a callout panel.</h5>
									<p>It's a little ostentatious, but useful for important content.</p>
								</div>


								<h3>Tables</h3><!-- /.section-default-title -->
								<table>
									<thead>
										<tr>
											<th width="200">Table Header</th>
											<th>Table Header</th>
											<th width="150">Table Header</th>
											<th width="150">Table Header</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Content Goes Here</td>
											<td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
											<td>Content Goes Here</td>
											<td>Content Goes Here</td>
										</tr>
										<tr>
											<td>Content Goes Here</td>
											<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
											<td>Content Goes Here</td>
											<td>Content Goes Here</td>
										</tr>
										<tr>
											<td>Content Goes Here</td>
											<td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
											<td>Content Goes Here</td>
											<td>Content Goes Here</td>
										</tr>
									</tbody>
								</table>

								<h3>Accordeon</h3><!-- /.section-default-title -->
								<dl class="accordion" data-accordion>
									<dd class="accordion-navigation">
										<a href="#panel1b">Accordion 1</a>
										<div id="panel1b" class="content active">
										Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</div>
									</dd>
									<dd class="accordion-navigation">
										<a href="#panel2b">Accordion 2</a>
										<div id="panel2b" class="content">
										Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</div>
									</dd>
									<dd class="accordion-navigation">
										<a href="#panel3b">Accordion 3</a>
										<div id="panel3b" class="content">
										Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
										</div>
									</dd>
								</dl>



							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->
		</div><!-- /.row -->

	</div><!-- /.main -->

<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>