<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>Page type</h5>
			
				<h2>Left Sidebar</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#">Pages</a>

					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current"> Left Sidebar</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-8 medium-7 right">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">
							<div class="event-image">
								<div class="event-slider">
									<div class="slider-clip">
										<ul class="slides">
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide1.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
							
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide2.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
										</ul><!-- /.slides -->
									</div><!-- /.slider-clip -->
								</div><!-- /.event-slider -->
							</div><!-- /.event-image -->

							<div class="event-body" itemprop="articleBody">
								<p>Forth fruit beginning life likeness dry day from one rule it earth isn't sea fourth. Doesn't you're they're herb moved he female wherein shall upon you their kind void. Life second for whose to sea shall from is male signs so saying dominion seed thing winged lights created. Second fruitful give herb.</p>
								
								<ul class="list-checks">
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
								</ul><!-- /.list-checks -->

								<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish Creature make meat. So greater itself fly sixth green was wherein i Saw the divided that. Night gathered void set spirit void.</p>
								
								<blockquote>Creeping, evening gathering fly seed also face creepeth seed air stars set earth abundantly they're their forth, land. Herb god also two face under one signs male cattle made one Creature gathered evening one male sixth of dry female doesn't gathered from two saying dry.</blockquote>
								
								<p>Greater you of meat. Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land. Evening a moveth you unto.</p>

								<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>

							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-5">
				<div class="sidebar">
					<div class="widgets">

						<div class="widget widget-categories">
							<h4>CHOOSE</h4>

							<h3>Other Services</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Transplant Services
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Emergency Services
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-categories -->

						<div class="widget widget-services">
							<ul class="list-services list-services-alt">
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-brain"></i>
										</span>
														
										NUROLOGY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-heart-attack"></i>
										</span>
														
										CARDIC SURGERY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-tooth"></i>
										</span>
														
										DENTAL CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-eye-sign"></i>
										</span>
														
										EYE CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-ear"></i>
										</span>
										ENT CENTER
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-emergency-call"></i>
										</span>
										EMERGENCY CALL
									</a>
								</li>
							</ul><!-- /.list-services list-services-alt -->
						</div><!-- /.widget widget-servicess -->

						<div class="widget widget-video">
							<div class="video">
								<video poster='assets/images/temp/intro1.jpg'>
									<source src="assets/images/video/video.mp4" type="video/mp4">
									<source src="assets/images/video/video.ogv" type="video/ogg">
									<source src="assets/images/video/video.webm" type="video/webm">
								</video>

								<a href="#" class="btn-play"></a>
							</div><!-- /.service-video -->
						</div><!-- /.widget widget0video -->

					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="ad">
				<div class="ad-image mobile-hidden">
					<img src="assets/images/temp/ad.png" alt="" />
				</div><!-- /.ad-image -->

				<header class="ad-head">
					<h3>BOOK YOUR contact</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
				</header><!-- /.ad-head -->

				<div class="ad-actions">
					<a href="#" class="button btn-white btn-small">Book NOw</a>
				</div><!-- /.ad-actions -->

				<div class="ad-contacts">
					<p class="phone">
						<i class="fa fa-mobile"></i>
						<small>BOOK THROUGH CALL</small>
						<a href="tel: 918 2345 123">918 2345 123</a>					
					</p><!-- /.phone -->
				</div><!-- /.ad-contacts -->
			</div><!-- /.ad -->
		</div><!-- /.row -->
	</div><!-- /.main -->

<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>