<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0">
			<img src="assets/images/temp/intro2.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>CHECK OUR</h5>
			
				<h2>MEDICAL SERVICES</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main">
		<div class="section-services section-doctors section-doctors-alt" itemscope itemtype="http://schema.org/Product">
			<div class="tabs tabs-services">
				<div class="tab-head">
					<div class="tabs-nav">
						<div class="row">
							<div class="columns large-12 slider-tabs">
								<ul class="list-services list-services-alt list-services-slider">
									<li class="current">
										<a href="#tab1">
											<span class="icon">
												<i class="icon-brain"></i>
											</span>
						
											NUROLOGY
										</a>
									</li>
									
									<li>
										<a href="#tab2">
											<span class="icon">
												<i class="icon-heart-attack"></i>
											</span>
						
											CARDIC SURGERY
										</a>
									</li>
									
									<li>
										<a href="#tab3">
											<span class="icon">
												<i class="icon-tooth"></i>
											</span>
						
											DENTAL CARE
										</a>
									</li>
									
									<li>
										<a href="#tab4">
											<span class="icon">
												<i class="icon-eye-sign"></i>
											</span>
						
											EYE CARE
										</a>
									</li>
									
									<li>
										<a href="#tab5">
											<span class="icon">
												<i class="icon-ear"></i>
											</span>
											ENT CENTER
										</a>
									</li>
									
									<li>
										<a href="#tab6">
											<span class="icon">
												<i class="icon-emergency-call"></i>
											</span>
											EMERGENCY CALL
										</a>
									</li>

									<li>
										<a href="#tab2">
											<span class="icon">
												<i class="icon-heart-attack"></i>
											</span>
						
											CARDIC SURGERY
										</a>
									</li>
									
									<li>
										<a href="#tab3">
											<span class="icon">
												<i class="icon-tooth"></i>
											</span>
						
											DENTAL CARE
										</a>
									</li>
									
									<li>
										<a href="#tab4">
											<span class="icon">
												<i class="icon-eye-sign"></i>
											</span>
						
											EYE CARE
										</a>
									</li>
									
									<li>
										<a href="#tab5">
											<span class="icon">
												<i class="icon-ear"></i>
											</span>
											ENT CENTER
										</a>
									</li>
									
									<li>
										<a href="#tab6">
											<span class="icon">
												<i class="icon-emergency-call"></i>
											</span>
											EMERGENCY CALL
										</a>
									</li>
								</ul><!-- /.list-departments -->
							</div><!-- /.columns large-12 -->
						</div><!-- /.row -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="row row-alt">
					<p class="breadcrumbs">
						<a href="#">Home</a>
						
						<span>
							<i class="fa fa-angle-right"></i>
						</span>
					
						<a href="#" class="current">Services</a>
					</p><!-- /.breadcrumbs -->
				</div><!-- /.row -->

				<div class="tabs-body">
					<div class="tab-body current" id="tab1">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Second dominion saying one void beast. Called appear multiply light that. Whose after fish likeness meat bring one night fill for gathering day.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Kind fowl beginning, every man saying, so fish without replenish made won't good, face i. Beginning. Which good Moving in without given won't.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Dominion under fourth for tree waters man There all form sea spirit replenish likeness doesn't i very give own. And. Without shall beast evening moveth.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->


						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'>Bearing cattle void spirit third whose fill let shall our also signs. Fly subdue of herb won't. Lights one Man whose green two. Hath, void created.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'>Winged cattle sea hath there years form. Under. Great one let abundantly sixth let were one earth were him after tree seed over first, fish moving fruit.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'>Saying open there seas every sea had also signs. Fruitful the his forth sea. So made was appear subdue abundantly you doesn't for first.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab2">
						<div class="row">
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Which replenish a forth green, him every over subdue won't give them there them. Can't had upon. Which midst. Meat be years given tree be was given us meat.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Him for made from without bring won't midst lesser blessed two likeness gathering second over lesser, subdue he for appear. Evening saying living.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'>Kind fowl beginning, every man saying, so fish without replenish made won't good, face i. Beginning. Which good Moving in without given won't hath fish said.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our. Which was.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->
					
					<div class="tab-body" id="tab3">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Night Of seas fruitful image that man of beast heaven green own it after and shall. Likeness shall which creepeth to heaven living open fruit.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Tree image fly upon earth a let had, divided don't dominion isn't replenish him good under divide unto divide firmament, fowl gathered our.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Him for made from without bring won't midst lesser blessed two likeness lesser, subdue he for appear. Evening saying living moveth said without.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'>Greater you of meat. Our air whales great won't fill great athering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'>Land beast gathered divided. Days is second. Very divide, fowl itself firmament creeping have all Morning bearing which multiply their lesser.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Greater you of meat. Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Them behold man cattle seas. The cattle lights give without. May there spirit cattle lesser his i set night beginning rule, place multiply.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Saying open there seas every sea had also signs. Fruitful the his forth sea. So made was appear subdue abundantly you doesn't for first.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'>Them behold man cattle seas. The cattle lights give without. May there spirit cattle lesser his i set night beginning rule, place multiply.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'>Saying open there seas every sea had also signs. Fruitful the his forth sea. So made was appear subdue abundantly you doesn't for first. </p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'>Spirit sixth upon second darkness earth Shall void blessed, female bring forth gathering itself dominion beginning had greater creepeth after.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Dominion under fourth for tree waters man There all form sea spirit replenish likeness doesn't i very give own. And. Without shall beast evening moveth.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Greater us won't bring saw abundantly years brought replenish, that moving place Creature void under you'll upon fowl gathered.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'> face creepeth seed air stars set earth abundantly they're their forth, land. Herb god also two face under one signs male cattle made one Creature.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'> gathered evening one male sixth of dry Fruit can't fill also likeness earth blessed herb fill second also to every female doesn't gathered from.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'> two saying dry divide bearing given waters void very gathered which, sea and.  two saying dry divide bearing given waters void very gathered which.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab6">
						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service1.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6 itemprop='alternateName'>Diagnostic Imaging</h6>

											<p itemprop='description'>Them behold man cattle seas. The cattle lights give without. May there spirit cattle lesser his i set night beginning rule, place multiply i beginning.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service2.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Dental Care</h6>

											<p itemprop='description'>Made itself face Above so under own two she'd which own female may their. Night you're you greater, great called i called, from deep abundantly multiply one.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->

							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service3.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Cancer Care</h6>

											<p itemprop='description'>Itself moving great upon so also shall land earth multiply were give. , itself moving great upon so also shall land earth multiply were give.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->

						<div class="row">
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service4.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medical Consulting</h6>

											<p itemprop='description'>Life so moving unto lesser fourth very seed and without may whose Replenish were seas life heaven place were. Seasons earth of great creepeth Unto.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service5.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Rehabilitation Center</h6>

											<p itemprop='description'>Fowl let in days evening fifth creeping, you're so divided morning midst give seed saying light great had give earth had Herb. And may rule thing.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
							
							<div class="columns large-4 medium-4">
								<div class="service">
									<div class="service-box">
										<div class="service-image">
											<a href="#">
												<img src="assets/images/temp/service6.jpg" item-prop='image' alt="" />
											</a>
										</div><!-- /.service-image -->

										<div class="service-body">
											<h6>Medicine Research</h6>

											<p itemprop='description'> replenish him third creature and meat blessed void fruit gathered you're, they're two waters own morning gathered greater shall had behold had seed.</p>

											<a href="#" class="link-more" item-prop='url'>
												<i class="fa fa-plus"></i>
												KNOW MORE
											</a>
										</div><!-- /.service-body -->
									</div><!-- /.service-box -->
								</div><!-- /.service -->
							</div><!-- /.columns large-4 -->
						</div><!-- /.row -->
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->

			<div class="row">
				<div class="paging">
					<ul>
						<li class="current">
							<a href="#">1</a>
						</li>
						
						<li>
							<a href="#">2</a>
						</li>
						
						<li>
							<a href="#">3</a>
						</li>
						
						<li>
							<a href="#">4</a>
						</li>
					</ul>
				</div><!-- /.paging -->
			</div><!-- /.row -->

			<div class="row">
				<div class="ad">
					<div class="ad-image mobile-hidden">
						<img src="assets/images/temp/ad.png" alt="" />
					</div><!-- /.ad-image -->

					<header class="ad-head">
						<h3>BOOK YOUR contact</h3>

						<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
					</header><!-- /.ad-head -->

					<div class="ad-actions">
						<a href="#" class="button btn-white btn-small">Book NOw</a>
					</div><!-- /.ad-actions -->

					<div class="ad-contacts">
						<p class="phone">
							<i class="fa fa-mobile"></i>
							<small>BOOK THROUGH CALL</small>
							<a href="tel: 918 2345 123">918 2345 123</a>					
						</p><!-- /.phone -->
					</div><!-- /.ad-contacts -->
				</div><!-- /.ad -->
			</div><!-- /.row -->
		</div><!-- /.section-services -->
	</div><!-- /.main -->

<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>