<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>WHATS NEW</h5>
			
				<h2>New chip traps clusters of migrating tumor cells</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#">News</a>

					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current"> New chip traps clusters of migrating tumor cells</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-8 medium-7">
				<div class="content" itemscope itemtype="https://schema.org/BlogPosting">
					<article class="event article-single-event">
						<div class="event-date" itemprop="datePublished">
							<p>APRIL 21, 2015</p>
						</div><!-- /.event-date -->

						<div class="event-box">
							<div class="event-image">
								<div class="event-slider">
									<div class="slider-clip">
										<ul class="slides">
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide1.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
							
											<li class="slide">
												<div class="slide-image">
													<img src="assets/images/temp/slide2.jpg" alt="" />
												</div><!-- /.slide-image -->
											</li><!-- /.slide -->
										</ul><!-- /.slides -->
									</div><!-- /.slider-clip -->
								</div><!-- /.event-slider -->
							</div><!-- /.event-image -->

							
							
							<div class="event-meta">
								<ul class="list-event-meta">
									<li>
										<a href="#">
											<i class="fa fa-user"></i>
											Johnathan Doe
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="fa fa-tag"></i>
											Cardiology, Cardic Surgery
										</a>
									</li>
									
									<li>
										<a href="#">
											<i class="fa fa-comment"></i>
											Comments
										</a>
									</li>
									
									<li>
										<a href="#" class="link">
											<i class="fa fa-plus"></i>
											Know More
										</a>
									</li>
								</ul>
							</div><!-- /.event-meta -->


							<div class="event-body" itemprop="articleBody">
								<p>Forth fruit beginning life likeness dry day from one rule it earth isn't sea fourth. Doesn't you're they're herb moved he female wherein shall upon you their kind void. Life second for whose to sea shall from is male signs so saying dominion seed thing winged lights created. Second fruitful give herb.</p>
								
								<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish Creature make meat. So greater itself fly sixth green was wherein i Saw the divided that. Night gathered void set spirit void.</p>
								
								<p>Greater you of meat. Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land. Evening a moveth you unto.</p>

								<h3>NEW CHIP TRAPS CLUSTERS OF MIGRATING TUMOR CELLS</h3>

								<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>

								<ul class="list-checks">
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Qualified Staff of Doctors
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Feel like you are at Home Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											24x7 Emergency Services
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Save your Money and Time with us
										</p>
									</li>
									
									<li>
										<p>
											<i class="fa fa-check"></i>
											Easy and Affordable Billing
										</p>
									</li>
								</ul><!-- /.list-checks -->

								<blockquote>Creeping, evening gathering fly seed also face creepeth seed air stars set earth abundantly they're their forth, land. Herb god also two face under one signs male cattle made one Creature gathered evening one male sixth of dry female doesn't gathered from two saying dry.</blockquote>

								<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind. Sixth whose whose fruitful. Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give The lesser us waters multiply Fish multiply female sea place earth. Own fourth.</p>
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

					<section class="event section-event-comments" itemscope itemtype="https://schema.org/UserComments">
						<div class="section-head event-date">
							<p>COMMENTS</p>
						</div><!-- /.event-date -->

						<div class="section-body event-body">
							<ol class="comments">
								<li class="comment">
									<div class="comment-image">
										<a href="#">
											<img src="assets/images/temp/user1.jpg" alt="" />
										</a>
									</div><!-- /.comment-image -->
									
									<div class="comment-body">
										<h4>
											<a href="#" itemprop="creator">JOHNATHON DOE</a>

											<span class="meta" itemprop="commentTime">May 20, 2015</span><!-- /.meta -->
										</h4>

										<a href="#" class="link" itemprop="replyToUrl">Replay</a>

										<div class="comment-entry" itemprop="commentText">
											<p>Subdue and blessed heaven green so one make dry of behold god yielding. Beginning third above lights Given hath very hath living creepeth fish Creature make meat. </p>
										</div><!-- /.comment-entry -->
									</div><!-- /.comment-body -->

									<ol class="comments">
										<li class="comment">
											<div class="comment-image">
												<a href="#">
													<img src="assets/images/temp/user2.jpg" alt="" />
												</a>
											</div><!-- /.comment-image -->
											
											<div class="comment-body">
												<h4>
													<a href="#" itemprop="creator">JOHNATHON DOE</a>

													<span class="meta" itemprop="commentTime">April 21, 2015</span><!-- /.meta -->
												</h4>

												<a href="#" class="link" itemprop="replyToUrl">Replay</a>

												<div class="comment-entry" itemprop="commentText">
													<p>So greater itself fly sixth green was wherein i Saw the divided that. Night gathered void set spirit void.</p>
												</div><!-- /.comment-entry -->
											</div><!-- /.comment-body -->
										</li><!-- /.comment -->
									</ol><!-- /.comments -->
								</li><!-- /.comment -->

								<li class="comment">
									<div class="comment-image">
										<a href="#">
											<img src="assets/images/temp/user3.jpg" alt="" />
										</a>
									</div><!-- /.comment-image -->
									
									<div class="comment-body">
										<h4>
											<a href="#" itemprop="creator">JOHNATHON DOE</a>

											<span class="meta" itemprop="commentTime">March 10, 2015</span><!-- /.meta -->
										</h4>

										<a href="#" class="link" itemprop="replyToUrl">Replay</a>

										<div class="comment-entry" itemprop="commentText">
											<p>Isn't saw fill green open brought grass lights darkness doesn't seas, stars tree void fowl god Replenish had third, make lights likeness years above night, creeping is divide let first may after.</p>
										</div><!-- /.comment-entry -->
									</div><!-- /.comment-body -->
								</li><!-- /.comment -->
							</ol><!-- /.comments -->
						</div><!-- /.section-body event-body -->
					</section><!-- /.section-event-comments -->

					<section class="event section-add-comment">
						<header class="section-head event-date">
							<p>ADD YOUR COMMENT</p>
						</header><!-- /.section-head event -->

						<div class="section-body event-box">
							<div class="form form-add-comment">
								<form action="?" method="post">
									<div class="form-row form-row-alt">
										<div class="form-controls">
											<input type="text" class="field" required name="field-fname" id="field-fname" value="" placeholder="Full Name*" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row form-row-alt">
										<div class="form-controls">
											<input type="email" class="field" required name="field-email" id="field-email" value="" placeholder="Your Email Address*" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field" required name="field-website" id="field-website" value="" placeholder="Website" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<textarea class="textarea" name="field-message"  required id="field-message" placeholder="Message*"></textarea>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-actions">
										<input type="submit" value="SUBMIT NOW" class="button btn-purple btn-small" />

										<p class="form-notice">
											You can use these HTML tags and attributes:<span class="purple"> &lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</span>
										</p><!-- /.form-notice -->
									</div><!-- /.form-actions -->
								</form>
							</div><!-- /.form-add-comment -->
						</div><!-- /.section-body event-box -->
					</section><!-- /.section-add-comments -->
				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-5">
				<div class="sidebar">
					<div class="widgets">
						<div class="widget widget-search">
							<div class="search">
								<form action="?" method="get">
									<h4>It's easy and Fast</h4>

									<h3>Search Now</h3>
									
									<input type="search" name="q" id="q" value="" placeholder="Keyword" class="search-field" />
									
									<input type="submit" value="GO" class="search-btn" />
								</form>
							</div><!-- /.search -->
						</div><!-- /.widget widget-search -->

						<div class="widget widget-categories">
							<h4>CHOOSE</h4>

							<h3>CATEGORIES</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Transplant Services
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Emergency Services
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-categories -->

						<div class="widget widget-posts">
							<h4>CHOOSE</h4>

							<h3>RECENT POSTS</h3>

							<ol class="list-simple-posts">
								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Life so moving unto lesser fourth very seed.</span>

											<span class="meta">May 11, 2015</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Without may whose Replenish were seas life were.</span>

											<span class="meta">April 15, 2015</span>
										</span>
									</a>
								</li>

								<li>
									<a href="#">
										<span class="image">
											<img src="assets/images/temp/post.jpg" alt="" />
										</span>

										<span class="info">
											<span class="title">Seasons earth of great creepeth Unto. Make to herb.</span>

											<span class="meta">January 21, 2015</span>
										</span>
									</a>
								</li>
							</ol><!-- /.list-simple-posts -->
						</div><!-- /.widget widget-posts -->

						<div class="widget widget-form">
							<h4>ITS EASY AND FAST</h4>

							<h3>BOOK contact</h3>

							<div class="from-contact">
								<form action="?" method="post">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field" required name="field-fname2" id="field-fname2" value="" placeholder="Full Name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="email" class="field" required name="field-email2" id="field-email2" value="" placeholder="Your Email Address" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="tel" class="field" required name="field-phone" id="field-phone" value="" placeholder="Phone Number" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls form-controls-data-field">
											<input type="text" class="field field-date" required name="field-date" id="field-date" value="" placeholder="Booking Date" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<textarea class="textarea" required name="field-message" id="field-message" placeholder="Message"></textarea>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-actions">
										<input type="submit" value="BOOK contact" class="button btn-white btn-small" />
									</div><!-- /.form-actions -->
								</form>
							</div><!-- /.from-contact -->
						</div><!-- /.widget widget-form -->

						<div class="widget widget-services">
							<ul class="list-services list-services-alt">
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-brain"></i>
										</span>
														
										NUROLOGY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-heart-attack"></i>
										</span>
														
										CARDIC SURGERY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-tooth"></i>
										</span>
														
										DENTAL CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-eye-sign"></i>
										</span>
														
										EYE CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-ear"></i>
										</span>
										ENT CENTER
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-emergency-call"></i>
										</span>
										EMERGENCY CALL
									</a>
								</li>
							</ul><!-- /.list-services list-services-alt -->
						</div><!-- /.widget widget-servicess -->

						<div class="widget widget-menu">
							<h4>Simple</h4>

							<h3>OTHER SERVICES</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Diagnostic Imaging
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Cancer Care
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Rehabilitation Center
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Transplant Services
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Emergency Services
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-menu -->
						
						<div class="widget widget-video">
							<div class="video">
								<video poster='assets/images/temp/intro1.jpg'>
									<source src="assets/images/video/video.mp4" type="video/mp4">
									<source src="assets/images/video/video.ogv" type="video/ogg">
									<source src="assets/images/video/video.webm" type="video/webm">
								</video>

								<a href="#" class="btn-play"></a>
							</div><!-- /.service-video -->
						</div><!-- /.widget widget0video -->
					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="ad">
				<div class="ad-image mobile-hidden">
					<img src="assets/images/temp/ad.png" alt="" />
				</div><!-- /.ad-image -->

				<header class="ad-head">
					<h3>BOOK YOUR contact</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisc.</p>
				</header><!-- /.ad-head -->

				<div class="ad-actions">
					<a href="#" class="button btn-white btn-small">Book NOw</a>
				</div><!-- /.ad-actions -->

				<div class="ad-contacts">
					<p class="phone">
						<i class="fa fa-mobile"></i>
						<small>BOOK THROUGH CALL</small>
						<a href="tel: 918 2345 123">918 2345 123</a>					
					</p><!-- /.phone -->
				</div><!-- /.ad-contacts -->
			</div><!-- /.ad -->
		</div><!-- /.row -->
	</div><!-- /.main -->

<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>