<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head') -%>
<body>
<div class="wrapper">
	<%- include('layouts/header') -%>
	
	<div class="intro intro-small">
		<div class="intro-image fullsize-image-container" data-stellar-background-ratio="0.54">
			<img src="assets/images/temp/intro3.jpg" class="fullsize-image" alt="" />
		</div><!-- /.intro-image -->

		<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div><!-- /.intro-caption -->
		</div><!-- /.row -->
	</div><!-- /.intro intro-small -->

	<div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
					<a href="#">Home</a>
					
					<span>
						<i class="fa fa-angle-right"></i>
					</span>
				
					<a href="#">Doctors</a>

					<span>
						<i class="fa fa-angle-right"></i>
					</span>

					<a href="#" class="current"> DR. Johnathan Doe</a>
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

			<div class="columns large-8 medium-7">
				<div class="content" itemscope itemtype="https://schema.org/BlogPosting">
					<article class="event article-single-event">

						<div class="event-boxs">


							<div class="event-body" itemprop="articleBody">
								
								<div class="doctor-profile">
									<div class="row">
										<div class="small-12 large-4 columns">
											<img src="assets/images/temp/doctor-profile.jpg" alt="" />
										</div>

										<div class="small-12 large-8 columns">
											<div class="doctor-program">
												<h4>Availability</h4>
												<ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2">
													<li>Monday <span>09:00 - 13:00</span></li>
													<li>Thursday <span>13:00 - 17:00</span></li>
													<li>Wednesday <span>09:00 - 13:00</span></li>
													<li>Thursday <span>13:00 - 17:00</span></li>
													<li>Friday <span>09:00 - 13:00</span></li>
													<li>Saturday <span>13:00 - 17:00</span></li>
												</ul>
											</div>
										</div>
									</div>
								</div>

								<p>Forth fruit beginning life likeness dry day from one rule it earth isn't sea fourth. Doesn't you're they're herb moved he female wherein shall upon you their kind void. Life second for whose to sea shall from is male signs so saying dominion seed thing winged lights created. Second fruitful give herb.</p>
								
								<p>Greater you of meat. Our air whales great won't fill great won't which them gathering lesser. Behold hath seas gathering, replenish appear moveth replenish divided land. Evening a moveth you unto.</p>

								<h3>WORK EXPERIENCE</h3>

								<h4>STERLING HOSPITAL - USA (2014 to Current)</h4>

								<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>
								<hr>

								<h4>APPOLO HOSPITAL - UNITED KINGDOM (2012 to 2014)</h4>

								<p>It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>
								<hr>

								<h4>ZYDUS HOSPITAL - USA (209 to 2012)</h4>

								<p>Day is sea midst one female to under. It firmament she'd day had you may land can't signs likeness. Creeping, evening gathering fly seed also face creepeth seed air stars set earth.</p>

								<blockquote>Creeping, evening gathering fly seed also face creepeth seed air stars set earth abundantly they're their forth, land. Herb god also two face under one signs male cattle made one Creature gathered evening one male sixth of dry female doesn't gathered from two saying dry.</blockquote>

								<p>Sea fifth was grass seasons one rule. Beginning earth them bearing. Them don't Green face seasons fowl gathering above created above kind. Sixth whose whose fruitful. Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one. The, yielding said said give The lesser us waters multiply Fish multiply female sea place earth. Own fourth.</p>
							</div><!-- /.doctor-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-5">
				<div class="sidebar">
					<div class="widgets">

						<div class="widget widget-form">
							<h4>ITS EASY AND FAST</h4>

							<h3>BOOK contact</h3>

							<div class="from-contact">
								<form action="?" method="post">
									<div class="form-row">
										<div class="form-controls">
											<input type="text" class="field" required name="field-fname2" id="field-fname2" value="" placeholder="Full Name" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="email" class="field" required name="field-email2" id="field-email2" value="" placeholder="Your Email Address" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<input type="tel" class="field" required name="field-phone" id="field-phone" value="" placeholder="Phone Number" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls form-controls-data-field">
											<input type="text" class="field field-date" required name="field-date" id="field-date" value="" placeholder="Booking Date" />
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-row">
										<div class="form-controls">
											<textarea class="textarea" required name="field-message" id="field-message" placeholder="Message"></textarea>
										</div><!-- /.form-controls -->
									</div><!-- /.form-row -->

									<div class="form-actions">
										<input type="submit" value="BOOK contact" class="button btn-white btn-small" />
									</div><!-- /.form-actions -->
								</form>
							</div><!-- /.from-contact -->
						</div><!-- /.widget widget-form -->
						
						<div class="widget widget-menu">
							<h4>Trained Staff</h4>

							<h3>Other Doctors</h3>

							<ul class="list-plus">
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Dr. Angelina Johnson
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Dr. Mathew Anderson
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Dr. Andrew Williomson
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Dr. Rekha Saigal
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="fa fa-plus"></i>
										Dr. Daindra Walkner
									</a>
								</li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-menu -->

						<div class="widget widget-services">
							<ul class="list-services list-services-alt">
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-brain"></i>
										</span>
														
										NUROLOGY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-heart-attack"></i>
										</span>
														
										CARDIC SURGERY
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-tooth"></i>
										</span>
														
										DENTAL CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-eye-sign"></i>
										</span>
														
										EYE CARE
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-ear"></i>
										</span>
										ENT CENTER
									</a>
								</li>
								
								<li>
									<a href="#">
										<span class="icon">
											<i class="icon-emergency-call"></i>
										</span>
										EMERGENCY CALL
									</a>
								</li>
							</ul><!-- /.list-services list-services-alt -->
						</div><!-- /.widget widget-servicess -->
						
					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->

	</div><!-- /.main -->

<%- include('layouts/footer') -%>
</div><!-- /.wrapper -->
<script src="assets/javascripts/vendor.js"></script>
<script src="assets/javascripts/jquery.stellar.min.js"></script>
<script src="assets/javascripts/app.js"></script>
</body>
</html>