<!DOCTYPE html>
<html lang="en">
	
<%- include('../../common/head_without_vendor') -%>

<link rel="stylesheet" href="/summernote-master/dist/summernote.css" />
<script src="/summernote-master/dist/summernote.min.js"></script>

<body>
<div class="wrapper">
	<%- include('../../common/header') -%>

<%
	var admin = false;
	var admintext = '답변입니다.\r\n\r\n\r\n\r\n=============================================================\r\n본문글\r\n';

	if(typeof ss.admin != 'undefined' && ss.admin == 'Y' && ss.name != ''){
		admin = true;
	}
%>

<div class="row">
	<form data-toggle="validator" role="form">
		<div class="body-text large" style="top:30px;position:relative;">
	        <div class="text-header">온라인 상담 <%if(admin){%>답변<%}else{%>작성(수정)<%}%></div>
	        <div class="text-body">
	        </div>
	    </div>
	    <br><br>

	    <div class="form-group">
			<div class="qna-header">분류</div> 
			<div class="qna-body">
				<select id="kind" onchange="" style="width:150px;height:45px;margin-bottom:0px;">
					<% ss.menu.forEach(function(row, idx){%>
						<option id="<%=row.menu_id%>" value="<%=row.menu_id%>"><%=row.description%></option>
					<%})%>
				</select>
			</div>
		</div>

	    <div class="form-group">
			<div class="qna-header">이름 </div> 
			<div class="qna-body">
				<input id="name" type="text" class="vali" value="<%=counsel_info.writer%>" style="width:200px;display:inline;" maxlength="10">
			</div>
		</div>
		
	    <div class="form-group">
			<div class="qna-header">제목 </div> 
			<div class="qna-body">
				<input id="title" type="text" class="vali" value="<%=counsel_info.title%>" style="width:800px;"  maxlength="50">
			</div>
		</div>

	    <div class="form-group">
			<div class="qna-header">연락처 </div> 
			<div class="qna-body">
				<input id="phone" type="text" class="vali" value="<%=counsel_info.phone%>" style="width:200px;display:inline;"  maxlength="15">
			</div>
		</div>

	    <div>
			<div class="form-group qna-header">이메일 </div> 
			<div class="qna-body">
				<input id="email" type="text" class="vali" value="<%=counsel_info.email%>" style="width:300px;display:inline;" maxlength="50">
			</div>
		</div>
		<div class="form-group">
			<div class="qna-header">내용 입력</div>
			<textarea id="content" class="vali" style="width:100%;height:500px;"  maxlength="4000"><%if(admin && counsel_info.status == 'N'){%><%=admintext%><%=counsel_info.content%><%}else{%><%=counsel_info.content%><%}%></textarea>
		</div>
	     
		<!-- <div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" id="counsel_alert"><span aria-hidden="true">&times;</span></button>
		</div> -->

	    <div class="form-group">
			<div style="clear:both;">
				<div style="float:right;">
					비밀번호 <input class="qna-body vali" id="pass" type="password" data-minlength="4" value="<%=counsel_info.password%>" style="width:200px;display:inline;"  maxlength="12">
				</div>
			</div>
		</div>
		
		<div style="float:right;clear:both;margin:1rem 0px 3rem 0px;">
			<div class="form-group form-actions" style="float:left;margin-right:2rem;">
				<div id="sendQuestion" class="button btn-light-blue qna-body" style="color:#fff;">
					작성완료
				</div>
			</div>

			<%if(typeof counsel_info.writer != 'undefined' && counsel_info.writer != ''){%>
			<div class="form-group form-actions" style="float:left;">
				<div id="deleteCounsel" class="button btn-light-blue qna-body" style="color:#fff;background-color:#FF8300;">
					글삭제
				</div>
			</div>
			<%}%>
			</div>
	</form>
</div>


<%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>

var type = '<%=type%>';
var seq = '<%=counsel_info.seq%>';
var admin = 'N';
	<% if(admin){%>
			admin = 'Y';
	<%}%>

var kind = '<%=counsel_info.kind%>';

$(document).ready(function(){
	$('#content').summernote({
	  minHeight: 300,             // set minimum height of editor
	  maxHeight: null,             // set maximum height of editor
	  focus: true,                  // set focus to editable area after initializing summernote
	  callbacks: {
	  	onImageUpload : function(files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
        }
	  }
	});

	function sendFile(file, editor, welEditable) {
	    data = new FormData();
	    data.append("file", file);
	    $.ajax({
	        data : data,
	        type : "POST",
	        url : "/category/contact/counsel/image_upload",
	        cache : false,
	        contentType : false,
	        processData : false,
	        success : function(data) {
	             $('#content').summernote('editor.insertImage', data.url);
	        }
	    });
	}
	
	$('#kind option').each(function(){
		if(kind == $(this).attr('id')){
			$('#' + kind).attr('selected', 'selected');
		}
	});

	$('#sendQuestion').on('click', function(){
		if(!checkValidation()) return;

		if(!confirm('온라인 상담 내용을 저장(수정) 하시겠습니까?')) return;

		var param = {
			writer:$('#name').val(),
			kind:$('#kind').val(),
			title:$('#title').val(),
			phone:$('#phone').val(),
			pass:$('#pass').val(),
			email:$('#email').val(),
			content:$('#content').val(),
			seq:seq,
			admin:admin
		};

		if(typeof seq == 'undefined' || seq == null || seq == ''){
			$.post('/category/contact/counsel', param, function(data){
				if(data.result == 'success'){
					alert('온라인 상담이 등록되었습니다.');
					location.href = '/category/contact/counsel_list';
				} else {
					alert(data.err);
				}
			});
		} else {
			$.put('/category/contact/counsel/' + seq, param, function(data){
				if(data.result == 'success'){
					alert('온라인 상담이 변경되었습니다.');
					
					if(admin == "Y") {
						location.href = '/users/admin';
					} else {
						location.href = '/category/contact/counsel_list';
					}
				} else {
					alert(data.err);
				}
			});
		}
		
		
	});
	
	$('#deleteCounsel').on('click', function(){
		var param = {seq : seq};

		if(!confirm('온라인 상담을 삭제하시겠습니까?')) return;

		$.delete('/category/contact/counsel/' + seq, param, function(data){
			if(data.result == 'success'){
				alert('온라인 상담이 삭제되었습니다.');
				if(admin == "Y") {
					location.href = '/users/admin';
				} else {
					location.href = '/category/contact/counsel_list';
				}
			} else {
				alert(data.err);
			}
		});
	});

	if(admin == 'Y'){
		$('div input').attr('readonly', 'true');
		$('div select').attr('disabled', 'true');
	}
});

</script>      
</body>
</html>