<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body>
<div class="wrapper">
	<%- include('../../common/header') -%>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/qna/Book_title_block.png" alt="" />
		</div>
	</div>

<style>
		.list-services li{
			width: 33.33333%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		} 
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
			<div class="tab-head" style="background-color:transparent;padding:0;">
				<div class="tabs-nav">
                    <div class="columns large-12">
                        <ul class="list-services" itemscope itemtype="http://schema.org/Product" style="margin-top:1rem;">
                            <li class="current" ><a href="#tab1">온라인 상담</a></li>
                            <li><a href="#tab2">전화 상담(비용/예약)</a></li>
                            <li><a href="#tab3">1:1 카카오톡 상담</a></li>
                        </ul><!-- /.list-departments -->
                    </div><!-- /.columns large-12 -->
				</div><!-- /.tabs-nav -->
			</div><!-- /.tab-head -->

			<div class="tabs-body" style="background-color:#fff;">
				<div class="tab-body" id="tab1" style="height:1000px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">온라인 상담</div>
                        <div class="text-body">
                        	<div class="row">
								<select id="kind" onchange="" style="width:150px;height:45px;">
									<option value="A">분류</option>
									<% ss.menu.forEach(function(row, idx){%>
										<option value="<%=row.menu_id%>"><%=row.description%></option>
									<%})%>
								</select>
								
								<select id="kind2" onchange="" style="width:150px;height:45px;">
									<option value="all">전체</option>
									<option value="writer">작성자</option>
									<option value="title">제목</option>
									<option value="content">내용</option>
								</select>
								
								<input type="text" value="" id="searchWord" placeholder="검색어" style="width:200px;height:45px;display:inline;"/>
								<div class="button btn-light-blue btn-small" id="searchCounsel" style="">검색</div>
							</div>
							<div class="row">
								<table id="questionList" style="width:100%;letter-spacing:0px;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>분류</th>
										<th>제목</th>
										<th>작성자</th>
										<th>답변</th>
										<th>날짜</th>
									</tr>
									<% list.forEach(function(row, idx){ 
												var cls;
												var status;
												if(row.status == 'N') {status = '답변대기'}
												else {status = '답변완료'};
												if(idx % 2 == 0) cls = "danger";  
											  else cls = "active";%>
										<tr class=<%= cls %>>               
							        <td><%= row.seq%> </td>       
							        <td><%= row.kind %> </td>       
							        <td><a class="read" id="<%=row.seq%>"><%= row.title %></a></td>       
							        <td><%= row.writer2 %> </td> 
							        <% if(row.status == 'N') {%>
							        	<td><%= status %> </td>   
							        <%} else{ %>
							        	<td><span style="font-weight:bold;color:#f00;"><%= status %></span> </td>
							        <%}%>
							        <td><%= row.input_dte %> </td>     
							      </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="pagination-demo" class="pagination-sm"></ul>
								</div>
							</div>
							<div class="row">
								<div class="form-actions">
									<div id="counsel" class="button btn-light-blue" style="color:#fff;">
										<a href="/category/contact/counsel/new" style="color:#fff;">글 작성하기
										</a>
									</div>
								</div><!-- /.form-actions -->
							</div>
							<div class="row" id="showpass" style="display:none;margin-top:1rem;">
								<form id="form" action="" method="POST">
									<input type="hidden" id="seq" value="" name="seq" />
									<div style="border:1px solid #ddd;width:400px;height:180px;text-align:center;padding:0.5rem;">
										<< 내용을 보시려면 암호를 입력해주세요. >>
										<input type="password" id="pass" value="" name="pass" />
										<div id="checkpass" class="button btn-light-blue" style="color:#fff;padding:0px;margin-top:10px;">
											내용 확인
										</div>
										<div id="msg" style="color:#f00;"></div>
									</div>
								</form>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
				<div class="tab-body" id="tab2" style="height:1000px;">
                    <div class="body-text large" style="top:80px;">
                        <div class="text-header">전화 상담(비용/예약)</div>
                        <div class="text-body">

                        	※ 간단한 정보를 남겨주시면 빠른 전화상담 드리겠습니다.
                        	<br>
                        	<div>
								<div class="qna-header">관심부위</div> 
								<div class="qna-body">
									<select id="app_kind" onchange="" style="width:150px;height:45px;margin-bottom:0px;">
										<% ss.menu.forEach(function(row, idx){%>
											<option value="<%=row.menu_id%>"><%=row.description%></option>
										<%})%>
									</select>
								</div>
							</div>

							<div>
								<div class="qna-header">이름 </div> 
								<div class="qna-body">
									<input id="app_name" type="text" class="vali" value="" style="width:300px;display:inline;" maxlength="10" required>
								</div>
							</div>
							<div>
								<div class="qna-header">연락처 </div> 
								<div class="qna-body">
									<input id="app_phone" type="text" value="" class="vali" style="width:300px;display:inline;"  maxlength="15">
								</div>
							</div>
							<div>
								<div class="qna-header">성별 </div> 
								<div class="qna-body">
									<select id="app_gender" onchange="" style="width:150px;height:45px;margin-bottom:0px;">
										<option value="F">여성</option>
										<option value="M">남성</option>
									</select>
								</div>
							</div>
							<div>
								<div class="qna-header">나이 </div> 
								<div class="qna-body">
									<input id="app_age" type="text" value="" class="vali" style="width:300px;display:inline;"  maxlength="3">
								</div>
							</div>
							<div>
								<div class="qna-header">상담시간 </div> 
								<div class="qna-body">
									<input id="app_wishtime" type="text" value="" class="vali" style="width:300px;display:inline;"  maxlength="12"> <span style="font-size:1rem;color:#aaa;">ex) 오후 2시 이후, 오전 중</span>
								</div>
							</div>
							<div>
								<div class="qna-header">상담 내용 </div> 
								<div class="qna-body">
									<input id="app_content" type="text" value="" class="vali" style="width:800px;"  maxlength="100">
								</div>
							</div>

							<div class="form-actions" style="clear:both;">
								<div id="sendAppointment" class="button btn-light-blue" style="color:#fff;float:right;margin:1rem 0px 4rem 0;">
									작성완료
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
				<div class="tab-body current" id="tab3" style="height:600px;">
                    <div class="body-text large" style="top:80px;">
                        <div class="text-header">1:1 카카오톡 상담</div>
                        <div class="text-body">
                        	<div class="row">
								<div style="cursor:pointer;">
									<h2 style="display:inline;">1:1 카카오톡 온라인 상담</h2> 
									<img id="kakao" src="/assets/icons/kakaolink.png" /><br>
									카카오 아이콘을 클릭후 오픈채팅을 연결하면 바로 원장님과 1:1 카카오톡 연결이 됩니다.<br>
									(※ PC인 경우 PC버전 카카오톡이 설치되어 있어야 1:1 연결이 됩니다.)
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
			</div>
		</div>
	</div>

<%- include('../../common/footer') -%>
</div><!-- /.wrapper -->

<script type="text/x-template" id="list_tem">
<tr class="tableContent">
	<td>{{num}}</td>
	<td>{{kind}}</td>
	<td>{{title}}</td>
	<td>{{writer}}</td>
	<td>{{status}}</td>
	<td>{{date}}</td>
</tr>
</script>

<script src="/assets/javascripts/jquery.twbsPagination.min.js"></script>

<script>
var currid = '';

	$(document).ready(function(){
		<% var thispage = 1;
		if(typeof page != 'undefined' && page != ''){
			thispage = page;
		}%>

		var page = <%=thispage%>;
        
        $('li:nth-child(' + page + ')').find('a').trigger('click');

		$('#kakao').on('click', function(){
			window.open("https://open.kakao.com/o/sQeYJ5h", "_blank", "top=0, left=0, width=300, height:300, resize=1, scrollbars=yes");
		});

		$('.read').on('click', function(){
			currid = $(this).attr('id');
			$('#seq').val(currid);
			$('#showpass').css('display', 'inherit');
			$('#pass').focus();
		});

		$('#checkpass').on('click', function(){
			var param = {
				seq:currid,
				pass:$('#pass').val()
			};
			
			$.post('/category/contact/counsel_check_authority', param, function(data){
				if(data == undefined || data.length == 0) return;

				if(data == 'F'){
					$('#msg').html('비밀번호가 틀렸습니다.');
				} else{
					document.getElementById("form").action = '/category/contact/counsel/' + currid + '/edit';
					document.getElementById("form").submit();
				}
			});
		});

		$('#pagination-demo').twbsPagination({
		    totalPages: Math.ceil(<%=cnt[0].cnt / 10 %>),
		    visiblePages: 5,
					href: '?page={{number}}'
		});

		$('#sendAppointment').on('click', function(){
			if(!checkValidation()) return;

			var param = {
				gender:$('#app_gender').val(),
				content:$('#app_content').val(),
				kind:$('#app_kind').val(),
				age:$('#app_age').val(),
				contact:$('#app_phone').val(),
				wish_time:$('#app_wishtime').val(),
				input_psn:$('#app_name').val()
			}

			$.post('/category/contact/appointment', param, function(data){
				if(data == 'F'){
					alert('전화상담 신청 실패');
				}else{
					alert('전화상담 신청이 완료되었습니다.');
					location.href = '/category/contact/counsel_list';
				}
			});
		});
	});
	
	// $('#search').on('click', function(){
	// 	var kind1 = $('#kind').val();
	// 	var kind2 = $('#kind2').val();
	// 	var searchWord = $('#kind2').val() == 'all' ? null : $('#searchWord').val();
		
	// 	var param = {
	// 		writer:kind2 == 'writer' ? '%' + searchWord + '%' : null,
	// 		title:kind2 == 'title' ? '%' + searchWord + '%': null,
	// 		content:kind2 == 'content' ? '%' + searchWord + '%' : null,
	// 		kind:kind1 == 'AL' ? null : kind1,
	// 		page:parseInt($('.paging .current').text().trim()) - 1,
	// 		pagecnt:PAGE_COUNT
	// 	};
		
	// 	$.post('/query/HOSPITAL-CONTACT-LSTSEARCHCOUNSEL', param, function(data){
	// 		console.log(data);
	// 		$('#questionList .tableContent').each(function(){
	// 			$(this).remove();
	// 		});
			
	// 		for(var i=0; i<data.length; i++){
	// 			var template = $('#list_tem').text()
	// 								.replace(/{{num}}/g, data[i].seq)
	// 								.replace(/{{kind}}/g, data[i].kind)
	// 								.replace(/{{title}}/g, data[i].title)
	// 								.replace(/{{status}}/g, '답변대기')
	// 								.replace(/{{writer}}/g, data[i].writer)
	// 								.replace(/{{date}}/g, data[i].input_dte);
									
	// 			$('#questionList').append(template);
	// 		}
	// 	});
	// });
</script>      
</body>
</html>
