<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/eyes/eyes.png" alt="" />
		</div><!-- /.intro-image -->
	</div>

    <style>
		.list-services li{
			width: 16.667%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		}
    </style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>쌍꺼풀 수술</a></li>
                                <li><a href="#tab2" itemprop='name'>눈매 교정술</a></li>
                                <li><a href="#tab3" itemprop='name'>트임 성형(앞/뒤/3D)</a></li>
                                <li><a href="#tab4" itemprop='name'>눈 밑 지방재배치</a></li>
                                <li><a href="#tab5" itemprop='name'>중년 눈 성형</a></li>
                                <li><a href="#tab6" itemprop='name'>눈 재수술</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">쌍꺼풀 수술</div>
                            <div class="text-body">
                                쌍꺼풀이란 상안검(눈의 왼쪽)에 라인이 하나 더 생긴 것으로 <br>
                                시각적 착시효과에 의해 <span class="address">눈이 커보이며</span>눈을 뜰 때 눈꺼풀이 좀 위로 말려 올라가기 때문에<br>
                                눈의 노출 면적이 커져서 <span class="address">눈이 커보이게</span>됩니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/eyes/B1.png" style="position:absolute;right:0;top:280px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>외꺼풀을 가지신 분(한국인의 70%정도)</p>
                                <p>자연적인 쌍꺼풀이 만족스럽지 못하신 분</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:800px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                자연유착법은 피부 및 조직간의 자연스러운 유착을 유도하여<br>
                                인위적인 느낌이 적고 자연스러운 쌍꺼풀 라인을 만들어 주는 수술입니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:950px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                기존의 절재법, 매몰법등 여러방법의 수술이 있으나<br>
                                수술자국이 표시나지않고 <b>자연스러운 라인</b>이 대세입니다.<br>
                                자연유착법은 피부 및 조직간의 자연스러운 유착을 유도하여<br>
                                인위적인 느낌이 적고 <b>자연스러운 쌍꺼풀</b> 라인을 만들어 주는 수술입니다.<br>
                                개개인의 얼굴형과 전체적은 <b>조화</b>로움을 이루기 위해<br>
                                부분 또는 완전절개를 이용하기도 하며<br>
                                이러한 부분은 사전 데이터 분석을 통해<br>
                                본인의 얼굴에 맞는 <b>최상의 수술방법</b>이 결정지어 집니다.</div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1400px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                다년간의 <span class="address">수술 노하우</span>와 내일N의 <span class="address">미적 감각</span>이<br>
                                당신의 얼굴에 맞는 눈을 찾아드립니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1530px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1630px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1850px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:2000px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있으니 수술부위의 청결을 유지하도록 주의합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:2600px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">눈매 교정술</div>
                            <div class="text-body">
                                쌍꺼풀의 유무에 산관없이 처진 눈매, 올라간 눈꼬리등 또한 사람의 인상을 좌지우지합니다.<br>
                                이런 눈매를 <span class="address">교정</span>하여 한층 <span class="address">부드럽고 아름다운 인상</span>을 심어드립니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/eyes/B2.png" style="position:absolute;right:50px;top:300px;max-width:35%;width:100%;"/>
                        <div class="body-text small" style="top:380px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>처진 눈꼴, 심하게 올라간 눈꼴</p>
                                <p>쌍꺼풀 수술과 동시에 자연스러운 눈을 연출 하고자 하시는 분</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:670px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                눈매교정술에는 자연유착 눈매교정술, 외꺼풀눈매 교정술,<br>
                                안검하수 (부분, 완전절개)등의 수술이 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:820px;">
                            <div class="text-header" style="color:orange;">자연유착 눈매 교정</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                자연유착 눈매교정은 눈꺼풀 처짐과 눈매의 부자연스러움을 동시에 교정하며<br>
                                절개가 없어 흉터가 없으며 자연유착 쌍꺼풀 수술과 병행시<br>
                                쌍꺼풀의 풀림을 막고 졸리고 쳐져보이는 눈매를 교정하는 효과가 있습니다.</div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1020px;">
                            <div class="text-header" style="color:orange;">외꺼풀 눈매 교정</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                와꺼풀 눈매 교정은 외꺼풀의 매력을 살리면서<br>
                                처지고 졸린눈을 보안하고 싶을때 사용되는 수술법으로<br>
                                답답한 인상을 주는 눈꺼풀 처짐 현상을 막기 위해<br>
                                쌍꺼풀 라인을 만들지 않고 미세 구멍을 통해 수술하여<br>
                                표가 거의 나지 않으면서 인상을 바꾸는 효과를 볼 수 있습니다.</div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1280px;">
                            <div class="text-header" style="color:orange;">안검하수 교정술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                안검하수란 눈꺼풀이 비 정상적으로 안구 아래부분까지 내려와 안구가 가리는 증상을 말합니다.<br>
                                이 경우 눈을 뜨게 하는 근육의 장력을 조절하여 강화 시키고,<br>
                                처진 처진 누꺼풀을 당겨 올려주어 선명하고 또렷한 눈매를 만드는 효과를 봅니다.<br>
                                특히 안검하수로 인해 시력저하 및 난시, 약시가 발생시,<br>
                                눈이 짝짝이이고 눈커풀이 심하게 처졌을 때 효과적인 방법입니다.</div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1560px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                안검하수 교정술과 같은 수술은 단순히 눈꺼풀 교정뿐만이 아니라 <br>
                                그동안 습관적으로 찌그려온 이마 근육의 수술 전후의 변화등을 예상하여야 하기 때문에 <br>
                                숙련된 기술과 경험이 없을시엔 오히려 더 좋지 못한 결과를 초래할 수도 있읍니다.<br>
                                부산이 최고로 뽑는 부산대 의대시절부터 최고의 성적을 자랑하며 부산대 병원에서 실력을 쌓은 <br>
                                원장님의 집도 능력하에서 이러한 두려움을 접을 실 수 있습니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1800px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1910px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:2100px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>청결을 유지하도록 하며 지나친 안면근육 사용을 절재해 주어야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">트임성형(앞/뒤/3D)</div>
                            <div class="text-body">
                                눈의 안쪽에 덮혀 있는  <span class="address">몽고주름을 제거</span>(앞트임)하거나 <br>
                                눈뒤를  <span class="address">절개</span>(뒷트임)해 눈 자체를 크게 만들어 <br>
                                답답한 인상을  <span class="address">시원하고 자연스럽게</span> 교정할 수 있는 수술입니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/eyes/B3.png" style="position:absolute;right:100px;top:330px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:420px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>앞트임- 몽고주름 때문에 눈앞이 답답해 보이는 경우,<br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;눈과 눈 사이가 멀어보이는 시, <br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;크고 시원한 눈매를 원할때, <br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;앞트임 수술 하였으나 다시 붙어 재수술이 필요한 경우</p>
                                <p>뒷트임-눈꼬리가 올라가 사나운 인상 주거나,<br>
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;눈 흰자부위의 노출이 적어 사시처럼 보일때</p> 
                                <p>쌍꺼풀 수술만으로는 시원한 눈매가 되지 않는 경우</p>
                            </div>
                        </div>
                    
                        <div style="width:100%;position:absolute;top:800px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                확연히 <b>시원하고 큰 눈</b>을 가질 수 있습니다.
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:940px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body" style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                트임수술을 하기전에 눈의 비례에 맞추어 튀어져야하 곳 크기 위치등을 미리 디자인 해둡니다. <br>
                                몽고주름 절개(앞트임) 또는 피부 절개후 눈꼬리를 내리고(뒷트임) 주변 피부와 융합하여 <br>
                                <b>최대한 자연스럽게 봉합</b>하는 수술입니다.<br>
                                여기에 눈밑 절개술까지 이용 상하좌우 입체적인 3D트임으로 확연히 <b>시원하고 큰 눈</b>을 가질 수 있습니다.
                            </div>
                        </div>
                 
                        <div style="width:100%;position:absolute;top:1230px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                쌍꺼풀 수술은 눈을 크게 보이게 하는 착시현사을 주지만 <br>
                                눈트임시 <b>실지적으로 눈이 커지기 때문</b>에 쌍꺼풀 수술과 병행시 <b>눈이 크고 시원</b>하게 보입니다. <br>
                                거기다 쌍꺼풀의 더욱 <b>자연스러운 라인</b> 연출이 가능합니다. <br>
                                눈과 눈사이가 멀어보이는 경우 눈의 앞부분을 터주어 간격을 줄이는 교정이 가능합니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1450px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1550px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1770px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>청결을 유지하도록 하며 지나친 안면근육 사용을 절재해 주어야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">눈 밑 지방재배치</div>
                            <div class="text-body">
                                노화가 진행 되면서 눈밑부분의 <span class="address">지방</span>이 쌓이거나 피부의 탄력이 떨어집니다.<br>
                                개인에 따라 그 부분이 볼록하게 튀어나오거나 꺼지는 경우가 발생하게 되고 <br>
                                이로 인해 <span class="address">잔주름, 눈물고랑, 다크서클</span>등을 유발하게 됩니다. <br>
                                이를 예방하거나 치료하기 위해 눈아랫쪽 지방을 재배치하는 수술을 시도하게 됩니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/eyes/B4.png" style="position:absolute;right:20px;top:400px;max-width:45%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>눈밑에 지방이 쌓여 볼록 튀어나온 경우</p>
                                <p>지방이 없어 함몰되어 있는 경우</p>
                                <p>다크서클이 심한 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:800px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                <b>화사한 눈가</b>를 완성할 수 있습니다.
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:940px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body" style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                눈밑의 지방을 제거후 골막 위와 피부아 지방을 재배치함과 동시에 안와격막을 고정시키는 수술로<br>
                                개인의 눈가 피부, 눈가 근육, 뼈의 구조에 딸라 섬세하게 수술이 이루어집니다. <br>
                                재발없이 다크서클의 제거가 가능하여 <b>화사한 눈</b>을 연출할 수 있습니다.
                            </div>
                        </div>
                 
                        <div style="width:100%;position:absolute;top:1230px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                보기싫은 불룩함은 제거하고 꺼진 부분은 교정되어 <br>
                                재발을 방지하게 되고 보다 <b>효과적으로 화사한 눈가를 완성</b>하는 노하우와 기술력이 담긴 수술법입니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1400px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1520px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1730px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>청결을 유지하도록 하며 지나친 안면근육 사용을 절재해 주어야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5" style="height:2550px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">중년 눈 성형</div>
                            <div class="text-body">
                                나이가 들면서 단순히 안검의 지방만 늘어나는 것이 아니라 <br>
                                시력의 감퇴로 인해 인상을 쓰며 무언가를 보는 습관으로 <br>
                                눈주위, 이마등의 근육이 달리 발달되고 주름또한 늘어나게 됩니다.<br>
                                노화로 인한 피부조직의 변화에 의해 <br>
                                단순한 쌍꺼풀 수술만으론 아름답고 자연스러운 눈을 만들어내가 어려우므려 <br>
                                <span class="address">중년에 알맞은 수술</span>이 특히 더 요구됩니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/eyes/B5.png" style="position:absolute;right:20px;top:300px;max-width:45%;width:100%;"/>
                        <div class="body-text small" style="top:490px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>눈꺼풀이 처지면서 나이가 들어보이거나 눈이 피곤해 보이는 경우</p>
                                <p>눈꺼풀이 처져 속눈썹이 눈을 찔러 눈건강에 영향을 미치는 경우</p>
                                <p>미용상의 이유로 처진 눈을 개선하고 싶은 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:720px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                주름개선및 젊어진 효과를 부과합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:870px;">
                            <div class="text-header" style="color:orange;">눈썹거상술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                눈썹거상술은 눈썹의 위나 아래를 절개하여, <b>처진 피부를 당겨주는 수술</b>로 <br>
                                기존 쌍꺼풀의 라인을 바꾸고 싶지 않거나 쌍꺼풀 만드는 것을 원치 않을 경우에 시행하는 수술방법입니다. <br>
                                절개된 피부와 근육을 봉합하여 당겨 올린 수술로 수술 후 <b>시야의 폭이 넓어지는 효과</b>가 있습니다.</div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1100px;">
                            <div class="text-header" style="color:orange;">상안검 절제술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                상안검은 눈 위부분을 하안검은 눈 아랫부분 피부를 절개봉합하는 수술로 
                                <b>눈의 주름까지 개선</b>할 수 있는 효과를 가지고 있습니다.</div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1300px;">
                            <div class="text-header" style="color:orange;">하안검 절제술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                하안검 수술은 눈밑 일명 심술보를 절개해 눈밑의 처진피부를 알맞게 제거해 줍니다. 
                                <b>주름개선및 젊어진 효과</b>를 부과합니다.</div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1500px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                쌍꺼풀 수술의 유무에 상관없이 처지고 힘없어 보이는 눈을 
                                <b>젊고 시원</b>하게 보이게 하면 주름을 제거해 확실한 <b>주름개선</b> 효과도 함께 오도록 수술하고 있습니다.
                                수술의 시야의 폭이 넓어져 그 동안 사물을 보거나 글을 읽으시 느껴던 <b>답답함이 해소</b>됩니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1670px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1790px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1990px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:2130px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>청결을 유지하도록 하며 지나친 안면근육 사용을 절재해 주어야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab6">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">눈재수술</div>
                            <div class="text-body">
                                한번이상 눈성형을 한 경우을 대상으로 시행되는 수술을 눈재수술이라고 합니다.<br>
                                특히 이전 수술로 인한 피부조직과 근육의 변화로 인해 첫 수술보다 더 많은 고민과 노력이 필요한 수술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A6.png" style="position:absolute;right:20px;top:300px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">수술대상</div>
                            <div class="text-body">
                                <p>1차적으로 눈성형을 한 경우 </p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:760px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                첫 수술보다 재수술은 더많은 신중함과 기술이 요구되어 집니다.<br>
                                계속되는 수술로 조직이 변화되고 근육이 짧아지는 현상으로 부작용의 경우의수가 높은 점에서 <br>
                                숙력된 기술과 풍부함 경험만이 이 오차를 줄일 수 있습니다.<br>
                                대학병원 응급실과 성형외과 수술 집도로 길러진 내일N의 최수종교수님의 수술 경험과 실력이 <br>
                                첫수술의 실패로 격으신 고통을 해결해 드릴것입니다.
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:980px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body" style="float:left;width:100%;padding-left:1rem;font-size:20px;">
                                첫째 기존 수술의 실패원인을 정확히 분석하여야 합니다.<br>
                                그 후, 개인이 눈의 구조 및 특징을 측정하고 각 개체의 정밀 진단 후 수술방법을 고안하게 됩니다.<br>
                                무엇보다 재수술 시기가 중요하므로 첫 수술의 유착현상이 사라지고 <br>
                                눈의 조직이 안정되었을 시 (보통 6개월에서 1년 경과 후)가 재수술의 가장 적절한 시기로 봅니다.<br>
                                이 기간이 경과 되었다 하더라도 염증이 있을시는 시기를 더 늦추어 염증이 없어지고 난 후에 재수술을 하도록 해야합니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1350px;left:50px;"/>
                        
                        <div style="position:absolute;width:100%;top:1520px;height:200px;">
                            <img src="/assets/images/subpage/nose/A1_cour_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_5.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_6.png" style=""/>
                        </div>
                        
                        <div class="body-text small" style="top:1750px;">
                            <div class="text-header" style="color:orange;">부작용</div>
                            <div class="text-body">
                                <p>수술부의 염증이 발생 할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="body-text small" style="top:1920px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>청결을 유지하도록 하며 지나친 안면근육 사용을 절재해 주어야 합니다.</p>
                            </div>
                        </div>
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>