<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/under.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 11.11%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		}       
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>노인성 상안검성형</a></li>
                                <li><a href="#tab1" itemprop='name'>안검하수</a></li>
                                <li><a href="#tab1" itemprop='name'>비만곡(중격)</a></li>
                                <li><a href="#tab1" itemprop='name'>지방종</a></li>
                                <li><a href="#tab1" itemprop='name'>낭종</a></li>
                                <li><a href="#tab1" itemprop='name'>골종</a></li>
                                <li><a href="#tab1" itemprop='name'>액취증</a></li>
                                <li><a href="#tab1" itemprop='name'>반흔구축</a></li>
                                <li><a href="#tab1" itemprop='name'>화상후반흔구축</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">공사중</div>
                            <div class="text-body">
                                지금은 오픈 준비중입니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>