<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/face/face.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row"> 
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 20%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		}
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
		    <div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>사각턱</a></li>
                                <li><a href="#tab2" itemprop='name'>광대</a></li>
                                <li><a href="#tab3" itemprop='name'>턱끝 성형(주걱턱)</a></li>
                                <li><a href="#tab4" itemprop='name'>턱끝 성형(무턱)</a></li>
                                <li><a href="#tab5" itemprop='name'>고양이 수술</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->
				
				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:3140px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">사각턱</div>
                        </div>
                        <img src="/assets/images/subpage/face/C1_1.png" style="position:absolute;right:150px;top:110px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:220px;margin-left:10px;font-size=20px">
                            <div class="text-body">
                                <p>&ensp;정면에서 보았을때 넓고, 사각형처럼 보이는 경우</p>
                                <p>&ensp;귀 밑에서 턱 끝까지 갸름한 턱선을 원하는 경우</p>
                                <p>&ensp;턱끝이 뭉툭하여, 턱과 볼이 구별이 되지 않는 경우</p>
                                <p>&ensp;각이 진 얼굴로 인해 인상이 강하게 보이는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:660px;left:150px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 귓볼 아래에서 턱끝까지 자연스러운 달걀형 턱선으로 보이는 효과.<br>
                                2. 아래턱의 무거운 느낌이 줄어드는 효과<br>
                                3. 앞턱까지 부드럽고 자연스러운 턱선 라인으로 목이 길어 보이는 효과
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C1_2.png" style="position:absolute;left:100px;top:790px;max-width:30%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:570px;top:830px;">
                            <div class="text-header" style="color:orange;">하악각 절제술</div>
                            <div class="text-body" style="font-size:20px;">
                                귀 밑 턱뼈의 각이 심하고, 큰 경우 하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:570px;top:950px;">
                            <div class="text-header" style="color:orange;">피질골 절게술</div>
                            <div class="text-body" style="font-size:20px;">
                                세겹의 뼈 구조에서 바깥쪽에 위치한 피질골을
                                절제하여, 두께를 줄이는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:570px;top:1070px;">
                            <div class="text-header" style="color:orange;">T절골술</div>
                            <div class="text-body" style="font-size:20px;">
                                앞턱뼈를 T자로 절골하여, 가운데 부분을 잘라내고,
                                양끝을 모아주는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:570px;top:1190px;">
                            <div class="text-header" style="color:orange;">실부 볼 축수</div>
                            <div class="text-body" style="font-size:20px;">
                                사각턱과 함께 볼에 지방이 많은 경우 하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:570px;top:1310px;">
                            <div class="text-header" style="color:orange;">근육 절제술</div>
                            <div class="text-body" style="font-size:20px;">
                                사각턱과 함께 턱근육이 발달된 경우 하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1450px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1530px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C1_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C1_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C1_PRO_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C1_PRO_5.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1670px;" align="center">
                            <div class="text-body" style="position:absolute;left:112px;">
                                전신 마취로<br>
                                수술을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:290px;">
                                입안의 점막을 절개하여<br>
                                근육과 뼈에 접근합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:480px;">
                                아래턱의 하악가 부분과<br>
                                턱선을 수술 전 계획대로<br>
                                절제합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:685px;">
                                근육이 두꺼운 경우<br>
                                일부 절제합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:890px;">
                                근육 위축을<br>
                                진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1780px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div class="body-middle-box" style="position:absolute;top:1850px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_3.png"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/face/C1_4.png"/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:20px;position:absolute;top:2120px;right:20px;" align="center">
                            <div class="text-body">
                                <b>최신 의료 장비</b> 완비&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                최고의 <b>전문의</b> 구성
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2200px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2300px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                일시적으로 아랫입술의 감각이 둔감해 질수 있으나, 보통 1~개월 이내에 정상으로 회복됩니다.
                            </div>
                        </div>
                        <div class="body-text small" style="top:2500px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>&ensp;항상 입안의 청결상태를 유지 합니다. </p>
                                <p>&ensp;수술부위 이외의 부부은 정상적인 칫솔질이 수술 후 3~4일 후에 </p>
                                &ensp;&ensp;&ensp;&ensp;가능하며, 수술부위는 병원에서 처방받은 구강 소독액을 사용하기를 권장합니다.
                                <p>&ensp;수술 후 1주일 동안은 부드러운 음식을 드시기를 권장합니다.</p>
                                <p>&ensp;음주와 흡연은 가급적 피하시고, 부득이한 경우 4주후 부터 하시기를 권장합니다. </p>
                                <p>&ensp;수술 부위는 가급적 손대지 마시기를 권장합니다. </p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:2250px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:3140px;">
                        <div class="body-text large" style="position:absolute;top:120px;left:1000px">
                            <div class="text-header">광대</div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C2_1.png" style="position:absolute;left:50px;top:200px;max-width:40%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:650px;top:550px;">
                            <div class="text-body">
                                <p>&ensp;옆광대가 발달하여, 얼굴이 편평하고 넓어보이는 경우</p>
                                <p>&ensp;광대뼈가 돌출되어 인상이 강한 경우</p>
                                <p>&ensp;광대뼈의 대칭이 맞지 않아 울퉁불퉁해 보이는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:760px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 광대뼈가 발달한 경우 굴곡이 줄어들고, 얼굴 폭이 줄어듭니다.<br>
                                2. 앞면의 얼굴선이 작아져서 어려보입니다.<br>
                                3. 광대뼈의 굴곡이 없어져 이미지가 부드러워집니다.
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C2_2.png" style="position:absolute;left:700px;top:900px;max-width:30%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:100px;top:960px;">
                            <div class="text-header" style="color:orange;">복합광대뼈 축소술</div>
                            <div class="text-body" style="font-size:20px;">
                                광대뼈의 앞과옆면을 안쪽으로 밀어 넣는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:100px;top:1080px;">
                            <div class="text-header" style="color:orange;">앞광대뼈 축소술</div>
                            <div class="text-body" style="font-size:20px;">
                                입 안쪽을 절개하여, 앞광대뼈를 갈아내거나, 절재하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:100px;top:1200px;">
                            <div class="text-header" style="color:orange;">옆광대뼈 축소술</div>
                            <div class="text-body" style="font-size:20px;">
                                광대뼈의 앞과 옆면을 모두 절골하여, 안쪽으로 밀어넣는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1450px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1530px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C2_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C2_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C2_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C2_PRO_4.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C2_PRO_5.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1670px;" align="center">
                            <div class="text-body" style="position:absolute;left:112px;">
                                전신 마취로<br>
                                수술을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:270px;">
                                입 안의 점막을 절개하여<br>
                                광대뼈를 갈아내거나,<br>
                                절골하여 움직일 수 있게 합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:460px;">
                                구렛나루 절개를 통해<br>
                                관골궁 부분을 절개하여,<br>
                                광대뼈가 움직 일 수 있게 합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:670px;">
                                광대뼈의 돌출된 부분이<br>
                                계획된 부위에<br>
                                들어가도록 합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:865px;">
                                위치가 이동한<br>
                                광대뼈를 고정합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1780px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div class="body-middle-box" style="position:absolute;top:1850px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_3.png"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/face/C1_4.png"/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:20px;position:absolute;top:2120px;right:20px;" align="center">
                            <div class="text-body">
                                <b>최신 의료 장비</b> 완비&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                최고의 <b>전문의</b> 구성
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2200px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2300px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                일시적으로 아랫입술의 감각이 둔감해 질수 있으나, 보통 1~개월 이내에 정상으로 회복됩니다.
                            </div>
                        </div>
                        <div class="body-text small" style="top:2500px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>&ensp;항상 입안의 청결상태를 유지 합니다. </p>
                                <p>&ensp;수술부위 이외의 부부은 정상적인 칫솔질이 수술 후 3~4일 후에 </p>
                                &ensp;&ensp;&ensp;&ensp;가능하며, 수술부위는 병원에서 처방받은 구강 소독액을 사용하기를 권장합니다.
                                <p>&ensp;수술 후 1주일 동안은 부드러운 음식을 드시기를 권장합니다.</p>
                                <p>&ensp;음주와 흡연은 가급적 피하시고, 부득이한 경우 4주후 부터 하시기를 권장합니다. </p>
                                <p>&ensp;수술 부위는 가급적 손대지 마시기를 권장합니다. </p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:2250px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3" style="height:3140px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">턱끝 성형(주걱턱)</div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C3.png" style="position:absolute;left:660px;top:220px;max-width:45%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:24px;">
                            <div class="text-body">
                                <p>&ensp;턱 길이가 전체적으로 길고 넓은 경우</p>
                                <p>&ensp;턱 끝이 앞으로 튀어나온 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:660px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 돌출된 턱 끝을 교정하여 자연스러운 라인의 얼굴 효과<br>
                                2. 자연스러운 얼굴라인 뿐만 아니라, 턱의 본래 기능을 살려주는 효과<br>
                                3. 얼굴이 작아져서 부드러운 인상과 어려보이는 이미지효과
                            </div>
                        </div>
                       
                        <div class="body-text small" style="position:absolute;left:100px;top:850px;">
                            <div class="text-header" style="color:orange;">주걱턱 교정술</div>
                            <div class="text-body" style="font-size:24px;">
                                입안절개를 통해 턱끝뼈를 수평으로 잘라낸 뒤 이동시킨 후 고정하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1050px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1150px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C3_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C3_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C3_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C3_PRO_4.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1295px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:117px;">
                                전신 마취로<br>
                                수술을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:310px;">
                                신경선을 피해<br>
                                턱 끝을 수평으로<br>
                                절골 합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:485px;">
                                계획대로 위치를 이동 후<br>
                                고정 핀으로<br>
                                뼈를 고정합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:685px;">
                                접합 부위의<br>
                                표면을 갈아내여<br>
                                부드러운 라인으로<br>
                                연결합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1450px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div class="body-middle-box" style="position:absolute;top:1550px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_3.png"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/face/C1_4.png"/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:20px;position:absolute;top:1830px;right:20px;" align="center">
                            <div class="text-body">
                                <b>최신 의료 장비</b> 완비&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                최고의 <b>전문의</b> 구성
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1930px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2050px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                일시적으로 아랫입술의 감각이 둔감해 질수 있으나, 보통 1~개월 이내에 정상으로 회복됩니다. 
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>&ensp;항상 입안의 청결상태를 유지 합니다. </p>
                                <p>&ensp;수술부위 이외의 부부은 정상적인 칫솔질이 수술 후 3~4일 후에 </p>
                                &ensp;&ensp;&ensp;&ensp;가능하며, 수술부위는 병원에서 처방받은 구강 소독액을 사용하기를 권장합니다.
                                <p>&ensp;수술 후 1주일 동안은 부드러운 음식을 드시기를 권장합니다.</p>
                                <p>&ensp;음주와 흡연은 가급적 피하시고, 부득이한 경우 4주후 부터 하시기를 권장합니다. </p>
                                <p>&ensp;수술 부위는 가급적 손대지 마시기를 권장합니다. </p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:2250px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
					
					<div class="tab-body" id="tab4" style="height:3140px;">
						<div class="body-text large" style="position:absolute;top:120px;left:800px">
                            <div class="text-header">턱끝 성형(무턱)</div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C4.png" style="position:absolute;left:0px;top:200px;max-width:45%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:650px;top:400px;font-size:24px;">
                            <div class="text-body">
                                <p>&ensp;턱끝이 뒤로 빠져있거나 그길이가 충분하지 못하여,<br>
                                &ensp;&ensp;&ensp;&ensp;얼굴의 아래쪽이 없어 보이는 경우</p>
                                <p>&ensp;턱끝이 충분하지 못하여 목과 얼굴의 경계가 불분명한 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:660px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 또렷한 턱라인을 만들어주는 효과<br>
                                2. 턱에 갸름한 라인이 생겨 세련되 이미지 효과<br>
                                3. 얼굴이 작아져서 부드러운 인상과 어려보이는 이미지효과
                            </div>
                        </div>
                       
                        <div class="body-text small" style="position:absolute;left:100px;top:850px;">
                            <div class="text-header" style="color:orange;">절골술</div>
                            <div class="text-body" style="font-size:24px;">
                                뒤로 들어가 있는 턱끝뼈를 잘라 전체적으로 앞으로 이동시키는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:100px;top:1030px;">
                            <div class="text-header" style="color:orange;">보형물 삽입</div>
                            <div class="text-body" style="font-size:24px;">
                                입안절개를 통해 턱끝뼈를 수평으로 잘라낸 뒤 이동시킨 후 고정하는 수술
                            </div>
                        </div>

                        <div class="body-text small" style="top:1250px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1350px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C4_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C4_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C4_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/face/C4_PRO_4.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1490px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:117px;">
                                전신 마취로<br>
                                수술을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:310px;">
                                입안을 잴개 후<br>
                                수술 부위를<br>
                                노출 시킵니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:500px;">
                                턱 끝의 절골선을<br>
                                표시합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:680px;">
                                계획대로 턱 끝뼈를<br>
                                이동시킨 후<br>
                                고정합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1650px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div class="body-middle-box" style="position:absolute;top:1750px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_3.png"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/face/C1_4.png"/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:20px;position:absolute;top:2030px;right:20px;" align="center">
                            <div class="text-body">
                                <b>최신 의료 장비</b> 완비&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                최고의 <b>전문의</b> 구성
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2130px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                일시적으로 아랫입술의 감각이 둔감해 질수 있으나, 보통 1~개월 이내에 정상으로 회복됩니다. 
                            </div>
                        </div>
                        <div class="body-text small" style="top:2450px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>&ensp;항상 입안의 청결상태를 유지 합니다. </p>
                                <p>&ensp;수술부위 이외의 부부은 정상적인 칫솔질이 수술 후 3~4일 후에 </p>
                                &ensp;&ensp;&ensp;&ensp;가능하며, 수술부위는 병원에서 처방받은 구강 소독액을 사용하기를 권장합니다.
                                <p>&ensp;수술 후 1주일 동안은 부드러운 음식을 드시기를 권장합니다.</p>
                                <p>&ensp;음주와 흡연은 가급적 피하시고, 부득이한 경우 4주후 부터 하시기를 권장합니다. </p>
                                <p>&ensp;수술 부위는 가급적 손대지 마시기를 권장합니다. </p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:2250px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5" style="height:2590px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">고양이 수술</div>
                        </div>
                        
                        <img src="/assets/images/subpage/face/C5.png" style="position:absolute;left:550px;top:120px;max-width:45%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:24px;">
                            <div class="text-body">
                                <p>&ensp;인중이 꺼져있어 돌출입처럼 보이는 경우</p>
                                <p>&ensp;인중과 팔자부분이 같이 꺼져있는 경우</p>
                                <p>&ensp;코끝이 낮고 처진 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:710px;left:100px;height:2300px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 돌출된 입매 교정 효과<br>
                                2. 얼굴의 전체적인 비율과 라인의 조화로움 효과<br>
                                3. 인중이 길어보이는 효과<br>
                                4. 세련된 옆라인 완성 효과
                            </div>
                        </div>
                       
                        <div class="body-text small" style="position:absolute;left:100px;top:950px;">
                            <div class="text-header" style="color:orange;">비순각 교정술</div>
                            <div class="text-body" style="font-size:24px;">
                                코와 인중이 만나는 부위를 돋우어주는 수술로, 코성형과 동시에 인중을 교정하여 <br>
                                고양이의 매끈한라인처럼 인중은 올려주고 입은 들어가도록 하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1220px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div class="body-middle-box" style="position:absolute;top:1320px;right:20px;" align="center">
                            <img src="/assets/images/subpage/face/C1_3.png"/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/face/C1_4.png"/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:20px;position:absolute;top:1580px;right:20px;" align="center">
                            <div class="text-body">
                                <b>최신 의료 장비</b> 완비&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                                최고의 <b>전문의</b> 구성
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1700px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1850px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                일시적으로 아랫입술의 감각이 둔감해 질수 있으나, 보통 1~개월 이내에 정상으로 회복됩니다. 
                            </div>
                        </div>
                        <div class="body-text small" style="top:2050px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>&ensp;항상 입안의 청결상태를 유지 합니다. </p>
                                <p>&ensp;수술부위 이외의 부부은 정상적인 칫솔질이 수술 후 3~4일 후에 </p>
                                &ensp;&ensp;&ensp;&ensp;가능하며, 수술부위는 병원에서 처방받은 구강 소독액을 사용하기를 권장합니다.
                                <p>&ensp;수술 후 1주일 동안은 부드러운 음식을 드시기를 권장합니다.</p>
                                <p>&ensp;음주와 흡연은 가급적 피하시고, 부득이한 경우 4주후 부터 하시기를 권장합니다. </p>
                                <p>&ensp;수술 부위는 가급적 손대지 마시기를 권장합니다. </p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1700px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
			</div><!-- /.tabs -->
        </div>
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>