<div class="row" style="max-width:100%;text-align:center;">
	<div style="background-color:#5d7097;font-size:2rem;color:#fff;padding:5px 30px;display:inline-block;position:relative;z-index:100;margin-top:-22px;box-shadow:0px 0px 20px #5d7097;">COSMETIC SURGERY</div>
	<div style="background-color:#43507c;width:100%;height:500px;position:relative;margin-top:-40px;display: table;padding-left:4rem;min-width:1200px;">
		<div class="inner">
			<div class="centered" style="height:70%;">
				<div class="container">
					<div class="outer" style="border:1px solid #fff;">
						<div class="inner">
							<div class="centered">
								<table style="border:0px solid #fff;">
									<tr>
										<td>의료진</td><td>상담번호</td>
									</tr>
									<tr>
										<td>최수종 원장</td><td>051)231-8088</td>
									</tr>
									<!--<tr>
										<td>이박사 : 코필러, 안티에이징 전문</td><td>010-2222-3333</td>
									</tr>
									<tr>
										<td>박박사 : 얼굴윤곽, 리프팅전문</td><td>010-3333-4444</td>
									</tr>-->
									<tr><td></td><td></td></tr>
									<tr><td></td><td></td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="outer" style="border:1px solid #fff;">
						<div class="inner">
							<div class="centered">
								<table style="border:0px solid #fff;">
									<tr>
										<td>진료시간</td><td>주소/연락처</td>
									</tr>
									<tr>
										<td>월~금 : 9:30~18:30</td><td>부산시 서구 보수대로9 내일N성형외과(2F)</td>
									</tr>
									<tr>
										<td>토요일 : 9:30~16:30</td><td>Tel. 051)231-8088</td>
									</tr>
									<tr>
										<td>일요일 : 휴진</td><td>Fax. 051)231-6088</td>
									</tr>
									<tr>
										<td></td><td>Mail. n1npsdr@gmail.com</td>
									</tr>
									<tr>
										<td></td><td>카카오톡 ID. n1nps</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!--<img src="/assets/images/mainpage/foor_time.png" style="width:100%;"/>-->
</div>
<div class="section-ribbon" style="height:0px;position:inherit;">
    <img src="/assets/images/mainpage/foot_final_icon.png" style="margin-top:-33px;"/>
</div>
<div class="footer" style="background-color:#f0f5f8;">
	<div class="row">
		<% ss.menu.forEach(function(menu_row, menu_idx){ %>
			<div class="columns large-1 medium-6">
				<h5><span style="font-weight:bold;"><%= menu_row.description%></span></h5>
				<ul class="list-links">
				<% ss.sub_menu.forEach(function(sub_menu_row, sub_menu_idx) {%>
					<% if(menu_row.menu_id == sub_menu_row.menu_id) { %>
					<li>
						<!--<a href="/category/menu<%=menu_row.menu_id%>/sub_menu<%=sub_menu_row.sub_menu_id%>"><%= sub_menu_row.description%></a></i></a>-->
                        <a href="/category/menu<%=menu_row.menu_id%>/sub_menu1?page=<%=sub_menu_row.sub_menu_id%>"><%= sub_menu_row.description%></a></i></a>
					</li>
					<% } %>
				<% }); %>
				</ul>
			</div>
		<% }); %>
	</div>
</div><!-- /.footer -->	
<div class="row" style="background-color:#44517e;text-align:right;width:100%;max-width:100%;">
	<div style="padding-right:20%;">
		<img src="/assets/images/mainpage/foot_sns_face.png" />
		<img src="/assets/images/mainpage/foot_sns_blog.png" />
		<img src="/assets/images/mainpage/foot_sns_inst.png" />
	</div>
</div><!-- /.row -->
<div class="row" style="background-color:#f0f5f8;margin-top:3rem;margin-bottom:3rem;">
	<div style="width:100%;">
		<div class="columns large-6 medium-12">
			<img src="/assets/images/mainpage/foot_logo.png" />
			&nbsp&nbsp
			<img src="/assets/images/mainpage/foot_info.png" />
		</div>
		<div class="columns large-6 medium-12">
			<img src="/assets/images/mainpage/foot_suv_logo1.png" />
			<img src="/assets/images/mainpage/foot_suv_logo2.png" />
		</div>
	</div>
</div><!-- /.row -->

