<script>
	var admin1 = 'N';
	<% if(typeof ss.admin != 'undefined' && ss.admin == 'Y'){%>
			admin1 = 'Y';
	<%}else if(typeof ss.admin != 'undefined'){%>
			admin1 = 'X';
	<%}
	%>
</script>
<header class="header" style="background-color:#fff;">
	<div class="header-bar row">
		<div class="columns large-12 medium-12" style="text-align:right;border-bottom:1px solid #f88721;">
			<div class="socials">
				<ul>
                    <li><a href="/info"><p>병원소개</p></a></li>
                    <li><a href="/category/notice"><p>공지사항</p></a></li>
                    <li><a href="/community"><p>커뮤니티</p></a></li>
					<% if(typeof ss.name == 'undefined' || ss.name == '') { %>
                        <li><a href="/users/signup"><p>회원가입</p></a></li>
						<li><a href="/users/signin"><p>로그인</p></a></li>
					<% } else { %>
						<% if(typeof ss.admin != 'undefined' && ss.admin == 'Y') { %>
							<li><a href="/users/admin"><p>관리자 모드</p></a></li>
						<% } %>
						<!--<li><a href="/users/mypage"><p> 마이페이지</p></a></li>-->
						<li><a href="/users/signout"><p>[<%=ss.name%>] 로그아웃</p></a></li>
					<% } %>
				</ul>
			</div><!-- /.socials -->

			<a href="/category/contact/counsel_list" class="button markBackColor" 
                style="font-size:20px;padding:1rem 2rem 2.7rem 2rem !important;border-bottom:1px solid #f88721;">
                상담 & 예약
            </a>
		</div><!-- /.columns large-6 -->
	</div><!-- /.header-bar row -->

	<div class="row">
		<div class="columns large-2 medium-12">
			<a href="/" class="logo">
				<img src="/assets/images/mainpage/nav_logo.png" width="762" height="78" alt="내일N성형외과">
			</a>
		</div><!-- /.columns large-3 -->

		<div class="columns large-10 medium-12">
			<a href="#" class="btn-menu">
				<span></span>
			</a>

			<nav class="nav"  style="border-left:0px solid #fff;margin-top:36px;">
				<ul class="clearfix">
					<% ss.menu.forEach(function(menu_row, menu_idx){ %>
						<li>
							<a href="/category/menu<%=menu_row.menu_id%>"><%= menu_row.description%></a>
							<ul class="nav-dropdown">
							<% ss.sub_menu.forEach(function(sub_menu_row, sub_menu_idx) {%>
								<% if(menu_row.menu_id == sub_menu_row.menu_id) { %>
								<li>
                                        <a href="/category/menu<%=menu_row.menu_id%>/sub_menu1?page=<%=sub_menu_row.sub_menu_id%>"><%= sub_menu_row.description%></a></i></a>
								</li>
								<% } %>
							<% }); %>
							</ul>
						</li>
					<% }); %>
<!--					<li class="current">
					</li>-->
				</ul>
			</nav><!-- /.nav -->
		</div><!-- /.columns large-6 -->
	</div><!-- /.row -->
    
    <div id="sidemenu" style="position:fixed;right:0;top:15%;cursor:pointer;">
        <div><a href="/category/notice"><img src="/assets/images/mainpage/side_notice_block.png" /></a></div>
        <div><a href="/category/contact/counsel_list"><img src="/assets/images/mainpage/side_qna_block.png" /></a></div>
        <div id="kakaochat"><img src="/assets/images/mainpage/side_kakao_block.png" /></div>
        <div><a href="/info?page=6"><img src="/assets/images/mainpage/side_info_block.png" /></a></div>
    </div>
</header><!-- /.header -->	

<script>
	$('#kakaochat').on('click', function(){
		window.open("https://open.kakao.com/o/sQeYJ5h", "_blank", "top=0, left=0, width=300, height:300, resize=1, scrollbars=yes");
	});
</script>