<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<meta http-equiv="x-ua-compatible" content="IE=edge" >
	<title>내일N성형외과</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="//code.jquery.com/jquery-1.9.1.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
	<link rel="stylesheet" href="/style.css" />
	
	<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDyMWmMJPxGR2ah38Z54RQlQlYbUdqkCtU&signed_in=true"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="/assets/javascripts/jssor.slider.min.js"></script>
	<script src="/js/common.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-75485544-1', 'auto');
		  ga('send', 'pageview');
		  
		function _ajax_request(url, data, callback, type, method) {
		    if (jQuery.isFunction(data)) {
		        callback = data;
		        data = {};
		    }
		    return jQuery.ajax({
		        type: method,
		        url: url,
		        data: data,
		        success: callback,
		        dataType: type
		        });
		}
		
		jQuery.extend({
		    put: function(url, data, callback, type) {
		        return _ajax_request(url, data, callback, type, 'PUT');
		    },
		    delete: function(url, data, callback, type) {
		        return _ajax_request(url, data, callback, type, 'DELETE');
		    }
		});
	</script>
</head>