<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	<% var thispage = 1;
	if(typeof page != 'undefined' && page != ''){
		thispage = page;
	}%>
	
	<style>
		.list-services li{
			width: 16%;
	    	margin-right:0.5%;
		}

		.paging a{
			height:30px;
		}
	</style>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/hospitalinfo/community.png" alt="" />
		</div>
	</div>
	
	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>켜뮤니티</a></li>
                                
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:600px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">공사중</div>
                            <div class="text-body">
                                지금은 준비중입니다.
                            </div>
                        </div>
                        
					</div><!-- /.tab-body -->

					
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>


</div><!-- /.wrapper -->
<%- include('../../common/footer') -%>
</body>
</html>
