<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/body/body.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 25%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		} 
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>지방 흡입</a></li>
                                <li><a href="#tab2" itemprop='name'>복부 성형</a></li>
                                <li><a href="#tab3" itemprop='name'>힙업 성형</a></li>
                                <li><a href="#tab4" itemprop='name'>종아리 성형</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:2800px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">지방 흡입</div>
                        </div>
                        
                        <img src="/assets/images/subpage/body/D1_1.png" style="position:absolute;left:700px;top:120px;max-width:28%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;전반적으로 몸 전체에 지방이 많은 경우</p>
                                <p>&ensp;많은 지방세포로 인해 적게 먹어도 살이 쉽게 찌는 경우</p>
                                <p>&ensp;단기간에 체형 교정 효과를 원하는 경우</p>
                                <p>&ensp;과도한 다이어트와 요요현상으로 피부가 늘어진 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 늘어지는 피부 없이 매끈한 바디라인 완성 효과<br>
                                2. 슬림한 사이즈 감소 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:750px;font-size:20px;">
                            <div class="text-header">바디 지방 흡입</div>
                            <div class="text-body">
                                보이는 부분만 시행하는 일차원적 흡입이 아니라 <br>
                                전반적인 바디의 부자연스러운 비율과 피부 밑 지방층을 <br>
                                초음파 검사를 통해 지방 흡입량을 정확히 진단하여 <br>
                                출혈과 통증을 최소화 시키는 수술방법입니다.
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:1050px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1150px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/body/D1_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D1_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D1_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D1_PRO_4.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1320px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:50px;">
                                초음파진단을 통한<br> 
                                피하지방비율 정밀 진단 및<br> 
                                혈액검사를 통한 건강검진을<br> 
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:305px;">
                                수면마취와<br> 
                                철저한 소독을<br> 
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:490px;">
                                내부초음파를 통해<br> 
                                지방조직을 연화시킵니다. 
                            </div>
                            <div class="text-body" style="position:absolute;left:725px;">
                                외부초음파를 통해<br> 
                                섬세한 라인 수술을<br>
                                진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1570px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1775px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2040px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1910px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:2800px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">복부 성형</div>
                        </div>
                        
                        <img src="/assets/images/subpage/body/D2.png" style="position:absolute;left:730px;top:120px;max-width:30%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;전체적으로 복부지방이 두툼한 경우</p>
                                <p>&ensp;정상 또는 마른체형이나 유독 뱃살이 많은신 경우</p>
                                <p>&ensp;앞면과 옆면의 뱃살이 쳐진 경우</p>
                                <p>&ensp;복부 라인없어 허리라인이 안보이는 경우 </p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 복부의 늘어지는 피부 없이 매끈한 복부라인 완성 효과<br>
                                2. 슬림안 사이즈 감소 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:750px;font-size:20px;">
                            <div class="text-header">복부지방 흡입성형</div>
                            <div class="text-body">
                                복부의 전반적인 부분(윗배,아랫배, 옆구리,러브핸들,브래지어라인등)을 <br>
                                초음파 검사를 통해 지방 흡입량을 정확히 진단하여 <br>
                                출혈과 통증을 최소화 시키는 수술방법
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:1050px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1150px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/body/D2_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D2_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D2_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D2_PRO_4.png" style=""/> 
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D2_PRO_5.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1295px;" align="center">
                            <div class="text-body" style="position:absolute;left:80px;">
                                초음파진단을 통한 <br>
                                피하지방비율 정밀 진단 및 <br>
                                혈액검사를 통한 건강검진을 <br>
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:295px;">
                                수술 전 개개인의 <br>
                                체형과 밸런스를 맞춘 <br>
                                디자인을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:475px;">
                                수면마취와 철저한 소독을 <br>
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:670px;">
                                내부 초음파를 통해 <br>
                                지방조직을 연화 시킵니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:880px;">
                                외부 초음파를 통해 <br>
                                섬세한 라인 수술을 <br>
                                진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1570px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1775px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2040px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1910px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3" style="height:2800px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">힙업 성형</div>
                        </div>
                        
                        <img src="/assets/images/subpage/body/D3.png" style="position:absolute;left:600px;top:120px;max-width:45%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;엉덩이 볼륨감이 없어 뒷태가 밋밋하신 경우</p>
                                <p>&ensp;처진 엉덩이로 인해 다리가 짧아 보이는 경우</p>
                                <p>&ensp;자연스러운 힙라인을 원하시는 경우</p>
                                <p>&ensp;보형물 삽입에 두려움이 있으신 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 볼륨감 있는 뒷태 완성 효과<br>
                                2. 자연스러운 힙업 라인 완성 효과<br>
                                3. 힙업을 통해 다리가 길어 보이는 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:750px;font-size:20px;">
                            <div class="text-header">자가지방 흡입성형</div>
                            <div class="text-body">
                                처진 엉덩이의 아래부위와 허벅지 위쪽 부위의 지방을 채취하여 <br>
                                엉덩이 위쪽에 이식하는 수술
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:1050px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1150px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/body/D3_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D3_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D3_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D3_PRO_4.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1320px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:50px;">
                                초음파진단을 통한<br> 
                                피하지방비율 정밀 진단 및<br> 
                                혈액검사를 통한 건강검진을<br> 
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:285px;">
                                수술 전 개개인의<br>
                                체형과 밸런스를 맞춘<br>
                                디자인을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:490px;">
                                수면마취와 철저한 소독을<br> 
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:720px;">
                                자가지방 이식을 통한<br> 
                                힙라인을 업시켜<br>
                                교정합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1570px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1775px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2040px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1910px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4" style="height:2800px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">종아리 성형</div>
                        </div>
                        
                        <img src="/assets/images/subpage/body/D4.png" style="position:absolute;left:730px;top:120px;max-width:25%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;종아리 안쪽의 비복근 근육이 발달한 경우</p>
                                <p>&ensp;운동 의해 외측 비복근 즉 장딴지가 발달한 경우</p>
                                <p>&ensp;종아리에 근육이 넓게 퍼진 경우</p>
                                <p>&ensp;두꺼운 피하지방으로 종아리에 지방층이 많은 경우 </p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 매끄러운 다리 라인 완성 효과<br>
                                2. 둘레 감소효과와 부종 개선 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:750px;font-size:20px;">
                            <div class="text-header">종아리 근육퇴축술</div>
                            <div class="text-body">
                                신경과 비곡근의 움직임을 정확히 파악하여 하는 수술
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:900px;font-size:20px;">
                            <div class="text-header">종아리 지방흡입</div>
                            <div class="text-body">
                                초읔파진단을 통한 연조족을 파악 후 알통근육을 둘러싼 피하지방을 흡입하는 수술
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:1080px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1170px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/body/D4_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D4_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D4_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D4_PRO_4.png" style=""/> 
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/body/D2_PRO_5.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1315px;" align="center">
                            <div class="text-body" style="position:absolute;left:80px;">
                                초음파진단을 통한 <br>
                                피하지방비율 정밀 진단 및 <br>
                                혈액검사를 통한 건강검진을 <br>
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:295px;">
                                수술 전 개개인의 <br>
                                체형과 밸런스를 맞춘 <br>
                                디자인을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:475px;">
                                수면마취와 철저한 소독을 <br>
                                진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:670px;">
                                내부 초음파를 통해 <br>
                                지방조직을 연화 시킵니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:880px;">
                                외부 초음파를 통해 <br>
                                섬세한 라인 수술을 <br>
                                진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1570px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1775px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2040px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1910px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>