<!DOCTYPE html>
<html lang="en">
<%- include('../common/head') -%>
<body>
<div class="wrapper">
	<%- include('../common/header') -%>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/qna/Book_title_block.png" alt="" />
		</div>
	</div>

<style>
	.list-services li{
		width: 20%;
    	margin-right:0px;
	}

	.paging a{
		height:30px;
	}
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
			<div class="tab-head" style="background-color:transparent;padding:0;">
				<div class="tabs-nav">
                    <div class="columns large-12">
                        <ul class="list-services" itemscope itemtype="http://schema.org/Product" style="margin-top:1rem;">
                            <li class="current"><a href="#tab1" itemprop='name'>온라인 상담 답변</a></li>
                            <li><a href="#tab2" itemprop='name'>전화상담 확인</a></li>
                            <li><a href="#tab3" itemprop='name'>공지사항 관리</a></li>
                            <li><a href="#tab4" itemprop='name'>사용자 관리</a></li>
                            <li><a href="#tab5" itemprop='name'>팝업 관리</a></li>
                        </ul>
                    </div>
				</div>
			</div>

			<div class="tabs-body" style="background-color:#fff;">
				<div class="tab-body current" id="tab1" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">온라인 상담 답변</div>
                        <div class="text-body">
                        	<div class="row">
								<select id="kind" onchange="" style="width:150px;height:45px;">
									<option value="A">분류</option>
									<% ss.menu.forEach(function(row, idx){%>
										<option value="<%=row.menu_id%>"><%=row.description%></option>
									<%})%>
								</select>
								
								<select id="kind2" onchange="" style="width:150px;height:45px;">
									<option value="all">전체</option>
									<option value="writer">작성자</option>
									<option value="title">제목</option>
									<option value="content">내용</option>
								</select>
								
								<input type="text" value="" id="searchWord" placeholder="검색어" style="width:200px;height:45px;display:inline;"/>
								<div class="button btn-light-blue btn-small" id="search" style="">검색</div>
							</div>
							<div class="row">
								<table id="questionList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>분류</th>
										<th>제목</th>
										<th>작성자</th>
										<th>답변</th>
										<th>날짜</th>
									</tr>
									<% list.forEach(function(row, idx){ 
										var cls;
										var status;
										if(row.status == 'N') {status = '답변대기'}
										else {status = '답변완료'};
										if(idx % 2 == 0) cls = "danger";  
									    else cls = "active";%>
									<tr class=<%= cls %>>               
								        <td><%= row.seq%> </td>       
								        <td><%= row.kind %> </td>       
								        <td><a class="read" id="<%=row.seq%>" href='/category/contact/counsel/<%=row.seq%>/edit'><%= row.title %></a></td>       
								        <td><%= row.writer %> </td>  
								        <td><%= status %> </td>     
								        <td><%= row.input_dte %> </td>     
							        </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="pagination" class="pagination-sm"></ul>
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
				<div class="tab-body" id="tab2" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">전화상담 확인</div>
                        <div class="text-body">
                        	<div class="row">
								<table id="appointmentList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>분류</th>
										<th>내용</th>
										<th>이름</th>
										<th>연락처</th>
										<th>성별</th>
										<th>나이</th>
										<th>상담시간</th>
										<th>상태</th>
										<th>신청시간</th>
										<th>조치</th>
									</tr>
									<% appList.forEach(function(row, idx){ 
										var cls;
										if(idx % 2 == 0) cls = "danger";  
									  	else cls = "active";%>
									<tr class=<%= cls %>>
								        <td class="app_seq"><%= row.seq%></td>
								        <td><%= row.kind %></td>       
								        <td><%= row.content %></a></td>       
								        <td><%= row.writer %></td>
								        <td><%= row.contact %></td>
								        <td><%= row.gender %></td>
								        <td><%= row.age %></td>
								        <td><%= row.wish_time %></td>
								        <td class="appStatus" value="<%= row.status %>"><%= row.status_name %></td>
								        <td><%= row.input_dte %></td>
								        <td>
								        	<% if(row.status == 'N'){%>
								        		<div class="button btn-light-blue qna-body app_confirm" style="color:#fff;height:auto;padding:10px !important;">완료처리</div>
								        	<%}else{%>
                                                <div class="button btn-light-blue qna-body app_confirm" style="color:#fff;height:auto;padding:10px !important;">미완료처리</div>
                                            <%}%>
								        	<div class="button btn-light-blue qna-body app_del" style="color:#fff;height:auto;padding:10px !important;background-color:#FF8300;">삭제</div>
							        	</td>
							        </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="app_pagination" class="pagination-sm"></ul>
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
			<div class="tab-body" id="tab3" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">공지사항 관리</div>
                        <div class="text-body">
                        	<div class="row">
								<table id="appointmentList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>제목</th>
										<th>작성자</th>
										<th>게시일</th>
										<th>조치</th>
									</tr>
									<% noticeList.forEach(function(row, idx){ 
										var cls;
										if(idx % 2 == 0) cls = "danger";  
									  	else cls = "active";%>
									<tr class=<%= cls %>>
								        <td class="notice_seq"><%= row.seq%></td>
								        <td><a href="/category/notice/<%= row.seq%>"><%= row.title %></a></td>
								        <td><%= row.writer %></td>
								        <td><%= row.input_dte %></td>
								        <td>
								        	<div class="button btn-light-blue qna-body noti_del" style="color:#fff;height:auto;padding:10px !important;background-color:#FF8300;">삭제</div>
							        	</td>
							        </tr>                           
									<% }) %>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="notice_pagination" class="pagination-sm"></ul>
								</div>
							</div>
							<div class="row">
								<div class="form-actions">
									<div id="counsel" class="button btn-light-blue" style="color:#fff;">
										<a href="/category/notice/new" style="color:#fff;">글 작성하기
										</a>
									</div>
								</div><!-- /.form-actions -->
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
                <div class="tab-body" id="tab4" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">사용자 관리</div>
                        <div class="text-body">
                        	<div class="row">
								<table id="appointmentList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>이름</th>
										<th>E-Mail</th>
										<th>연락처</th>
										<th>생년월일</th>
										<th>성별</th>
										<th>국적</th>
										<th>관리자</th>
										<th>생성일</th>
										<th>비고</th>
									</tr>
									<% userList.forEach(function(row, idx){ 
										var cls;
										if(idx % 2 == 0) cls = "danger";  
									  	else cls = "active";%>
									<tr class=<%= cls %>>
								        <td class="user_seq"><%= row.num%></td>
								        <td><%= row.name %></td>
								        <td class="email"><%= row.email %></td>
								        <td><%= row.phone_no %></td>
								        <td><%= row.birth %></td>
								        <td><%= row.gender %></td>
								        <td><%= row.country %></td>
								        <td><%= row.admin %></td>
								        <td><%= row.input_dte %></td>
								        <td>
                                            <% if(row.admin == 'N'){%>
								        		<div class="button btn-light-blue qna-body user_admin" style="color:#fff;height:auto;padding:10px !important;">관리자 설정</div>
								        	<%}else{%>
                                                <div class="button btn-light-blue qna-body user_admin" style="color:#fff;height:auto;padding:10px !important;">관리자 취소</div>
                                            <%}%>
								        	
								        	<div class="button btn-light-blue qna-body user_del" style="color:#fff;height:auto;padding:10px !important;background-color:#FF8300;">삭제</div>
							        	</td>
							        </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="user_pagination" class="pagination-sm"></ul>
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
                <div class="tab-body" id="tab5" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">팝업 관리</div>
                        <div class="text-body">
                        	<div class="row">
								<table id="appointmentList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>제목</th>
										<th>내용</th>
										<th>X좌표</th>
										<th>Y좌표</th>
										<th>너비</th>
										<th>높이</th>
										<th>게시여부</th>
										<th>작성자</th>
										<th>입력일</th>
									</tr>
									<% popupList.forEach(function(row, idx){ 
										var cls;
										if(idx % 2 == 0) cls = "danger";  
									  	else cls = "active";%>
									<tr class=<%= cls %>>
								        <td class="user_seq"><%= row.seq%></td>
								        <td><%= row.title %></td>
								        <td><a href="/users/popup/<%=row.seq%>">내용자세히 보기</a></td>
								        <td><%= row.x %></td>
								        <td><%= row.y %></td>
								        <td><%= row.width %></td>
								        <td><%= row.height %></td>
								        <td><%= row.use_tag %></td>
								        <td><%= row.input_psn %></td>
								        <td><%= row.input_dte %></td>
							        </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="popup_pagination" class="pagination-sm"></ul>
								</div>
							</div>
                            <div class="row">
								<div class="form-actions">
									<div id="popupWrite" class="button btn-light-blue" style="color:#fff;">
										<a href="/users/popup/new" style="color:#fff;">글 작성하기
										</a>
									</div>
								</div><!-- /.form-actions -->
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
			</div>
			</div>
			
		</div>
	</div>
<div style="width:100%;height:100px;"></div>

<%- include('../common/footer') -%>
</div><!-- /.wrapper -->

<script src="/assets/javascripts/jquery.twbsPagination.min.js"></script>

<script>
var tab = <%= tab %>;

	$(document).ready(function(){
        $('li:nth-child(' + tab + ')').find('a').trigger('click');

		$('.read').on('click', function(){
			location.href = '/category/contact/counsel/' + seq +'/edit';
		});

		$('#pagination').twbsPagination({
		    totalPages: Math.ceil(<%=cnt[0].cnt / 5 %>),
		    visiblePages: 5,
					href: '?tab=1&page={{number}}'
		});

		if(<%=appCnt[0].cnt%> != 0){
			$('#app_pagination').twbsPagination({
			    totalPages: Math.ceil(<%=appCnt[0].cnt / 5 %>),
			    visiblePages: 5,
						href: '?tab=2&appPage={{number}}'
			});
		}

		if(<%=noticeCnt[0].cnt%> != 0){
			$('#notice_pagination').twbsPagination({
			    totalPages: Math.ceil(<%=noticeCnt[0].cnt / 5 %>),
			    visiblePages: 5,
						href: '?tab=3&noticePage={{number}}'
			});
		}
        
		if(<%=userCnt[0].cnt%> != 0){
	        $('#user_pagination').twbsPagination({
			    totalPages: Math.ceil(<%=userCnt[0].cnt / 5 %>),
			    visiblePages: 5,
						href: '?tab=4&userPage={{number}}'
			});
		}
        
 		if(<%=popupCnt[0].cnt%> != 0){
	        $('#popup_pagination').twbsPagination({
			    totalPages: Math.ceil(<%=popupCnt[0].cnt / 5 %>),
			    visiblePages: 5,
						href: '?tab=5&popupPage={{number}}'
			});
 		}

		$('.app_confirm').on('click', function(){
            var status = $(this).parent().parent().find('.appStatus').attr('value') == 'Y' ? 'N' : 'Y';
            
            if(status == 'Y'){
                if(!confirm('전화상담 내역을 완료처리 하시겠습니까?')) return;
            }else{
                if(!confirm('전화상담 내역을 미완료처리 하시겠습니까?')) return;
            }
            
			var self = $(this);
            var param = {
                seq:$(this).parent().parent().find('.app_seq').text(),
                status:status
            }
			
			$.put('/category/contact/appointment/' + $(this).parent().parent().find('.app_seq').text(), param, function(data){
				if(data != 'T') return;

                if(status == 'Y'){
                    self.text('미완료처리');
                    self.parent().parent().find('td:nth-child(9)').text('완료');
                    self.parent().parent().find('td:nth-child(9)').attr('value', 'Y');
                }else{
                    self.text('완료처리');
                    self.parent().parent().find('td:nth-child(9)').text('미완료');
                    self.parent().parent().find('td:nth-child(9)').attr('value', 'N');
                }
			});
		});

		$('.app_del').on('click', function(){
            if(!confirm('전화상담 내역을 삭제하시겠습니까?')) return;
            
			var self = $(this);

			$.delete('/category/contact/appointment/' + $(this).parent().parent().find('.app_seq').text(), null, function(data){
				if(data != 'T') return;

				self.parent().parent().remove();
			});
		});

		$('.noti_del').on('click', function(){
			if(!confirm('공지사항을 삭제하시겠습니까?')) return;

			var self = $(this);

			$.delete('/category/notice/' + $(this).parent().parent().find('.notice_seq').text(), null, function(data){
				if(data != 'T') return;

				self.parent().parent().remove();
			});
		});
        
        $('.user_admin').on('click', function(){
			var status = $(this).parent().parent().find('td:nth-child(8)').text() == 'Y' ? 'N' : 'Y';
            
            if(status == 'Y'){
                if(!confirm('관리자로 설정하시겠습니까?')) return;
            }else{
                if(!confirm('관리자를 취소하시겠습니까?')) return;
            }
            
			var self = $(this);
            var param = {
                email:$(this).parent().parent().find('.email').text(),
                admin:status
            }
			
			$.put('/users/user/' + $(this).parent().parent().find('.email').text(), param, function(data){
				if(data != 'T') return;

                if(status == 'Y'){
                    self.text('관리자 취소');
                    self.parent().parent().find('td:nth-child(8)').text('Y');
                }else{
                    self.text('관리자 설정');
                    self.parent().parent().find('td:nth-child(8)').text('N');
                }
			});
		});
        
        $('.user_del').on('click', function(){
            var user = $(this).parent().parent().find('.email').text();
			if(!confirm(user + '사용자를 삭제하시겠습니까?')) return;

			var self = $(this);
            
            var param = {
                email:$(this).parent().parent().find('.email').text()
            }

			$.delete('/users/user/' + user, param, function(data){
				if(data != 'T') return;

				self.parent().parent().remove();
			});
		});
	});
</script>      
</body>
</html>
