<!DOCTYPE html>
<html lang="en">
<%- include('../common/head') -%>
<body>
<div class="wrapper">
	<%- include('../common/header') -%>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/qna/Book_title_block.png" alt="" />
		</div>
	</div>

<style>
	.list-services li{
		width: 32.5%;
    	margin-right:0.5%;
	}

	.paging a{
		height:30px;
	}
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
			<div class="tab-head" style="background-color:transparent;padding:0;">
				<div class="tabs-nav">
                    <div class="columns large-12">
                        <ul class="list-services" itemscope itemtype="http://schema.org/Product" style="margin-top:1rem;">
                            <li class="current"><a href="#tab1" itemprop='name'>온라인 상담 답변</a></li>
                            <li><a href="#tab2" itemprop='name'>방문 예약 확인</a></li>
                        </ul>
                    </div>
				</div>
			</div>

			<div class="tabs-body" style="background-color:#fff;">
				<div class="tab-body current" id="tab1" style="height:800px;">
                    <div class="body-text large" style="top:80px;width:100%;">
                        <div class="text-header">온라인 상담 답변</div>
                        <div class="text-body">
                        	<div class="row">
								<select id="kind" onchange="" style="width:150px;height:45px;">
									<option value="A">분류</option>
									<% ss.menu.forEach(function(row, idx){%>
										<option value="<%=row.menu_id%>"><%=row.description%></option>
									<%})%>
								</select>
								
								<select id="kind2" onchange="" style="width:150px;height:45px;">
									<option value="all">전체</option>
									<option value="writer">작성자</option>
									<option value="title">제목</option>
									<option value="content">내용</option>
								</select>
								
								<input type="text" value="" id="searchWord" placeholder="검색어" style="width:200px;height:45px;display:inline;"/>
								<div class="button btn-light-blue btn-small" id="search" style="">검색</div>
							</div>
							<div class="row">
								<table id="questionList" style="width:100%;">
									<tr class="tableTitle">
										<th>번호</th>
										<th>분류</th>
										<th>제목</th>
										<th>작성자</th>
										<th>답변</th>
										<th>날짜</th>
									</tr>
									<% list.forEach(function(row, idx){ 
												var cls;
												var status;
												if(row.status == 'N') {status = '답변대기'}
												else {status = '답변완료'};
												if(idx % 2 == 0) cls = "danger";  
											  else cls = "active";%>
										<tr class=<%= cls %>>               
							        <td><%= row.seq%> </td>       
							        <td><%= row.kind %> </td>       
							        <td><a class="read" id="<%=row.seq%>" href='/category/contact/counsel/<%=row.seq%>/edit'><%= row.title %></a></td>       
							        <td><%= row.writer %> </td>  
							        <td><%= status %> </td>     
							        <td><%= row.input_dte %> </td>     
							      </tr>                           
									<%})%>
								</table>
							</div>
							<div class="row">
								<div class="paging" style="text-align:center;margin-top:0px;">
								  <ul id="pagination-demo" class="pagination-sm"></ul>
								</div>
							</div>
                        </div>
                    </div>
				</div><!-- /.tab-body -->
				<div class="tab-body" id="tab2" style="height:800px;">
                    <div class="body-text large" style="top:80px;">
                        <div class="text-header">방문 예약 확인</div>
                        <div class="text-body">
                        </div>
                    </div>
				</div><!-- /.tab-body -->
			</div>
		</div>
	</div>
<div style="width:100%;height:100px;"></div>

<%- include('../common/footer') -%>
</div><!-- /.wrapper -->

<script src="/assets/javascripts/jquery.twbsPagination.min.js"></script>

<script>

	$(document).ready(function(){
		$('.read').on('click', function(){
			location.href = '/category/contact/counsel/' + seq +'/edit';
		});

		$('#pagination-demo').twbsPagination({
		    totalPages: Math.ceil(<%=cnt[0].cnt / 10 %>),
		    visiblePages: 5,
					href: '?page={{number}}'
		});

		$('li:nth-child(1)').find('a').trigger('click');
	});
</script>      
</body>
</html>
