<!DOCTYPE html>
<html lang="en">
<%- include('../common/head') -%>
<body>
<%- include('../common/header') -%>
<div class="wrapper">   
<div id="signupbox" style="margin-top:50px" class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">회원가입</div>
    </div>  
    <div class="panel-body" >
      <form id="signupform" class="form-horizontal" role="form">
        <div id="signupalert" style="display:none" class="alert alert-danger">
          <p>Error:</p>
          <span></span>
        </div>
        <div class="form-group">
          <label for="email" class="col-md-3 control-label">이메일</label>
          <div class="col-md-9">
            <input id="text-input-email" type="text" class="form-control vali" name="email" placeholder="ex) mailname" style="width:50%;display:inline-block;">
            <span>@</span>
            <input id="text-input-emailExt" type="text" class="form-control vali" name="emailExt" placeholder="ex) compay.com" style="width:40%;display:inline-block;">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-md-3 control-label">이름</label>
          <div class="col-md-9">
            <input id="text-input-name" type="text" class="form-control vali" name="name" placeholder="이름">
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-md-3 control-label">핸드폰 번호</label>
          <div class="col-md-9">
            <input id="text-input-phoneno" type="text" class="form-control vali" name="phone_no" placeholder="010-1234-5678">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-md-3 control-label">패스워드</label>
          <div class="col-md-9">
            <input type="password" class="form-control vali" name="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-md-3 control-label">패스워드 확인</label>
          <div class="col-md-9">
            <input type="password" class="form-control vali" name="confirm" placeholder="Confirm">
          </div>
        </div>
          <div class="form-group">
            <label for="name" class="col-md-3 control-label">생년월일</label>
            <div class="col-md-9">
                <select id="years" name="birth_year" style="float:left;width:30%;margin-right:10px;"></select>
                <select id="months" name="birth_month" style="float:left;width:30%;margin-right:10px;"></select>
                <select id="days" name="birth_day" style="float:left;width:30%;"></select>
            </div>
         </div>
        <!-- </div> -->
        <div class="form-group">
            <label for="name" class="col-md-3 control-label">성별</label>
            <div class="col-md-9">
                <input type="radio" name="gender" value="F" checked>여성(Female)
                <input type="radio" name="gender" value="M" style="margin-left:30px;">남성(Male)
            </div>
        </div>
        <div class="form-group">
          <label for="confirm" class="col-md-3 control-label">국적</label>
          <div class="col-md-9">
            <select name="country">
                <option value="KR" selected>한국(Korea)</option>
                <option value="CN">중국(China)</option>
                <option value="JP">일본(Japan)</option>
                <option value="US">미국(United States)</option>
                <option value="RU">러시아(Russia)</option>
                <option value="ET">그외 국적(Etc. Country)</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <textarea style="height:150px;"><%- include('stipulation_private') -%></textarea>
            <input type="checkbox" name="stipulation_private" id="stipulation_private">개인정보 취득방침
            <textarea style="height:150px;"><%- include('stipulation_signup') -%></textarea>
            <input type="checkbox" name="stipulation_signup" id="stipulation_signup">회원가입 약관
          </div>
        </div>
        <div class="form-group">
        <!-- Button -->                                        
          <div class="col-md-offset-3 col-md-12" style="text-align:right;margin-left:0px;">
            <input id="btn-signup" class="btn btn-info" value="회원가입">
            <label for="message" id="lbl-message"></label>
          </div>
        </div>
      </form>
    </div>
  </div>
 </div> 
</div>
<%- include('../common/footer') -%>
<script type="text/javascript">
    $(document).ready(function(){
            $("#btn-signup").click(function(e)
            {
                e.preventDefault();
                if(!checkValidation()) return;
                if(!$("input:checkbox[id='stipulation_private']").is(":checked")){
                    alert('개인정보 취득방침에 동의하셔야 회원가입 가능합니다.');
                    return;
                }
                
                if(!$("input:checkbox[id='stipulation_signup']").is(":checked")){
                    alert('회원가입 약관에 동의하셔야 회원가입 가능합니다.');
                    return;
                }
                
                if($('#text-input-email').val().indexOf('@') > -1){
                    alert('Email에 @가 존재합니다. @삭제후 진행하십시오.');
                    return;
                }
                
                if($('#text-input-emailExt').val().indexOf('.') == -1){
                    alert('Email 확장자에 .이 존재하지 않습니다. 이메일 형식이 잘못되었습니다.');
                    return;
                }
                
                var formData = $("#signupform").serialize();

                $.ajax({
                    type : "POST",
                    url : "/users/signup",
                    cache : false,
                    data : formData,
                    success : onSignUpSuccess,
                    error : onSignUpError
                });
            });
        });
        
        $(function() {
            //populate our years select box
            for (i = new Date().getFullYear(); i > 1900; i--){
                $('#years').append($('<option />').val(i).html(i));
            }
            //populate our months select box
            for (i = 1; i < 13; i++){
                $('#months').append($('<option />').val(i).html(i));
            }
            //populate our Days select box
            updateNumberOfDays(); 

            //"listen" for change events
            $('#years, #months').change(function(){
                updateNumberOfDays(); 
            });
        });
        
        function updateNumberOfDays(){
            $('#days').html('');
            month = $('#months').val();
            year = $('#years').val();
            days = daysInMonth(month, year);

            for(i=1; i < days+1 ; i++){
                    $('#days').append($('<option />').val(i).html(i));
            }
        }

        //helper function
        function daysInMonth(month, year) {
            return new Date(year, month, 0).getDate();
        }
        
        function onSignUpSuccess(json, status){
            console.log(json);
            console.log(status);
            $("#lbl-message").text(json.message);
            if(json.link != undefined){
                window.location = json.link;
            }
        }
        function onSignUpError(data, status){alert(JSON.stringify(data));}
</script>
</body>
</html>
<!--select -->
<!--	seq, writer, kind, title, phone, password, email, content, DATE_FORMAT(input_dte, '%Y-%m-%d %H:%i') input_dte -->
<!--from -->
<!--	online_question-->
<!--where-->
<!--	writer like ifnull(:writer, writer)-->
<!--	and title like ifnull(:title, title)-->
<!--	and content like ifnull(:content, content)-->
<!--	and kind = ifnull(:kind, kind)-->
<!--order by seq desc -->
<!--limit :page, :pagecnt;-->