<!DOCTYPE html>
<html lang="en">
<%- include('../common/head') -%>
<body>
<%- include('../common/header') -%>
<div class="wrapper">   
	<div id="loginbox" style="margin-top:50px;" class="col-sm-offset-3 col-sm-6 col-sm-offset-3">                    
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">로그인</div>
          <div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
        </div>     
        <div style="padding-top:30px" class="panel-body" >
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <form id="signinform" class="form-horizontal" role="form" method="post" action="/users/signin">
            <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	            <input id="login-email" type="text" class="form-control" name="email" value="" placeholder="ex) gjpuniv@gjp.or.kr">
  		      </div>
				    <div style="margin-bottom: 25px" class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="login-password" type="password" class="form-control" name="password" placeholder="password">
            </div>
            <div class="input-group">
              <div class="checkbox">
                <label>
	                <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
   		          </label>
              </div>
            </div>
            <div style="margin-top:10px" class="form-group">
             <div class="col-sm-12 controls">
								<input id="btn-signin" type="submit" class="btn btn-success" value="로그인">
							
               </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 control">
                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
									회원가입을 하지 않으셨나요?
                  <a href="/users/signup" > 회원가입록 </a>
                </div>
              </div>
            </div>    
          </form>     
        </div>                     
      </div>  
  </div>
</div>
<%- include('../common/footer') -%>
<script type="text/javascript">
			$(document).ready(
				function(){
					$("#btn-signin").click(function(e)
					{
						e.preventDefault();
						var formData = $("#signinform").serialize();
 
						$.ajax({
	 						type : "POST",
	 						url : "/users/signin",
		 					cache : false,
		 					data : formData,
	 						success :
	 						  function(json, status){
                               if(json.hasOwnProperty('error')){
                                    alert(json.error);
                               }else{
                                    window.location = json.link;
                               }
	 						    //$("#lbl-message").text(json.message);
					            //window.location = json.link;
	 						  }
	 						,
	 						error : onSignUpError
						});
					});
				});
				
				function onSignUpError(data, status){alert(JSON.stringify(data));}
		</script>
</body>
</html>
<!--select -->
<!--	seq, writer, kind, title, phone, password, email, content, DATE_FORMAT(input_dte, '%Y-%m-%d %H:%i') input_dte -->
<!--from -->
<!--	online_question-->
<!--where-->
<!--	writer like ifnull(:writer, writer)-->
<!--	and title like ifnull(:title, title)-->
<!--	and content like ifnull(:content, content)-->
<!--	and kind = ifnull(:kind, kind)-->
<!--order by seq desc -->
<!--limit :page, :pagecnt;-->