<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>

	<% var thispage = 1;
	if(typeof page != 'undefined' && page != ''){
		thispage = page;
	}%>
	
	<style>
		.list-services li{
			width: 16.6666%;
            position:relative;
            margin:auto;
		}

		.paging a{
			height:30px;
		}
	</style>

	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/hospitalinfo/NN_title.png" alt="" />
		</div>
	</div>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>내일N 소개</a></li>
                                <li><a href="#tab2" itemprop='name'>내일N 경쟁력</a></li>
                                <li><a href="#tab3" itemprop='name'>의료진 소개</a></li>
                                <li><a href="#tab4" itemprop='name'>진료 안내</a></li>
                                <li><a href="#tab5" itemprop='name'>병원 둘러보기</a></li>
                                <li><a href="#tab6" id="find" itemprop='name'>찾아오시는 길</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body" id="tab1" style="height:1300px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">내일N 소개</div>
                            <div class="text-body">
                            	<br>
                                안녕하십니까?&nbsp;&nbsp;&nbsp; <span class="address">성형외과&nbsp; 전문의</span> &nbsp;<b class="test-body" style="font-size:25px;">최&nbsp;수&nbsp;종</b>&nbsp;입니다.<br><br>
                                부산대학병원에서의 10 여년의 다양한 성형 수술 경험을 바탕으로<br><br>
                                충무동 바른병원 2층에 <span class="address">내일N 성형외과</span>를 개원하여 인사드립니다.<br><br>
                                보다 나은 당신의 내일을 위해 내일N 성형외과는 노력하겠습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/info/notice.png" style="position:absolute;right:0;top:600px;max-width:100%;width:100%;"/>
					</div><!-- /.tab-body -->
					
					<div class="tab-body" id="tab2" style="height:1100px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">내일N 경쟁력</div>
                        </div>
                        <img src="/assets/images/subpage/info/B1.png" style="position:absolute;right:120px;top:320px;max-width:80%;width:100%;"/>
					</div><!-- /.tab-body -->
					
					<div class="tab-body" id="tab3" style="height:2000px;">
						<div style="text-align:center;font-size:2.5rem;">
							<span style="font-size:4rem;color:#F88721;font-weight:bold;">내일N 성형외과</span> 에서는<br>
							여러분의 보다 나은<br>
							내일을 위해 노력하겠습니다.
						</div>

						<div style="margin-top:4rem;">
							<div style="float:left;"><img src="/assets/images/subpage/hospitalinfo/NN3_picture.png" /></div>
							<div class="body-text large" style="position:relative;float:left;margin-left:5rem;">
								<div class="text-header" style="font-size:2rem;">약력</div>
	                            <div class="text-body">
	                                - 부산대학교 의과대학 졸업<br>
	                                - 부산대학교 의과대학 석사, 박사<br>
	                                - 대만 Changgum 병원 성형외과 연수<br>
	                                - 미국 Stanford대학교 성형외과 방문교수<br>
	                                - 전, 부산대학교 의과대학 성형외과 교수<br>
	                                - 전, 부산대학교병원 성형외과 과장
	                            </div>
	                            <div class="text-header" style="font-size:2rem;margin-top:2rem;">학회활동</div>
	                            <div class="text-body">
	                                - 대한성형외과학회 정회원<br>
	                                - 대한두개안면성형외과학회 정회원<br>
	                                - 대한미용성형외과학회 정회원<br>
	                                - 대한성형외과학회부산경남지회 이사<br>
	                                - 2009~2011 부산고등법원 민사조정위원<br>
	                                - 2010~2016 근로복지공단 자문의사<br>
	                                - 2013~2016 국민연금공단 자문의사<br>
	                                - 2015~2016 진료심사평가원 비상근심사위원<br>
	                                - 2014~  한국의료분쟁조정중재원 의료사고 감정단 자문위원
	                            </div>
							</div>
						</div>

						<div style="clear:both;font-size:2.5rem;text-align:center;padding-top:3rem;">부산 서구 유일한 성형외과전문의</div>
						<div style="clear:both;font-size:2.5rem;text-align:center;margin-top:3rem;">
							<span style="color:#F88721;">내일N성형외과</span> 대표원장 <span style="font-size:3.5rem;font-weight:bold;">최 수 종</span></div>
						<div style="clear:both;font-size:2.5rem;text-align:center;margin-top:3rem;">
							<img src="/assets/images/subpage/hospitalinfo/NN3_logo.png" />
						</div>

						<div style="margin-top:3rem;"><img src="/assets/images/subpage/nose/A1_logo_hr.png" /></div>

						<div class="body-text large" style="position:relative;float:left;margin-left:5rem;margin-top:3rem;">
							<div class="text-header" style="font-size:2rem;">진료과목</div>
                            <div class="text-body">
                                - 눈성형(쌍꺼풀 / 노인성 상하안검 성형[상태에 따라 의료보험 가능] / 안검하수)<br>
                                - 코성형, 안면윤곽(사각턱, 무턱, 광대돌출, 돌출입), 가슴성형<br>
                                - 지방이식, 지방흡입, 제모, 레이져, 보톡스, 필러, 피부관리 등<br>
                                - 의료보험수술가능(안면외상, 노인성 상안검성형, 피부낭종, 양성종양제거)
                            </div>
						</div>
					</div><!-- /.tab-body -->
					<div class="tab-body" id="tab4" style="height:1200px;">
						<!--
						<div class="text-header">진료안내</div>
                            <div class="text-body">
                            	<br>
                                
                            </div>
                        </div>
                        -->
                        <div class="body-text small">
                            <div class="text-header">진료시간</div>
                            <div class="text-body" style="font-size:15px;">
                            	<br>
                                <p>&ensp;월요일 ~ 금요일 &ensp;:&ensp; 09:30 ~ 18:30</p><br>
                                <p>&ensp;토요일 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;:&ensp; 09:30 ~ 16:30</p><br>
                                <p>&ensp;일요일 &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;:&ensp; 휴진</p>
                                <br><br>
                                 * 보다 자세한 사항은 전화 또는 인터넷을 통해 문의 부탁드립니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/info/notice2.png" style="position:absolute;right:0;top:500px;max-width:100%;width:100%;"/>
						
					</div><!-- /.tab-body -->
					<div class="tab-body" id="tab5" style="height:1200px;">
						<div class="body-text large" style="position:relative;margin-left:5rem;">
							<div class="text-header">갤러리</div>
                            <div class="text-body">
                            </div>
						</div>
						<div class="container">
					        <!-- Jssor Slider Begin -->
					        <!-- To move inline styles to css file/block, please specify a class name for each element. --> 
					        <!-- ================================================== -->
					        <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 800px; overflow: hidden;">

					            <!-- Loading Screen -->
					            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
					                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

					                background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
					                </div>
					                <div style="position: absolute; display: block; background: url(/assets/images/subpage/inner/loading.gif) no-repeat center center;

					                top: 0px; left: 0px;width: 100%;height:100%;">
					                </div>
					            </div>

					            <!-- Slides Container -->
					            <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1140px; height: 800px;
					            overflow: hidden;">
					                <div><img u="image" src2="/assets/images/subpage/inner/1.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/2.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/3.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/4.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/5.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/6.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/7.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/8.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/9.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/10.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/11.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/12.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/13.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/14.jpg" /></div>
					                <div><img u="image" src2="/assets/images/subpage/inner/15.jpg" /></div>
					            </div>
					            
					            <!--#region Bullet Navigator Skin Begin -->
					            <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
					            <style>
					                /* jssor slider bullet navigator skin 05 css */
					                /*
					                .jssorb05 div           (normal)
					                .jssorb05 div:hover     (normal mouseover)
					                .jssorb05 .av           (active)
					                .jssorb05 .av:hover     (active mouseover)
					                .jssorb05 .dn           (mousedown)
					                */
					                .jssorb05 {
					                    position: absolute;
					                }
					                .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
					                    position: absolute;
					                    /* size of bullet elment */
					                    width: 16px;
					                    height: 16px;
					                    background: url(/assets/images/subpage/inner/b05.png) no-repeat;
					                    overflow: hidden;
					                    cursor: pointer;
					                }
					                .jssorb05 div { background-position: -7px -7px; }
					                .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
					                .jssorb05 .av { background-position: -67px -7px; }
					                .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
					            </style>
					            <!-- bullet navigator container -->
					            <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
					                <!-- bullet navigator item prototype -->
					                <div u="prototype"></div>
					            </div>
					            <!--#endregion Bullet Navigator Skin End -->
					            
					            <!--#region Arrow Navigator Skin Begin -->
					            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
					            <style>
					                /* jssor slider arrow navigator skin 11 css */
					                /*
					                .jssora11l                  (normal)
					                .jssora11r                  (normal)
					                .jssora11l:hover            (normal mouseover)
					                .jssora11r:hover            (normal mouseover)
					                .jssora11l.jssora11ldn      (mousedown)
					                .jssora11r.jssora11rdn      (mousedown)
					                */
					                .jssora11l, .jssora11r {
					                    display: block;
					                    position: absolute;
					                    /* size of arrow element */
					                    width: 37px;
					                    height: 37px;
					                    cursor: pointer;
					                    background: url(/assets/images/subpage/inner/a11.png) no-repeat;
					                    overflow: hidden;
					                }
					                .jssora11l { background-position: -11px -41px; }
					                .jssora11r { background-position: -71px -41px; }
					                .jssora11l:hover { background-position: -131px -41px; }
					                .jssora11r:hover { background-position: -191px -41px; }
					                .jssora11l.jssora11ldn { background-position: -251px -41px; }
					                .jssora11r.jssora11rdn { background-position: -311px -41px; }
					            </style>
					            <!-- Arrow Left -->
					            <span u="arrowleft" class="jssora11l" style="top: 200px; left: 8px;">
					            </span>
					            <!-- Arrow Right -->
					            <span u="arrowright" class="jssora11r" style="top: 200px; right: 8px;">
					            </span>
					            <!--#endregion Arrow Navigator Skin End -->
					        </div>
					        <!-- Jssor Slider End -->
					    </div>
					</div><!-- /.tab-body -->
					<div class="tab-body" id="tab6" style="height:1300px;">
						<div class="body-text large" style="position:relative;float:left;margin-left:5rem;margin-top:3rem;">
							<div class="text-header" style="font-size:2rem;">병원 위치 약도</div>
                            <div class="text-body">
                                <div id="map" style="width:1000px;height:350px;"></div>
                                - 부산시 서구 보수대로 9, 3-2(충무동)1가 내일N 성형외과
                            </div>
						</div>
						
						<img src="/assets/images/subpage/hospitalinfo/bus.png" style="position:absolute;right:360px;top:670px;max-width:60%;width:100%;"/>
						
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script src="/assets/javascripts/slider.effect.js"></script>
<script>
    $(document).ready(function(){
        var page = <%=thispage%>;
        
        $('li:nth-child(6)').on('click', function(){
			setMap();
		});
        
        $('li:nth-child(' + page + ')').find('a').trigger('click');

        jssor_slider1_starter("slider1_container");
    });
    
var center = new google.maps.LatLng(35.097863, 129.025129);
var TILE_SIZE = 256;

function setMap(){
	var map = new google.maps.Map(document.getElementById('map'), {
		center: center,
		scrollwheel: true,
		zoom: 17
	});
	
	var coordInfoWindow = new google.maps.InfoWindow();
	coordInfoWindow.setContent(createInfoWindowContent(center, map.getZoom()));
	coordInfoWindow.setPosition(center);
	coordInfoWindow.open(map);
	
	map.addListener('zoom_changed', function() {
	coordInfoWindow.setContent(createInfoWindowContent(center, map.getZoom()));
	coordInfoWindow.open(map);
	});
}

function createInfoWindowContent(latLng, zoom) {
  var scale = 1 << zoom;

  var worldCoordinate = project(latLng);

  var pixelCoordinate = new google.maps.Point(
      Math.floor(worldCoordinate.x * scale),
      Math.floor(worldCoordinate.y * scale));

  var tileCoordinate = new google.maps.Point(
      Math.floor(worldCoordinate.x * scale / TILE_SIZE),
      Math.floor(worldCoordinate.y * scale / TILE_SIZE));

  return [
    '<span style="color:#f00;font-weight:bold;">내일N성형외과</span>',
    '주소 : 부산시 서구 보수대로 9, 내일N성형외과(2F)',
    '전화 : 051) 231-8088'
  ].join('<br>');
}

function project(latLng) {
  var siny = Math.sin(latLng.lat() * Math.PI / 180);
  siny = Math.min(Math.max(siny, -0.9999), 0.9999);

  return new google.maps.Point(
      TILE_SIZE * (0.5 + latLng.lng() / 360),
      TILE_SIZE * (0.5 - Math.log((1 + siny) / (1 - siny)) / (4 * Math.PI)));
}

</script>
</body>
</html>