<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/anti/anti.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 14.2857%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		}  
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>보톡스</a></li>
                                <li><a href="#tab2" itemprop='name'>필러</a></li>
                                <li><a href="#tab3" itemprop='name'>실리프팅</a></li>
                                <li><a href="#tab4" itemprop='name'>레이저리프팅</a></li>
                                <li><a href="#tab5" itemprop='name'>주름성형</a></li>
                                <li><a href="#tab6" itemprop='name'>이중턱성형</a></li>
                                <li><a href="#tab7" itemprop='name'>자가지방이식</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:2500px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">보톡스</div>
                            <div class="text-body">
                                <b>보튤리늄</b>(Botulinumtoxin Typ A)이라는 미생물이 만들어내는 독소는 <br>
                                신경전달 물질의 전달을 막아 움직임을 일정기간 마비시키는 작용을 합니다. <br>
                                보톡스는 이균에서 얻어진 단백질 덩어리로 <b>얼굴주름</b>을 없애주는 용도로 많이 사용되며 <br>
                                <b>사각턱 축소, 종아리 축소</b>등에도 이용되어 효과를 볼 수 있는 시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i1_1.png" style="position:absolute;right:0;top:320px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:500px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;주름 및 흉터자국의 개선을 원하시는 경우</p>
                                <p>&ensp;시간적 여유가 없고 빠른 회복을 원하는 경우</p>
                                <p>&ensp;수술에 대한 두려움이 강해 수술을 꺼리시는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:870px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                주입 후 처지고 힘없는 피부가 탄력적으로 변화하는 효과를 볼 수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1040px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                <b>이마주름, 미간주름, 눈가주름, 입가주름, 목주름, 사각턱, 종아리, 다한증</b>이 있는 부위에 <br>
                                주사하는 방식입니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1280px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                수술이 아닌 시술이라 위험부담이 적고 시술 후 바로 일상생활을 하실수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                숙련된 기술과 오래된 경험으로 <br>
                                시술 후 빠른 회복과 부종등을 최소화 하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1550px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1680px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1790px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;시술후 최소 1주일간은 시술부위 맛사지, 뜨거운 싸우나 심한 운동등은 삼가해주시기 바랍니다.<br>
                                &ensp;&ensp;&ensp;&ensp;(시술 부위의 압력이 가해질 경우 흡수가 촉진 될 수 있습니다.)</p>
                                <p>&ensp;세안과 화장은 시술 후 다음날부터 가능합니다.</p>
                                <p>&ensp;시술부위에 부종이나 멍이 생길수 있으나 시간이 지나면 차차 없어집니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:2500px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">필러</div>
                            <div class="text-body">
                                얼굴의 연한 조직부위에 주입하는 시술로 <br>
                                개인의 피부조직, 볼륨의 크기에 따라 입자가 다른 물질을 주입합니다. <br>
                                짧게는 6개월에서는 길게는 <b>반영구적</b>으로 효과가 있는 시술입니다.
                            </div>
                            <div class="text-body" style="font-size:12px">
                            *보톡스는 일종의 마비를 통한 근육의 축소 효과로 시술 효과를 보는 것이며,<br>
                            &ensp;&ensp;필러는 필러를 볼륨이 필요부위에 채워 주어 효과를 보는시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i2_1.png" style="position:absolute;right:0;top:280px;max-width:38%;width:100%;"/>
                        <div class="body-text small" style="top:500px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;안면의 볼륨을 필요로 하지만 수술 시간을 내기 어려운 경우</p>
                                <p>&ensp;즉각적인 시술 효과를 봄과 동시에 빠른 회복을 원하는 경우</p>
                                <p>&ensp;수술에 대한 공포감이 심해 수술을 피하시는 분</p>
                                <p>&ensp;주름 및 흉터 자국을 개선하고 싶은 분 </p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:840px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                필요 부위에 볼륨을 채워줍니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                필러를 주사기로 주입하는 방식으로 어떤 필러를 사용하실 지는 <br>
                                내원시 직접 원장님과 상담하셔서 <b>본인 타입에 맞는 제품</b>으로 결정하시게 됩니다.<br>
                                제품에 따라 1년 미만에서 5년이상의 효과의 차이를 나타냅니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1280px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                수술이 아닌 시술이라 위험부담이 적고 시술 후 바로 일상생활을 하실수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                숙련된 기술과 오래된 경험으로 <br>
                                시술 후 빠른 회복과 부종등을 최소화 하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1550px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1680px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1790px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;시술후 최소 1주일간은 시술부위 맛사지, 뜨거운 싸우나 심한 운동등은 삼가해주시기 바랍니다.<br>
                                &ensp;&ensp;&ensp;&ensp;(시술 부위의 압력이 가해질 경우 흡수가 촉진 될 수 있습니다.)</p>
                                <p>&ensp;세안과 화장은 시술 후 다음날부터 가능합니다.</p>
                                <p>&ensp;시술부위에 부종이나 멍이 생길수 있으나 시간이 지나면 차차 없어집니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">실리프팅</div>
                            <div class="text-body">
                                <b>특수 가공된 실</b>을 이용하여 주름을 개선하는 안면리프팅 시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i3_1.png" style="position:absolute;right:0;top:280px;max-width:45%;width:100%;"/>
                        <div class="body-text small" style="top:440px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;수술없이 갸름한 턱선을 원하시는 경우</p>
                                <p>&ensp;수술에 두려움이 있어 망설이시는 경우</p>
                                <p>&ensp;안면윤곽수술 후 얼굴라인을 정리하는 경우</p>
                                <p>&ensp;빠른 리프팅 효과를 원하시는 경우</p>
                                <p>&ensp;미간, 팔자, 목주름 때문에 고민하시는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:820px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                필요 부위에 볼륨을 채워줍니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:23px;">
                                국소마취 후 적절한 위치에 실을 삽입하여 원하는 방향으로 당겨준뒤 <br>
                                피부 밖으로 나온 실을 제거하여 시술 부위를 마무리 합니다.<br>
                                이때 특수실이 표면에 있는 돌기가 강한 고정 능력을 가지고 있어 <br>
                                <b>반영구적으로 리프팅된 효과</b>를 유지할 수 있습니다.<br>
                                절개가 필요 없어 흉터의 흔적이 이흡하여 자연스러움을 더합니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1360px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 절개가 필요 없어 흉터 걱정이 적은 시술로 피부만 당기는 것이 아니라 <br>
                                &ensp;&ensp;주름의 근원인 SMAS층까지 함께 올려주어 시술후 결과가 자연스럽습니다.<br> 
                                2. 통증, 부기가 많지 않아 회복 기간이 짧아 수술보다 일상생활로의 복귀가 빠릅니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1560px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                숙련된 기술과 오래된 경험으로 <br>
                                시술 후 빠른 회복과 부종등을 최소화 하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1640px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1770px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1880px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1990px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;국소마취를 하게되니 시술전 음주는 삼가해야 합니다.<br></p>
                                <p>&ensp;세안과 화장은 시술후 다음말부터 가능하나 시술부위 맛사지나, <br>
                                &ensp;&ensp;&ensp;&ensp;뜨거운 사우나는 시술후 1주일 정도 삼가해주셔야 합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">레이저리프팅</div>
                            <div class="text-body">
                                <b>강력한 파동의 레이저</b>가 진피층을 자국하여 콜라겐과 엘라스틴의 생성을 촉진시켜 <br>
                                쳐진부위를 <b>리프팅</b>하고 <b>탄력과 볼륨</b>을 살리는 시술입니다. 
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i4_1.png" style="position:absolute;right:0;top:220px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;급격한 체중 감량으로 피부가 많이 처진 경우</p>
                                <p>&ensp;노화로 인해 피부탄력이 떨어진 경우</p>
                                <p>&ensp;볼륨감 저하없이 리프팅만을 원할 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:820px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                처진 부위를 리프팅하고 탄력과 볼륨을 살려줍니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                강력한 파동의 레이저가 진피층을 자극하는 레이저 시술입니다.<br>
                                콜라겐과 엘라스틴의 생성을 촉진시켜 쳐진부위를 리프팅하고 <br>
                                탄력과 볼륨을 살리는 시술입니다. 
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1320px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                기존의 레이저 리프팅은 지방을 분해해 볼륨감을 떨어트리거나 <br>
                                피부가 울퉁불퉁해지는 부작용을 일으켰지만 <br>
                                본원의 레이저 리프팅은 지방분해를 하지 않아 이런 부작용을 현저히 줄이고 있습니다.<br>
                                시술 직후 리프팅된 효과를 시각적으로 보실수 있으며, <br>
                                시술 1-2주 후부터 눈에 띄게 처짐이 줄고 탄력이 좋아진 것을 보실수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1610px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                숙련된 기술과 오래된 경험으로 <br>
                                시술 후 빠른 회복과 부종등을 최소화 하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1690px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1820px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1930px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2050px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;시술 후 최소 1주일간은 시술부위 맛사지, 뜨거운 싸우나 심한 운동등은 삼가해주시기 바랍니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5" style="height:3100px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">주름성형</div>
                            <div class="text-body">
                                최소절개 안면거상술, 내시경 이마거상술, 눈주변-팔자 주름제거술로 <br>
                                얼굴의 주름을 줄여 동안을 찾아가는 시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i5_1.png" style="position:absolute;right:0;top:220px;max-width:40%;width:100%;"/>
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;수술에 대한 두려움을로 꺼리시는 경우</p>
                                <p>&ensp;수술적 치료에 시간적 여유가 없으신 경우</p>
                                <p>&ensp;주름이 많아 노안으로 보이시는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:820px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                얼굴의 주름을 줄여 젊음을 되찾아 줍니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header" style="color:orange;">최소절개안면거상술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                절개 없이 고탄력 특수실을 사용하여 안면부 주름을 개선하는 방법입니다. <br>
                                기존의 가는 실 보다 효과가 오래 지속됩니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1200px;">
                            <div class="text-header" style="color:orange;">내시경 이마 거상술</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                이마근육을 반복적으로 많이 사용하여 이마에 깊은 주름이 생기며, <br>
                                나이가 들수록 처지고 눈꺼풀이 늘어난 경우에 사용됩니다. <br>
                                내시경을 이용해 이마주름, 미간 및 눈가주름, 처진 눈썹과 눈꺼풀을 개서할 수 있는 효과가 있습니다.<br>
                                앞머리와 양쪽 옆머리 부분에 작은 절개를 통해 내시경을 삽입하여 <br>
                                주름진 피부를 당겨주는 방식으로 1시간 정도의 수술 시간이 소요됩니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1500px;">
                            <div class="text-header" style="color:orange;">매몰법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                최초의 노화현상이 일어나는 곳이 눈밑주름입니다. <br>
                                대개 20대 중반부터 나타나기 시작하며 눈밑근육의 움직임이 많고 피부가 얇고 탄력이 떨이진 경우 <br>
                                더욱 심하게 나타나게 되는데 매몰법으로 교정할 수 있습니다.<br>
                                매몰법은 눈밑근육과 피부를 서로 분리시킨뒤 각각 재배치 후 <br>
                                탄력있게 당겨 눈외측 골막에 고정시키는 방법입니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1820px;">
                            <div class="text-header" style="color:orange;">팔자 주름</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                코의 옆끝부터 입술 가장자리까지의 상악골이 주변부위보다 <br>
                                낮아 보일때 볼륨감을 주는 수술로 꺼진부위를 채워주면서 팔자주름을 완화시켜줍니다. <br>
                                이 수술로 인해 입이 들어가 보이고 동시에 어려보이는 시각효과를 보실수있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:2100px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:23px;">
                                <br>
                                다른 성형수술과 같이 주름성형 또한 <br>
                                숙련된 기술과 많은 임상경험이 필요한 수술입니다.<br>
                                부산대 대학병원에서 오랜기간 <br>
                                응급실과 성형외과에서 집도를 해오신 최수종 교수님은 <br>
                                이러한 노하우를 충분히 겸비하여 보다 안전하고 <br>
                                효과적인 수술을 받으실 수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:2250px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:2380px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2490px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2610px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;수술부위에 염증이 발생할 수 있으니 항상 청결을 유지해주셔야 합니다.</p>
                                <p>&ensp;마취전 술담배를 삼가하시고 수술후 지나친 운동이나 수술부위 맛사지는 삼가해 주십시요.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
                    
                    <div class="tab-body" id="tab6" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">이중턱성형</div>
                            <div class="text-body">
                                턱밑에 지방이 두드러지게 심해 턱이 2개처럼 보이는 이중턱은 <br>
                                체형과 상관없이 사람을 뚱뚱하게 보이게 하며 <br>
                                날렵한 턱선을 가지고 있어도  V라인으로 보이지 않게 합니다. <br>
                                게다가 이 지방은 좀처럼 쉽게 빠지는 않는 문제점을 가지고 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i6_1.png" style="position:absolute;right:0;top:220px;max-width:45%;width:100%;"/>
                        <div class="body-text small" style="top:530px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;체형은 날씬한데 턱아래에만 지방이 심하게 있는 경우</p>
                                <p>&ensp;이중턱 때문에 얼굴이 각져보이는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:850px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                뼈 수술 없이도 턱이 가름해 보이는 시각적 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1050px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                이중턱은 턱아래 지방을 흡입하는 지방 흡입술과 <br>
                                레이저로 직접 피부속 지방층까지 들어가 지방을 직접 레이저로 쏘아 태우는 수술이 있습니다. <br>
                                이때 흡입을 하지 않으면서도 지방층이 파괴되어 주변조직에 손상이 덜 미치게 됩니다.<br>
                                위의 수술로 턱밑 지방이 없어져 턱뼈에 손을 되지 않아도 턱이 가름해 보이는 시각적 효과를 볼 수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1390px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                다른 성형수술과 같이 주름성형 또한 <br>
                                숙련된 기술과 많은 임상경험이 필요한 수술입니다. <br>
                                부산대 대학병원에서 오랜기간 <br>
                                응급실과 성형외과에서 집도를 해오신 최수종 교수님은 <br>
                                이러한 노하우를 충분히 겸비하여 보다 안전하고 <br>
                                효과적인 수술을 받으실 수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1550px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1680px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1850px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1980px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;수술부위에 염증이 발생할 수 있으니 항상 청결을 유지해주셔야 합니다.</p>
                                <p>&ensp;마취전 술담배를 삼가하시고 수술후 지나친 운동이나 수술부위 맛사지는 삼가해 주십시요.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
                    
                    <div class="tab-body" id="tab7" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">자가지방이식</div>
                            <div class="text-body">
                                자가지방 이식이란 젊고 건강한 자신의 지방세포를 이용하여 <br>
                                정확한 위치에 정확한 분량의 자가 지방을 최대 효과의 생착률로 주입하는 시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/anti/i7_1.png" style="position:absolute;right:0;top:260px;max-width:40%;width:100%;"/>
                        
                        <div class="body-text small" style="top:470px;">
                            <div class="text-header" style="color:orange;">시술대상</div>
                            <div class="text-body">
                                <p>&ensp;이마가 평평하거나 코부위를 입체적으로 만들고 싶으나 보형물을 넣는 것이 꺼려지는경우</p>
                                <p>&ensp;눈썹 사이 미간이 넓고 주름이 깊게 패인 경우 보톡스를 하여도 효과가 없는 경우</p>
                                <p>&ensp;팔자주름이 깊어 주름을 없애고 싶은 경우</p>
                                <p>&ensp;입술이 얇고 잔주름이 많아 도톰하고 팽행한 입술로 만들고 싶으실 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:820px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                얼굴 선을 정리하고, 젊어보이는 효과
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header" style="color:orange;">수술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                자가지방이식은 자신의 몸에서 채취한 지방을 원심분리기를 통해 미세지방세포만을<br>
                                이식하는 수술로, 이식 시 다른 인위적물질이 아닌 자신의 지방만을 사용하는 방법입니다.<br>
                                지방은 모두 흡수되는 것이 아니라 약간의 흡수과정을 거쳐 자가지방이 생착된 후,<br>
                                반영구적으로 남아있는 원리를 이용한 시술법입니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1330px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 자가지방이식은 본인의 자가지방을 이용하므로 보형물보다 부작용의 염려가 덜하여<br>
                                &ensp;&ensp;매우 안전하고 효과적인 시술이 가능합니다.<br>
                                2. 주사 시술로 인해 흉터가 거의 없으며 붓기와 멍도 매우 적습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1550px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                자가지방이식은 지방의 주입되는 양과 생착율에 따라서 <br>
                                효과가 갈리기 때문에 경험이 풍부한 성형외과전문의의 <br>
                                시술이 매우 중요합니다.<br>
                                부산대 대학병원에서 오랜기간 응급실과 성형외과에서 <br>
                                집도를 해오신 최수종 교수님은 이러한 노하우를 충분히 <br>
                                겸비하여 보다 안전하고 효과적인 수술을 받으실 수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1690px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:18px;position:absolute;top:1830px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:195px;">
                                풍부한 경험
                            </div>
                            <div class="text-body" style="position:absolute;left:405px;">
                                숙련된 기술
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1980px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2100px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;주사 시술로 인해 흉터가 거의 없으며 붓기와 멍도 매우 적으나 <br>
                                &ensp;&ensp;&ensp;&ensp;수술후 수술부위의 압력을 가하는 맛사지등은 삼가하셔야합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>