<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/chest/chest.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 20%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		}
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
			<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>가슴 확대술</a></li>
                                <li><a href="#tab2" itemprop='name'>유두 성형</a></li>
                                <li><a href="#tab3" itemprop='name'>가슴 축소술</a></li>
                                <li><a href="#tab4" itemprop='name'>가슴 재수술</a></li>
                                <li><a href="#tab5" itemprop='name'>3D 가상 성형</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:3440px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">가슴 확대술</div>
                        </div>
                        
                        <img src="/assets/images/subpage/chest/d1_1.png" style="position:absolute;left:660px;top:120px;max-width:40%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <br>
                                <p>&ensp;1. 물방울 가슴성형</p>
                                &ensp;&ensp;&ensp;&ensp;1) 가슴이 쳐져 있는 경우<br>
                                &ensp;&ensp;&ensp;&ensp;2) 전반적으로 가슴이 편평하고, 볼륨감이 없는 경우<br>
                                &ensp;&ensp;&ensp;&ensp;3) 유두에서 가슴 밑선까지의 거리가 짧은 경우<br><br>
                                <p>&ensp;2. 가슴지방이식</p>
                                &ensp;&ensp;&ensp;&ensp;1) 보형물 삽입에 대한 거부감이 있는 경우<br>
                                &ensp;&ensp;&ensp;&ensp;2) 보형물 수술 후 추가할 부위가 있는 경우<br>
                                &ensp;&ensp;&ensp;&ensp;3) 하체나 복부에 지방이 많으나, 가슴에 불만족인 경우
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:760px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 자연스럽고, 볼룸감 있는 가슴라인<br>
                                2. 자연스러운 촉감<br>
                                3. 자연스러운 움직임
                            </div>
                        </div>
                       
                        <div class="body-text small" style="position:absolute;left:100px;top:930px;">
                            <div class="text-header" style="color:orange;">물방울 가슴성형</div>
                            <div class="text-body" style="font-size:20px;">
                                물방울 가슴이란 물방울이 맺혀다가 <br>
                                아래로 떨어지기 직전의 가슴모양으로, <br>
                                보형물을 삽입하여 모양을 만들어 내는 수술입니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1150px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1250px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO_4.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1415px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                초음파진단을 통한<br>
                                가슴 구조와 흉곽조직을 분석하여,<br>
                                가슴건상 상태를
                                확인합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:280px;">
                                수술 전 보형물의 종류,<br>
                                절개방법, 삽입위치를<br>
                                선정합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:485px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취를<br>
                                실시합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:710px;">
                                성형외과 전답의를 통한<br>
                                수술을 진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="position:absolute;left:100px;top:1550px;">
                            <div class="text-header" style="color:orange;">가슴지방이식</div>
                            <div class="text-body" style="font-size:20px;">
                                자기 신체의 불필요한 지방을 가슴에 이식하는 수술방식으로, <br>
                                보형물 삽입에 비해 통증 및 흉터가 거의 없는 수술입니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1750px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1850px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_PRO2_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO2_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO2_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO2_4.png" style=""/> 
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d1_PRO2_5.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:2005px;" align="center">
                            <div class="text-body" style="position:absolute;left:40px;">
                                초음파진단을 통한<br>
                                가슴 구조와 흉곽조직을 분석하여,<br>
                                가슴건상 상태를
                                확인합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:280px;">
                                수술 전<br>
                                자가지방 흡인 대상과<br>
                                가슴을 디자인합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:470px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취를<br>
                                실시합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:680px;">
                                체형성형 전담의를 통하여<br>
                                수술 전 디자인을 기준으로<br>
                                최소한의 상처 하나로<br>
                                지방흡입을 진행합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:890px;">
                                가슴성형 전문의가<br>
                                자가지방 가슴형성 수술을<br>
                                진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:2180px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:2280px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:2490px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2590px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2700px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:2550px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:2540px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">유두 성형</div>
                        </div>
                        
                        <img src="/assets/images/subpage/chest/d2.png" style="position:absolute;left:660px;top:120px;max-width:40%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;유두가 주위 유륜보다 돌출되어 있지 않는 경우</p>
                                <p>&ensp;가슴과 유두의 전체적인 조화가 필요한 경우</p>
                                <p>&ensp;유두의 크기가 너무 크거나, 길어서 비대한 경우</p>
                                <p>&ensp;모유수유등으로 유두가 커진 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 아름다운 가슴 완성<br>
                                2. 자연스러운 촉감
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:740px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:840px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d2_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_4.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1010px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                초음파진단을 통한<br>
                                가슴 구조와 흉곽조직을 분석하여,<br>
                                가슴건상 상태를
                                확인합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:285px;">
                                수술 전 성형 디자인,<br>
                                절개방법, 절제부위를<br>
                                선정합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:485px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취를<br>
                                실시합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:710px;">
                                성형외과 전담의를 통한<br>
                                수술을 진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1200px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1300px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1510px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1610px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1720px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:1900px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1650px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3" style="height:2790px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">가슴 축소술</div>
                        </div>
                        
                        <img src="/assets/images/subpage/chest/d3.png" style="position:absolute;left:660px;top:120px;max-width:40%;width:100%;"/>
                        
                        <div class="body-text small" style="position:absolute;left:50px;top:240px;font-size:20px;">
                            <div class="text-body">
                                <p>&ensp;몸에 비에 가슴의 크기가 큰 경우</p>
                                <p>&ensp;큰 가슴으로 인해 운동이 꺼려지는 경우</p>
                                <p>&ensp;큰 가슴으로 인해 요통이나 목 주위의 통증이 지속되는 경우</p>
                            </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:550px;left:100px">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:20px;">
                                1. 가슴으로 인한 요통이나 목주위 통증 완화<br>
                                2. 아름다운 가슴라인 완성<br>
                                3. 자연스러운 촉감
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:730px;font-size:20px;">
                            <div class="text-header">가슴 축소술</div>
                            <div class="text-body">
                                유륜 둘레를 절개하여,<br>
                                속에 있는 유선조직을 절제하여<br>
                                볼륨을 줄여주는 수술
                            </div>
                        </div>
                       
                        <div class="body-text small" style="top:1000px;">
                            <div class="text-header">수술 프로세스</div>
                        </div>

                        <div style="position:absolute;width:100%;top:1100px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d2_PRO_1.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_2.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_3.png" style=""/>
                            <img src="/assets/images/subpage/nose/A1_cour_line.png" style=""/>
                            <img src="/assets/images/subpage/chest/d2_PRO_4.png" style=""/> 
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:12px;position:absolute;top:1270px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                초음파진단을 통한<br>
                                가슴 구조와 흉곽조직을 분석하여,<br>
                                가슴건상 상태를
                                확인합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:285px;">
                                수술 전 성형 디자인,<br>
                                절개방법, 절제부위를<br>
                                선정합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:485px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취를<br>
                                실시합니다.
                            </div>
                            <div class="text-body" style="position:absolute;left:710px;">
                                성형외과 전담의를 통한<br>
                                수술을 진행합니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1570px;height:200px;right:20px;" align="center">
                            <img src="/assets/images/subpage/chest/d1_assets1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets2.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/chest/d1_assets3.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="color:black;font-size:15px;position:absolute;top:1775px;left:130px;" align="center">
                            <div class="text-body" style="position:absolute;left:30px;">
                                3D 초음파 분석
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                풍부한 가슴성형<br>
                                시술경험
                            </div>
                            <div class="text-body" style="position:absolute;left:730px;">
                                마취통증학과 전문의를 통한<br>
                                안전 수면마취시스템
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2040px;">
                            <div class="text-header">부작용</div>
                            <div class="text-body" style="font-size:20px;">
                                --
                            </div>
                        </div>
                        <div class="body-text small" style="top:2250px;">
                            <div class="text-header">주의사항</div>
                            <div class="text-body" style="font-size:20px;">
                                <p>수술 후 빠른 회복과 부작용 예방을 위해 과도한 운동이나 자세변동을 자제해 주십시요.</p>
                                <p>수술 후 4주간은 압박복을 착용해 주십시요</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;top:1900px;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab4">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">공사중</div>
                            <div class="text-body">
                                지금은 준비중입니다.
                            </div>
                        </div>
                        
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">공사중</div>
                            <div class="text-body">
                                지금은 준비중입니다.
                            </div>
                        </div>
					</div><!-- /.tab-body -->

				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>