<!DOCTYPE html>
<html lang="en">
<%- include('../../common/head') -%>
<body style="background-color:#F1F5F8;">
<div class="wrapper">
	<%- include('../../common/header') -%>
	
	<div class="intro intro-small">
		<div style="background-color:#fff;text-align:center;min-width:1200px;">
			<img src="/assets/images/subpage/skin/skin.png" alt="" />
		</div><!-- /.intro-image -->

		<!--<div class="row">
			<div class="intro-caption">
				<h5>Head of the Department</h5>
			
				<h2>DR. Johnathan Doe</h2>
			</div>
		</div>-->
	</div><!-- /.intro intro-small -->

<style>
		.list-services li{
			width: 14.2857%;
            position:relative;
            margin:auto;
        }

		.paging a{
			height:30px;
		} 
</style>

	<div class="main grey main-container">
		<div class="tabs tabs-services">
				<div class="tab-head" style="background-color:transparent;padding:0;">
					<div class="tabs-nav">
                        <div class="columns large-12">
                            <ul class="list-services" itemscope itemtype="http://schema.org/Product">
                                <li class="current" ><a href="#tab1" itemprop='name'>레이저 시술</a></li>
                                <li><a href="#tab2" itemprop='name'>IPL</a></li>
                                <li><a href="#tab3" itemprop='name'>CO2레이저시술</a></li>
                                <li><a href="#tab4" itemprop='name'>보습</a></li>
                                <li><a href="#tab5" itemprop='name'>메디컬 스킨케어</a></li>
                                <li><a href="#tab6" itemprop='name'>액취증</a></li>
                                <li><a href="#tab7" itemprop='name'>다한증</a></li>
                            </ul><!-- /.list-departments -->
                        </div><!-- /.columns large-12 -->
					</div><!-- /.tabs-nav -->
				</div><!-- /.tab-head -->

				<div class="tabs-body" style="background-color:#fff;">
					<div class="tab-body current" id="tab1" style="height:2600px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">레이저 시술</div>
                            <div class="text-body">
                                엔디야그레이저(Nd Yag)는 동양인에게서 많이 나타나는 치료가 어려운 <br>
                                <b>난치성 기미 및 색소질환</b>을 보다 <b>안전하고 효과적</b>으로 치료할 수 있는 레이저기기입니다. <br>
                                색소질환을 방치하게 되면 시간이 지날수록 더욱 광범위하게 번지게 됨은 물론 <br>
                                깊이가 깊어져 치료가 어렵기 때문에 조기에 <b>전문적인 치료</b>를 받는것이 좋습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I1.png" style="position:absolute;right:0;top:220px;max-width:35%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:790px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                인디야그 레이저는 표피의 멜라닌 색소만을 선택적으로 파괴해 <br>
                                단 1회 치료만으로도 70~80%의 높은 치료효과를 얻을 수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:970px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    각각의 질병에 따라 파장이 다른 레이저기를 사용하고 있는데, <br>
                                    엔디야그 레이저는 1,064m, 파장, 532nm 두개의 파장대를 이용하여 병변을 치료하며, <br>
                                    주변 세포 조직에 대해 영향을 주지 않으며, 치료하고자 하는 부위의 병변만을 <br>
                                    <b>선택적으로 치료</b>가 가능한 장점을 가지고 있습니다.<br>
                                    인디야그 레이저는 표피의 멜라닌 색소만을 선택적으로 파괴해 <br>
                                    단 1회 치료만으로도 70~80%의 <b>높은 치료 효과</b>를 얻을 수 있습니다.<br><br>
                                    
                                    <span class="text-body" style="color:orange;font-size:30px">1,064nm 파장</span><br>
                                    헤모글로빈에는 거의 흡수되지 않고 <br>
                                    검정색과 파란색의 병변에 <b>선택적으로 반응</b>해 파괴시키게 됩니다. <br>
                                    피부 깊이 침투되는 장점이 있어 <span class="address">문신</span>이나 <span class="address">오타모반</span>등을 치료할 수 있습니다.<br><br>
                                    
                                    <span class="text-body" style="color:orange;font-size:30px">532nm의 파장</span><br>
                                    침투 깊이가 얕아 주로 <span class="address">주근깨, 검버섯, 잡티</span>등의 갈색병변을 치료 하는데 이용됩니다.
                                </div>
                             </div>
                        </div>
               
                        <div class="body-text small" style="top:1660px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                내일N은 성형수술에 <b>경험이 풍부한 의료진</b>과 <br>
                                <b>피부 전문 관리사</b>가 함께하고 있어 <br>
                                레이저시술등의 피부관련 시술후 <b>차후 관리</b>를 <br>
                                전문적으로 도와드립니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1770px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1905px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:170px;">
                                풍부한 경험의 의료진
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                피부 전문 관리사
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2000px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2100px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;레이저 시술 후 세안시 가피(피부의 바깥표면)이 벗겨지지 않도록 주의하여야하므로 가벼운 세안을 하도록 합니다.</p>
                                <p>&ensp;레이저 시술 후 SPF 35이상의 자외선차단제를 발라 자외선의 노출되지 않도록 유의해 주셔야 합니다.</p>
                                <p>&ensp;시술 부위가 심하게 가렵거나 수포가 일어날 경우 바로 연락하셔서 의사의 지시를 따르도록 합니다.</p>
                                <p>&ensp;시술 후 피부 진정을 위하여 수영같은 심한 운동 또는 사우나, 찜질방등은 1-2주 정도 삼가하셔야합니다.</p>
                                <p>&ensp;바른 회복과 재생을 위해 재생연고나 세럼등을 충분히 자주 발라주시기 바랍니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body current" id="tab2" style="height:2300px;">
                        <div class="body-text large" style="top:120px;">
                            <div class="text-header">IPL</div>
                            <div class="text-body">
                                레이저와 관계없는 높은 강도의 광선 파장을 사용하는 시술로서 <br>
                                레이저와 비슷한 점을 보이지만, 치료깊이 측면에서는 그 범위가 제한되어 있습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/i2.png" style="position:absolute;right:0;top:70px;max-width:40%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:680px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                도드라지니 모세혈관이나 홍조, 갈반등을 감소 시킬수 있을 뿐 아니라 <br>
                                피부를 어느정도 팽팽하게 만들어 줍니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:860px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    색소를 타겟으로 에너지를 방출하는 레이저가 아니하 강한 <b>빛 에너지</b>를 사용하는 장비입니다. <br>
                                    피부의 넓은 영역에 영향을 미치지만 침투하는 깊이에는 한계가 있는 장비입니다.<br>
                                    IPL은 넓은 부위의 자외선 손상이나 피부 착색이 있는 경우엔 적절하지 않지만 <br>
                                    <b>도드라진 모세혈관이나 홍조, 갈반</b>등을 감소 시킬수 있을 뿐 아니라 <br>
                                    피부를 어느정도 <b>팽팽</b>하게 만들어 줍니다.
                                </div>
                             </div>
                        </div>
               
                        <div class="body-text small" style="top:1250px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                내일N은 성형수술에 <b>경험이 풍부한 의료진</b>과 <br>
                                <b>피부 전문 관리사</b>가 함께하고 있어 <br>
                                레이저시술등의 피부관련 시술후 <b>차후 관리</b>를 <br>
                                전문적으로 도와드립니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1360px;height:200px;left:300px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1495px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:170px;">
                                풍부한 경험의 의료진
                            </div>
                            <div class="text-body" style="position:absolute;left:400px;">
                                피부 전문 관리사
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1590px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1690px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;레이저 시술 후 세안시 가피(피부의 바깥표면)이 벗겨지지 않도록 주의하여야하므로 가벼운 세안을 하도록 합니다.</p>
                                <p>&ensp;레이저 시술 후 SPF 35이상의 자외선차단제를 발라 자외선의 노출되지 않도록 유의해 주셔야 합니다.</p>
                                <p>&ensp;시술 부위가 심하게 가렵거나 수포가 일어날 경우 바로 연락하셔서 의사의 지시를 따르도록 합니다.</p>
                                <p>&ensp;시술 후 피부 진정을 위하여 수영같은 심한 운동 또는 사우나, 찜질방등은 1-2주 정도 삼가하셔야합니다.</p>
                                <p>&ensp;바른 회복과 재생을 위해 재생연고나 세럼등을 충분히 자주 발라주시기 바랍니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab3" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">
                                CO2<span class="text-head" style="font-size:24px">(이산화탄소)</span><br>
                                레이저 시술
                            </div>
                            <div class="text-body">
                                CO2 레이저 시술이란, 10600nm의 파장을 이용한 탄산가스 레이저로 <br>
                                수분이 많은 피부 조직에 잘 반응하여 <b>점, 검버섯, 문신</b>이나 각종 <b>흉터</b>의 치료에 <br>
                                쓰여지고 있는 보편화된 레이저 시술입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I3.png" style="position:absolute;right:0;top:300px;max-width:57%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:790px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                일반 레이저 시술처럼 치료하고자 하느느 병변에 쏘아주는 시술로<br>
                                점, 검버섯, 티눈, 쥐젖, 한관증, 비립종 제거등에 두드러진 효과를 보실 수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:970px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    일반 레이저 시술처럼 치료하고자 하는 병변에 쏘아주는 시술로 <br>
                                    <b>점, 검버섯, 티눈, 쥐젖, 한관증, 비립종 제거</b>등에 두드러진 효과를 보실수 있습니다.<br>
                                    각종 <b>흉터</b>(여드름흉터, 화상흉터, 수술흉터) 및 <b>깊은 주름</b>개선(눈밑, 이마, 미간주름 개선)에도 <br>
                                    효과적으로 많이 이용되고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1290px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                레이저광 자체가 살균기능이 있어 감염의 위험성이 낮으며,<br>
                                주위 조직의 손상을 적게함으로써 레이저 박피가 유리합니다.
                            </div>
                        </div>
               
                        <div class="body-text small" style="top:1490px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                본원에서는 <b>통증이 거의 없는 시술</b>을 경험하실 수 있습니다. <br>
                                시술후 본원의 <b>전문 피부관리사</b>와 함께하시면 <br>
                                더 좋은 효과를 보실 수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1600px;height:200px;left:290px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_2.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1735px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:285px;">
                                피부 전문 관리사
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1840px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1940px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;레이저 시술 후 SPF 35이상의 자외선차단제를 발라 자외선의 노출되지 않도록 유의해 주셔야 합니다.</p>
                                <p>&ensp;시술 부위가 심하게 가렵거나 수포가 일어날 경우 바로 연락하셔서 의사의 지시를 따르도록 합니다.</p>
                                <p>&ensp;시술 후 피부 진정을 위하여 수영같은 심한 운동 또는 사우나, 찜질방등은 1-2주 정도 삼가하셔야합니다.</p>
                                <p>&ensp;바른 회복과 재생을 위해 재생연고나 세럼등을 충분히 자주 발라주시기 바랍니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
					
					<div class="tab-body" id="tab4" style="height:2500px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">보습</div>
                            <div class="text-body">
                                물광주사는 나이가 들수록 히알루론산의 농도가 감소하게 되며 <br>
                                이로 인해 피부노화가 진행되게 됩니다. <br>
                                이 <b>히알루론산</b>을 진피에 주사하는 시술입니다. 
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I4.png" style="position:absolute;right:0;top:60px;max-width:40%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:690px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                피부의 볼륨감과 탄력까지 증대시켜 줄 수 있습니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:870px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    피부보습과 세포재생을 돕는 피부 구성성분인 <b>히알루론산</b>을 진피내에 직접주입하여 <br>
                                    피부내 수분 손실을 막고, 수분유지와 세포기능을 항상 시키며 <b>피부의 재활성</b>을 도와 <br>
                                    <b>피부 리프팅효과</b>를 주는 수사술입니다.<br>
                                    제부피의 200-1000배의 수분을 함유한 히알루론산을 적정량 주사하여 <br>
                                    보습작용과 피부세포 성장 및 <b>콜라겐 생성</b>을 촉진시키게 됩니다.<br>
                                    수분함유량이 뛰어나고 다른 조직들과의 구성률을 지탱해주는 역할을 하여 <br>
                                    <b>피부의 볼륨감과 탄력</b>까지 증대시켜 줄수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1300px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                수사술이므로 통증이 적고 시술시간이 짧으면서도<br>
                                <b>보습효과, 피부톤 개선, 미백효과, 탄력증진에 리프팅 효과</b>까지 가지고 있습니다.
                            </div>
                        </div>
               
                        <div class="body-text small" style="top:1490px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                이 주사는 피부 1-2nm 깊이에 정확하게 주사해야 <br>
                                그 효가가 높기 때문에 <b>의료진의 숙련된 기술</b>이 필요합니다. <br>
                                이런 <b>기술력과 경험을 완비</b>한 내일N이 <br>
                                살아있는 피부에 <b>만족감</b>을 드릴 것입니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1600px;height:200px;left:290px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1735px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:270px;">
                                풍부한 경험의 의료진
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1840px;left:50px;"/>
                        
                        <div class="body-text small" style="top:1940px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;사우나나 운동등 얼굴에 열을 일으킬수 있는 활동은 시술후 3-4일 정도는 삼가해주시기 바랍니다.</p>
                                <p>&ensp;시술 후 3-4일 정도는 세안 후 두드리듯이 물기를 제거해 주십시요.</p>
                                <p>&ensp;시술 당일에는 시술 부위를 만지거나 눌러보지 마시며 특히 맛사지등을 받지 않도록 주의하셔야합니다.</p>
                                <p>&ensp;색소침착 예방을 위해 자외선차단제 SPF35 이상을 사용해주시고 재생연고를 3-5일정도 펴바르듯 발라주셔야 합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab5" style="height:2600px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">메디컬 스킨케어</div>
                            <div class="text-body">
                                메디컬 스킨케어란 글자 그대로 의학적 피부전문 관리로 <br>
                                치료와 함께 피부관리를 동시에 시행하는 시스템입니다. <br>
                                얼굴뿐 아니라 전신으로 폭넓게 이용되는 관리입니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I5.png" style="position:absolute;right:0;top:60px;max-width:40%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:680px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                잔주름이나 거친 피부, 건조한 피부를 가지신 분들에게 효과적입니다.
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:850px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    전문의의 정확한 진단후 최적의 스킨케어 프로그램을 처방하여, <br>
                                    <b>레이저 치료, 스킨케어</b>등을 병행하여 치료효과를 극대화합니다.<br>
                                    얼굴 질환에서는 여드름 질환, 넒어진 모공, 기미, 레이저후 색소침착, 칙칙한 피부뿐 아니라 <br>
                                    피부노화 예방 또는 치료를 원하시는 경우나 <br>
                                    잔주름이나 거친 피부, 건조한 피부를 가지신 분들에게 효과적입니다.<br>
                                    문제성 있는 바디스킨을 개선하고 효과를 보고 싶으신 분이나,<br>
                                    출산 후 빠른 회복과 <b>예쁜 바디라인</b>을 만들고 싶으신 분들, 지방흡입술등으로 <br>
                                    바디라인 성형수술을 받으신 분들을 위한 <b>전신케어</b>로 더 아름다운 바디스킨을 만나실수 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="width:100%;position:absolute;top:1300px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                수사술이므로 통증이 적고 시술시간이 짧으면서도<br>
                                <b>보습효과, 피부톤 개선, 미백효과, 탄력증진에 리프팅 효과</b>까지 가지고 있습니다.
                            </div>
                        </div>
               
                        <div class="body-text small" style="top:1490px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                병적인 원인이 있는 줄도 모르고 피부관리실을 찾아 관리를 받아도 <br>
                                근본적 원인이 해결되지 않아 다시 문제가 재발하거나 <br>
                                아예 나아지지 않는 경우가 있습니다. <br>
                                이런 경우는 전문의의 관리하에 치료가 이루어져야합니다. <br>
                                다른 경우는, 외상또는 내적 원인으로 발생한 피부트러블을 <br>
                                병원에서 진료를 받아 병적 치료는 완료되었지만, 미용학적 관리가 이루어 지지 않아 <br>
                                미적인 요소가 결실 된 치료결과가 나타날 경우입니다. <br>
                                내일N에서는 이런 번거러움을 <b>한 번에 해결</b>해 드리고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1690px;height:200px;left:410px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1825px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:390px;">
                                풍부한 경험의 의료진
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2000px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2110px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;사우나나 운동등 얼굴에 열을 일으킬수 있는 활동은 시술후 3-4일 정도는 삼가해주시기 바랍니다.</p>
                                <p>&ensp;시술 후 3-4일 정도는 세안 후 두드리듯이 물기를 제거해 주십시요.</p>
                                <p>&ensp;시술 당일에는 시술 부위를 만지거나 눌러보지 마시며 특히 맛사지등을 받지 않도록 주의하셔야합니다.</p>
                                <p>&ensp;색소침착 예방을 위해 자외선차단제 SPF35 이상을 사용해주시고 재생연고를 3-5일정도 펴바르듯 발라주셔야 합니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->

					<div class="tab-body" id="tab6" style="height:2600px;">
						<div class="body-text large" style="position:absolute;top:120px;left:630px;" align="right">
                            <div class="text-header">액취증</div>
                            <div class="text-body" style="font-size:20px">
                                우리 몸의 땀샘은 체온조절과 노폐물 배출을 하는 <br>
                                에크라인한선(eccrine sweet gland)과 <br>
                                겨드랑이같이 주로 분포하여 지방산들을 배출하는 <br>
                                아포크라인한선(apocrine sweet gland)로 나누어집니다.<br>
                                사춘기를 겪으면서 아포크라인한선은 더 왕성하게 작용합니다.<br>
                                이곳에 분비된 땀이 피부표면의 세균에 의해 암모니아등을 형성해 <br>
                                고약한 냄새를 방출하게 되고 심할 경우 액취증을 유발합니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I6.png" style="position:absolute;right:100;top:160px;max-width:50%;width:100%;"/>
                        
                        <div class="body-text small" style="top:580px;">
                            <div class="text-header" style="color:orange;">치료대상</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    다른 성형술과 달리 액취증은 우선 내가 치료대상인가부터 분명히 해야하는 질환입니다. <br>
                                    1차 치료대상은 흰옷을 입으면 저녁무렵 <b>겨드랑이 부분이 노랗게</b> 변해 있고, <br>
                                    다른 부위에 비해 <b>겨드랑이 땀</b>이 심하여 그 부분이 축축히 젖어 있는 경우나, <br>
                                    <b>귀지가 축축</b>하게 젖어있으며 <b>가족중 액취증</b> 치료를 받은 사람이 있는 경우입니다.<br>
                                    그리고 냄새에 대한 걱정때문에 <b>사회생활과 인관관계에 제한</b>을 받으시는 분에 한합니다.<br>
                                    이러한 경우이어도 최종적 결정은 의료진가 상담을 받으신 후 결정하시기를 권합니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:960px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    과거에는 약물로 치료를 하였으나 현재는 피하지방층에 아포트라인한선을 <br>
                                    직접 절개하지 않고 <b>특수하게 고안된 흡입기</b>를 이용하여 제거하는 방법을 사용합니다.<br>
                                    기존의 절개법에 비해 수술시간과 통증이 현저히 줄었고, <br>
                                    0.5cm의 절개선은 피부주름과 합쳐져 거의 눈에 띄지 않게 됩니다.
                                </div>
                             </div>
                        </div>
                        <div style="width:100%;position:absolute;top:1270px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/B1_2.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                0.5cm의 절개선은 피부 주름과 함쳐져 거의 눈에 띄지 않습니다.
                            </div>
                        </div>
               
                        <div class="body-text small" style="top:1490px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                의학적 요소를 많이 가진 액취증 치료는 <br>
                                경험이 풍부하고 오랜 기술력을 가진 의사의 시술이어야 <br>
                                효과를 크게 봅니다. <br>
                                내일N의 원장님은 오랜시간 대학병원에서의 임상경험으로 <br>
                                위험부담을 최소하하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1630px;height:200px;left:360px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1765px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:340px;">
                                풍부한 경험의 의료진
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:1900px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2010px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;수술로 악취가 줄었어도 자기 관리를 해주시는 생활습관을 가지도록 해주셔야 합니다.</p>
                                <p>&ensp;목욕을 자주해서 청결을 유지하시고 겨드랑이 부근은 항상 건조한 상태를 유지하며 땀이 잘 흡수되는 <br>
                                &ensp;&ensp;&ensp;&ensp;천연섬유 속옷을 입도록 합니다.</p>
                                <p>&ensp;제모를 하시는 것도 좋은 방법이며 데오(deodorant, 데오도란트)등을 이용하시는 것도 좋으십니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
                    
                    <div class="tab-body" id="tab7" style="height:2700px;">
						<div class="body-text large" style="top:120px;">
                            <div class="text-header">다한증</div>
                            <div class="text-body">
                                다한증이란 손발 또는 겨드랑이등에 땀이 많이 나는 증상을 뜻하나 <br>
                                주관적인 관점에서 많고 적음을 따지게 되어 <br>
                                그 양을 정확히 측정하기가 어렵습니다.
                            </div>
                        </div>
                        <img src="/assets/images/subpage/skin/I7.png" style="position:absolute;right:0;top:120px;max-width:45%;width:100%;"/>
                        
                        <div style="width:100%;position:absolute;top:680px;">
                            <div style="float:left;width:10%;"><img src="/assets/images/subpage/skin/I7_CAUSE_1.png" /></div>
                            <div style="float:left;width:80%;padding-left:1rem;font-size:24px;">
                                1. 펴경, 갑상선 기능항진등으로 인한 전신질환에 관련된 다한증<br>
                                2. 항우울제등에 의한 약물중독에서 오는 다한증<br>
                                3. 교감신경절 차단 후 원인이 되는 보상성 다한증<br>
                                4. 맵고 뜨거운 음식에 의한 미각 다한증
                            </div>
                        </div>
                        
                        <div class="body-text small" style="top:920px;">
                            <div class="text-header" style="color:orange;">치료대상</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    다한증의 경우 환자의 주관적인 호소와 객관적인 현상을 비교적 일치시켜 <br>
                                    병명을 내리게 됩니다. <br>
                                    <b>상세한 상담</b>과 <b>환자의 진술</b>이 가장 중요한 진단의 기준이 되기 때문에 <br>
                                    상담을 꼭 받으시고 결정을 하셔야합니다.<br>
                                    특히 겨드랑이 다한증은 액취증과 구별을 위해 <br>
                                    귀지의 유전영향, 털의 상태에 대한 확인도 필요합니다.<br>
                                    그리하여 땀을 흘릴 조건이 아닌 상태에서 무작위적으로 나는 경우를 <br>
                                    전형적인 다한증이라 보게 됩니다.<br>
                                    일반적으로 다른이에 비해 유달리 땀이 많고 더위나 체온 변화와 무관하게 땀이 많이 나며, <br>
                                    심한 과체중이 아님에도 불구하고 땀이 많을시 또는 땀이 전신적으로 나는 것이 아니라 <br>
                                    국소적(특히 겨드라이, 손, 발)으로 나는 경향을 가졌을 시 해당됩니다.<br>
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1470px;">
                            <div class="text-header" style="color:orange;">시술방법</div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:22px;">
                                    보톡스치료 또는 액체증 치료과 같이 <b>흡입기</b>를 이용하여 <br>
                                    아포크라인선을 제거하는 방법이 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div class="body-text small" style="top:1720px;">
                            <div class="text-header">믿을 수 있는 <b>내일N</b></div>
                            <div class="text-body">
                                <div style="float:left;width:100%;padding-left:1rem;font-size:24px;">
                                <br>
                                의학적 요소를 많이 가진 다한증 치료는  <br>
                                <b>경험</b>이 풍부하고 오랜 <b>기술력</b>을 가진 의사의 시술이어야  <br>
                                효과를 크게 봅니다.  <br>
                                내일N의 원장님은 오랜시간 <b>대학병원</b>에서의 <b>임상경험</b>으로  <br>
                                위험부담을 최소하하고 있습니다.
                                </div>
                             </div>
                        </div>
                        
                        <div style="position:absolute;width:100%;top:1850px;height:200px;left:410px;" align="center">
                            <img src="/assets/images/subpage/anti/i1_why_1.png" style=""/>
                        </div>
                        
                        <div class="body-middle-box" style="font-size:15px;position:absolute;top:1985px;left:550px;" align="center">
                            <div class="text-body" style="position:absolute;left:390px;">
                                풍부한 경험의 의료진
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_logo_hr.png" style="position:absolute;top:2120px;left:50px;"/>
                        
                        <div class="body-text small" style="top:2230px;">
                            <div class="text-header" style="color:orange;">주의사항</div>
                            <div class="text-body">
                                <p>&ensp;다한증 수술을 하셨더라도 이러한 원인을 잘 알아 자기 관리를 잘 하시지 않으시면 <br>
                                &nbsp;&ensp;&ensp;&ensp;&ensp;재발의 위험이 있으니 주의해 주시기 바랍니다.</p>
                            </div>
                        </div>
                        
                        <img src="/assets/images/subpage/nose/A1_bg.png" style="position:absolute;bottom:50px;right:0px;"/>
					</div><!-- /.tab-body -->
				</div><!-- /.tabs-body -->
			</div><!-- /.tabs -->
    </div>
    <%- include('../../common/footer') -%>
</div><!-- /.wrapper -->
<script>
    $(document).ready(function(){
        var page = <%= page %>;
        $('li:nth-child(' + page + ')').find('a').trigger('click');
    });
    
</script>
</body>
</html>